{# "extras" section for different resources, list, add and edit #}
{% load i18n %}
{% load ocl_tags %}

<div ng-controller="ResourceExtraController" >

<div class="row" >
    <div class="col-md-2" style="text-align:right;font-weight:bold;color:#999;">
        Extras
    </div>
    <div class="col-md-8">

    {% if_can_change source %}

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="item in item_list" class="list-group-item">
                <button type="button" class="btn btn-link" ng-click="setEditedItem(item);startEditingItem();"><span class="glyphicon glyphicon-pencil"></span></button>
                <span class="text-muted" style="font-weight:bold">{{ item.extra_name}}</span> <span class="text-muted small">:</span> <span class="extra-value">{{ item.extra_value }}</span>
                <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteItem(item)"></span>
                <span ng-show="debug"><pre>{{ item }}</pre></span>
            {% endverbatim %}
            </li>
        </ul>

    {% else %}

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="item in item_list" class="list-group-item">
                <span class="text-muted">{{ item.extra_name}}</span> <span class="text-muted small">:</span> <span class="extra-value">{{ item.extra_value }}</span>
                <span ng-show="debug"><pre>{{ item }}</pre></span>
            {% endverbatim %}
            </li>
        </ul>

    {% endif_can_change source %}
    </div>
</div> {# outer row #}


<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-6">

        {% include 'includes/ng_alerts_incl.html' %}

        {% if_can_change source %}

        <!-- CREATING -->
        <div ng-if="shouldShowCreatingItem()">

            <button type="button" class="btn btn-link" ng-click="startCreatingItem()">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add Extra' %}
            </button>

            <form name="extra_add_form" ng-submit="extra_add_form.$valid && addItem(newItem)" ng-show="isCreatingItem">

                {% csrf_token %}

                <div class="form-group required" ng-class="{ 'has-error': extra_add_form.extra_name.$invalid && !extra_add_form.extra_name.$pristine }">
                    <label class="control-label" for="id_extra_name">Extra Name</label>
                    <input class="form-control" id="id_extra_name" name="extra_name" placeholder="Name" required="required" title="" type="text" ng-model="newItem.extra_name" ng-pattern="/^[a-zA-Z0-9-]+$/" />
                    {% verbatim %}
                    <p class="help-block" ng-show="extra_add_form.extra_name.$error.pattern">Name must be alphanumeric {{ extra_add_form.$valid }}</p>
                    {% endverbatim %}
                </div>

                <div class="form-group">
                    <label class="control-label" for="id_extra_value">Extra Value</label>
                    <input class="form-control" id="id_extra_value" name="extra_value" placeholder="Extra Value" required="required" title="" type="text" ng-model="newItem.extra_value" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="extra_add_form.$invalid">{% trans 'Add Extra' %}</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="cancelCreatingItem()">{% trans 'Cancel' %}</button>
                </div>
            </form>
        </div> {# if creating show #}


        <!-- EDITING -->
        <div ng-if="shouldShowEditingItem()">
            {% verbatim %}<h4>Editing Extra</h4> {% endverbatim %}
            <form ng-submit="updateItem(editedItem)" ng-show="isEditingItem">
                
                {% csrf_token %}

                <div class="form-group required">
                    <label class="control-label" for="id_extra_name">Extra Name</label>
                    <input class="form-control" id="id_extra_name" name="extra_name" placeholder="Name" required="required" title="" type="text" ng-model="editedItem.extra_name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_extra_value">Extra Value</label>
                    <input class="form-control" id="id_extra_value" name="extra_value" 
                        placeholder="Extra Value" required="required" title="" type="text"
                        ng-model="editedItem.extra_value" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Update Extra' %}</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="cancelEditingItem()">{% trans 'Cancel' %}</button>
                </div>
            </form>
        </div> {# editing #}

        {% endif_can_change concept %}

    </div> {# col6 for form for extra #}

</div> {# row #}
</div> {# extra controller #}  