{% extends "sources/source_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}
{% load humanize %}


{% block tab-content %}
<div class="container">
<div class="row" ng-controllerx="SourceSearchController">
<form action="." method="get">

<!-- Start left column -->

    <div class="col-md-3">

<!-- Filters -->

		{% for facet in search_facets %}
		<div class="filter-group">
			<div class="filter-group-header">{{ facet.search_filter_name }}</div>
			<div class="filter-group-body">
				{% for facet_key, facet_option in facet.options.iteritems %}
					{% if facet_option.option_num > 0 %}
						<div class="checkbox"><label><input type="checkbox" name="{{ facet.search_filter_name }}" value="{{ facet_option.option_value }}" {% if facet_option.selected %}checked{% endif %}>{{ facet_option.option_name }}&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">{{ facet_option.option_num|intcomma }}</span></label></div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% empty %}
		<h3><small>No filters.</small></h3>
		{% endfor %}

<!-- End left column -->

	</div>

<!-- Start right column -->

	<div class="col-md-9">

<!-- Search selecters -->

		<div class="row" style="padding:15px 0;">
			<div class="col-md-12" style="padding-left:0;padding-right:0;">

				<!-- Simple pager -->
                {% simple_pager current_page 'mapping' url=pagination_url %}

				<!-- Sort by dropdown -->
				<div class="btn-group pull-right" style="padding-top:5px;margin-right:10px;">
				  	<select name="sort" class="btn btn-default btn-xs xdropdown-toggle">
				  		{% for sort_option in search_sort_options %}
				    	<option {% if search_sort == sort_option %}selected{% endif %}>{{ sort_option }}</option>
				    	{% endfor %}
				  	</select>
				</div>

				<!-- Sort by label -->
				<div class="btn-group pull-right small" style="padding-top:6px;"><span>Sort by:&nbsp;</span></div>

				<!-- New Mapping Button -->
				{% if_can_change source %}
				{# TODO: Only allow if viewing "head" -- for now mapping is always added to head #}
					{% if source.owner_type == 'Organization' %}
						{% url 'mapping-create-for-org' org=source.owner source=source.id as new_mapping_url %}
					{% else %}
						{% url 'mapping-create-for-user' user=source.owner source=source.id as new_mapping_url %}
					{% endif %}
				<div class="pull-left" style="padding-right:8px;">
					<a class="btn btn-link btn-sm" href="{{ new_mapping_url }}"><span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans 'New Mapping' %}</a>
				</div>
				{% endif_can_change %}

				<!-- Source version dropdown -->
				<div class="btn-group pull-left" style="padding-right:5px;">
				  	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				    	<span class="text-muted">Source Version:</span> <strong>{% if source_version %}{{ source_version }}{% else %}head{% endif %}</strong> <span class="caret"></span>
				  	</button>
				  	<ul class="dropdown-menu" role="menu">
				  	{% for source_version_i in source_versions %}
				  		{% if source.owner_type == 'Organization' %}
				  			{% url 'source-version-mappings' org=source.owner source=source.id source_version=source_version_i.id as source_version_i_url %}
				  		{% else %}
				  			{% url 'source-version-mappings' user=source.owner source=source.id source_version=source_version_i.id as source_version_i_url %}
				  		{% endif %}
				  		<li {% if source_version == source_version_i.id %}class="active"{% endif %}><a href="{{ source_version_i_url }}">{% if source_version_i.released %}<strong>{% endif %}{{ source_version_i.id }}{% if source_version_i.released %}</strong> <span class="text-muted">(Released)</span>{% endif %}</a></li>
				    {% endfor %}
				  	</ul>
				</div>

				<!-- Source version dropdown -->
		        <div class="input-group input-group-sm pull-left" style="width:180px;">
		            <input type="text" name="q" class="form-control" placeholder="Search mappings within source" value="{{ search_query }}">
		            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>

			</div>
		</div>


<!-- Search results -->

        {% for result in results %}
			{% if result.owner_type == 'Organization' %}
				{% url 'mapping-home' org=result.owner source=result.source mapping=result.id as mapping_url %}
			{% else %}
				{% url 'mapping-home' user=result.owner source=result.source mapping=result.id as mapping_url %}
			{% endif %}

			<div class="row row-search-result"> 
				<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
				<div class="col-md-1 search-result-col-icon"><span class="glyphicon glyphicon-link search-result-icon"></span></div>
				<div class="col-md-10 search-result-col-content">
					<div class="label-container">
						<!-- map_type label -->
						{% generic_resource_label resource_type='mapping' resource_id=result.id resource_name=result.map_type resource_url=mapping_url resource_retired=result.retired owner_type=result.owner_type owner_id=result.owner source_id=result.source label_size='small' display_breadcrumb=True %}

						<!-- from_concept label -->
						{# TODO: we do not know if this concept is retired #}
						<div style="padding: 8px 0 8px 20px;">
							<span class="text-muted small">From:</span>&nbsp;&nbsp;{% mapping_from_concept_label result label_size="small" %}
						</div>

						<!-- to_concept label -->
						<div style="padding: 0 0 8px 20px;">
							<span class="text-muted small">To:</span>&nbsp;&nbsp;{% mapping_to_concept_label result label_size="small" %}
						</div>						
					</div>
					<p>
						<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% empty %}
			<h3><small>{% trans 'No mappings found' %}</small></h3>
		{% endfor %}

<!-- Pagination -->

        {% if results %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination current_page url=pagination_url %}
			</div>
		{% endif %}

<!-- End right column -->

	</div>

</form>
</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
<h4>Concepts</h4><pre>{{ results|pprint }}</pre>
<h4>Facets</h4><pre>{{ search_facets|pprint }}</pre>
{% endblock resource-debug %}