{# Source version tab CRUD screen #}
{% load i18n %}
{% load ocl_tags %}

<tab heading="Source Versions"  ng-controller="SourceVersionController"> {# ----- start source versions tab #}

<div class="row">
    <div class="col-md-10">

        &nbsp;
        <ul>
            <li ng-repeat="version in item_list|orderBy:'-created_on'" class="list-group-item" ng-style="{'background-color: #eee': version._ocl_processing">
                {% verbatim %}
                    <div class="search-result-col-icon pull-left" style="padding-top:0;padding-right:14px;margin-bottom:20px;">
                      <span class="glyphicon glyphicon-asterisk search-result-icon"></span>
                    </div>
                    <div ng-if="version._ocl_processing" class="pull-right">
                        <button type="button" class="btn btn-link" ng-click="setEditedItem(version);startEditingItem();" ><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash" ng-click="deleteItem(version)"></span></button>
                    </div>
                    <h4>
                        <span class="resource-label small concept"><span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-asterisk"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ version.owner }} / [:source] / </span><span class="resource-label-id-code">{{ version.id }}</span></span></span>
                        <span ng-if="version.released">&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-primary">Released</span></span>
                        <span ng-if="version._ocl_processing">&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning">Processing</span></span>
                    </h4>
                    <p>
                        <span ng-if="version.description">{{ version.description }}<br /></span>
                        <span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Created on {{ version.created_on|date:'yyyy-MM-dd HH:mm:ss' }}</span>
                    </p>
                {% endverbatim %}
            </li>
        </ul>

    </div> {# list col10 #}
</div> {# list row #}


<div class="row">
<div class="col-md-10">
{% include 'includes/ng_alerts_incl.html' %}
</div>
</div>


<div class="row">
<div class="col-md-6">


<!-- CREATING -->
<div ng-if="shouldShowCreatingItem()">

    <button type="button" class="btn btn-link" ng-click="startCreatingItem()">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans 'Add Version' %}
    </button>

    <div>
      {% verbatim %}{{ message }}{% endverbatim %}
    </div>

    <form ng-submit="addItem(newItem)" ng-show="isCreatingItem">
    {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_id">Version ID</label>
            <input class="form-control" id="id_id" maxlength="60" name="version_id" placeholder="Version ID (e.g. 'v1.1' or '2015-06-15')" required="required" title="" type="text" ng-model="newItem.id" />
        </div>

        <div class="form-group required">
            <label class="control-label" for="id_description">Description</label>
            <input class="form-control" id="id_description" maxlength="250" name="description" placeholder="Description" required="required" title="" type="text" ng-model="newItem.description" />
        </div>

        <div class="form-group required">
            <label class="control-label" for="id_previous_version">Previous Version ID</label>
            <input class="form-control" id="id_previous_version" maxlength="60" name="previous_version" placeholder="Previous Version ID (e.g. 'v0.9' or '2014-10-19')" required="required" title="" type="text" ng-model="newItem.previous_version" />
        </div>

        <div class="form-group required">
          <div class="checkbox">
            <label><input type="checkbox" name="released" ng-model="newItem.released">{% trans 'Released' %}</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans 'Add Version' %}</button>
          <button type="button" class="btn btn-default pull-right" ng-click="cancelCreatingItem()">{% trans 'Cancel' %}</button>
         </div>
    </form>
</div> {# if creating show #}


<!-- EDITING -->
<div ng-if="shouldShowEditingItem()">

    {% verbatim %}<h4>Editing Version  {{ editedItem.id }}</h4> {% endverbatim %}
    <form ng-submit="updateItem(editedItem)" ng-show="isEditingItem">
    {% csrf_token %}
        <input class="form-control" id="id_id" maxlength="60" name="id" placeholder="ID" required="required" title="" type="hidden" value="editedItem.id" ng-model="editedItem.uuid" />

        <div class="form-group required">
            <label class="control-label" for="id_description">Description</label>
            <input class="form-control" id="id_description" maxlength="250" name="description" placeholder="Description" required="required" title="" type="text" ng-model="editedItem.description" />
        </div>

        <div class="form-group required">
          <div class="checkbox">
            <label><input type="checkbox" name="released" ng-model="editedItem.released">{% trans 'Released' %}</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans 'Update Version' %}</button>
          <button type="button" class="btn btn-default pull-right" ng-click="cancelEditingItem()">{% trans 'Cancel' %}</button>
        </div>
    </form>
</div> {# editing #}


</div> {# col6 for form for description #}
</div> {# row #}

</tab> {# ----- end source versions tab #} 
