{% extends "sources/source_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}
{% load humanize %}


{% block tab-content %}
<div class="container-fluid">
<div class="row" ng-controllerx="SourceSearchController">
<form action="." method="get">

	<!-- Start left column -->
	<div class="col-sm-3 hidden-xs">

		<!-- Filters -->
		<div role="form">
			{% for search_filter in search_filters %}
			<div class="filter-group">
				<div class="filter-group-header">{{ search_filter.filter_name }}</div>
				<div class="filter-group-body">
					{% for filter_option in search_filter.options %}
						{% if filter_option.option_num > 0 or search_filter.attrs.show_zeroed_options %}
							<div class="checkbox"><label><input type="checkbox" name="{{ search_filter.filter_id }}" value="{{ filter_option.option_value }}" {% if filter_option.selected %}checked{% endif %}>{{ filter_option.option_name }}{% if not search_filter.attrs.hide_numbers %}&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">{{ filter_option.option_num|intcomma }}</span>{% endif %}</label></div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>

	<!-- End left column -->
	</div>

	<!-- Start right column -->
	<div class="col-sm-9">

		<!-- Search Toolbar -->
		<div class="row" style="margin-bottom:10px;margin-top:10px;">
			<div class="col-xs-12">

				{% if results %}
				<!-- Simple pager -->
				{% simple_pager current_page 'mapping' url=pagination_url pager_size='small' hide_xs=1 %}
				{% endif %}

				{% if results %}
				<!-- Sort By Dropdown -->
				<div class="hidden-xs btn-group pull-right" style="margin-right:8px;">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-sort"></span> <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					{% for sort_option_def in search_sort_option_defs %}
						{% if source.owner_type == 'Organization' %}
							{% if kwargs and "source_version" in kwargs %}
								{% url 'source-version-mappings' org=source.owner source=source.id source_version=kwargs.source_version as source_mappings_url %}
							{% else %}
								{% url 'source-mappings' org=source.owner source=source.id as source_mappings_url %}
							{% endif %}
						{% else %}
							{% if kwargs and "source_version" in kwargs %}
								{% url 'source-version-mappings' user=source.owner source=source.id source_version=kwargs.source_version as source_mappings_url %}
							{% else %}
								{% url 'source-mappings' org=source.owner source=source.id as source_mappings_url %}
							{% endif %}
						{% endif %}
						<li {% if search_sort == sort_option_def.value %}class="active"{% endif %}><a href="{{ source_mappings_url }}?{{ transferrable_search_params }}&amp;sort={{ sort_option_def.value|urlencode }}"><span class="glyphicon {{ sort_option_def.icon }}"></span>&nbsp;{{ sort_option_def.display }}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}

				<!-- Exact match checkbox (always render, hidden on xs display) -->
				<div class="hidden-xs btn-group pull-right" style="padding-left:4px;margin-top:6px;margin-right:8px;">
					<label for="exact_match_repository_search" style="font-weight:300;cursor:pointer;">
						<input name="exact_match" type="checkbox" tooltip="Exact match" {% if request.GET.exact_match %}checked="checked"{% endif %} id="exact_match_repository_search" style="cursor:pointer;" />
						<span class="small">Exact match</span>
					</label>
				</div>

				<!-- External Reference Search -->
				<div class="input-group input-group-sm" style="width:auto;margin-right:6px;">
					<input type="text" name="q" class="form-control" id="resourceFilter" placeholder="Search external references" value="{{ search_query }}">
					<span class="input-group-btn"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
				</div>

			</div> <!-- /col-sm-12-->
		</div> <!-- /row -->


<!-- Search results -->
{% for result in results %}
		{% if result.owner_type == 'Organization' %}
			{% url 'mapping-home' org=result.owner source=result.source mapping=result.id as mapping_url %}
		{% else %}
			{% url 'mapping-home' user=result.owner source=result.source mapping=result.id as mapping_url %}
		{% endif %}

		<div class="row row-search-result">
			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="hidden-xs col-sm-1 search-result-col-icon"><span class="glyphicon glyphicon-link search-result-icon"></span></div>
			<div class="col-xs-12 col-sm-11 search-result-col-content">
				<div class="label-container">
					<!-- map_type label -->
					{% generic_resource_label resource_type='mapping' resource_id=result.id resource_name=result.map_type resource_url=mapping_url resource_retired=result.retired owner_type=result.owner_type owner_id=result.owner source_id=result.source label_size='small' display_breadcrumb=True %}

					<!-- from_concept label -->
					{# TODO: we do not know if this concept is retired #}
					<div style="padding: 8px 0 8px 20px;">
						<span class="text-muted small">From:</span>&nbsp;&nbsp;{% mapping_from_concept_label result label_size="small" %}
					</div>

					<!-- to_concept label -->
					<div style="padding: 0 0 8px 20px;">
						<span class="text-muted small">To:</span>&nbsp;&nbsp;{% mapping_to_concept_label result label_size="small" %}
					</div>						
				</div>
				<div class="resource-metadata"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</div>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>
		</div>
{% empty %}
		<h3><small>{% trans 'No external references found' %}</small></h3>
{% endfor %}

		<!-- Pagination -->
		{% if results %}
		<div class="row" style="text-align:center;">
			{% bootstrap_pagination current_page url=pagination_url %}
		</div>
		{% endif %}

	<!-- End right column -->
	</div>

</form>
</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL kwargs</h4><pre>{{ kwargs|pprint }}</pre>
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Search Params</h4><pre>{{ search_params|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
<h4>Search Results: External Mappings</h4><pre>{{ results|pprint }}</pre>
<h4>Search Filters</h4><pre>{{ search_filters_debug|pprint }}</pre>
<h4>Search Facets</h4><pre>{{ search_facets_json|pprint }}</pre>
{% endblock resource-debug %}
