{% extends "base.html" %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{{ source.id }}{% endblock title %}

{% block content-no-container %}

<header class="source-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;">
					<span class="glyphicon glyphicon-th-list"></span>
				</div>
				<div style="display:inline-block;padding-left:20px">
					<h3>
						{% source_owner_label source %} / {% source_label source %}
						{# TODO: Only show if admin or owner #}
						{% if source.owner_type == 'Organization' %}
						<a href="{% url 'source-edit' org=source.owner source=source.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
						{% else %}
						<a href="{% url 'source-edit' user=source.owner source=source.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
						{% endif %}
					</h3>

					<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last Updated ({{ source.updated_on|smart_datetime }})</span>
					<span class="org-privacy">public</span>
					<!--div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">All Source Fields <span class="pull-right">&blacktriangleright;</span></h3>
						</div>
						<div class="panel-body hidden">
							{% for key, value in source.items %}
							<div class="row">
								<div class="col-md-3" style="text-align:right;font-weight:bold;color:#999;">{{ key }}</div>
								<div class="col-md-9">{{ value }}</div>
							</div>
							{% endfor %}
						</div>
					</div--> <!-- /panel -->
				</div>
		        {% if request.GET.debug %}
		        	<h5>Source</h5><pre>{{ source|pprint }}</pre>
		        	<h5>Concepts</h5><pre>{{ concepts|pprint }}</pre>
		        {% endif %}</li>
			</div>
		</div> <!-- /row -->
	
	</div> <!-- /container -->
</header>

<!-- Start concepts section -->

<div id="concepts" class="container" ng-app="ConceptApp">

{# tabs #}
<tabset>
<tab heading="Concepts">
{# ----- Start of source concepts tab ----- #}

	<div class="row" ng-controller="SourceSearchController">

<!-- Filters -->

		<div class="col-md-3">
			<div class="filter-group">
				<div class="filter-group-header">Concept Class</div>
				<div class="filter-group-body">
					<div class="checkbox"><label><input type="checkbox"> Anatomy</label></div>
					<div class="checkbox"><label><input type="checkbox"> Diagnosis</label></div>
					<div class="checkbox"><label><input type="checkbox"> Drug</label></div>
					<div class="checkbox"><label><input type="checkbox"> Finding</label></div>
					<div class="checkbox"><label><input type="checkbox"> Symptom</label></div>
					<div class="checkbox"><label><input type="checkbox"> Test</label></div>
					<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
				</div>
			</div>

			<div class="filter-group">
				<div class="filter-group-header">Datatype</div>
				<div class="filter-group-body">
					<div class="checkbox"><label><input type="checkbox"> Boolean</label></div>
					<div class="checkbox"><label><input type="checkbox"> Coded</label></div>
					<div class="checkbox"><label><input type="checkbox"> Date</label></div>
					<div class="checkbox"><label><input type="checkbox"> N/A</label></div>
					<div class="checkbox"><label><input type="checkbox"> Numeric</label></div>
					<div class="checkbox"><label><input type="checkbox"> Text</label></div>
					<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
				</div>
			</div>
		</div>

<!-- Search selecters -->

		<div class="col-md-9">
			<div class="row" style="padding-top:20px;">
				<div class="col-md-12">
					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="text-muted">Sort:</span> <strong>Best Match</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Sort</a></li>
					    <li><a href="#">Another sort</a></li>
					    <li><a href="#">Something else here</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="text-muted">Version:</span> <strong>Latest</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Head</a></li>
					    <li><a href="#">Latest Version</a></li>
					    <li><a href="#">An older version</a></li>
					  </ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="padding-top:20px;padding-bottom:20px;">
				{% verbatim %}
			      <div class="input-group">
			        <input type="text" class="form-control" placeholder="Search Source" ng-model="search.text">
			         <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="doSearch(search)">Search</button>
			      </span>
			      </div>
				{% endverbatim %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					We found {{ concepts|length }} concepts in this source.

					<div class="pull-right">
						{% if source.owner_type == 'Organization' %}
						<a class="btn btn-default" href="{% url 'concept-create-for-org' source.owner source.id %}">Add Concept</a>
						{% else %}
						<a class="btn btn-default" href="{% url 'concept-create-for-user' source.owner source.id %}">Add Concept</a>
						{% endif %}
					</div>
				</div>
			</div>

	<!-- Display source search results -->

	        {% for result in concepts %}
				<div class="row row-search-result">
					<div class="col-md-1 search-result-col-checkbox">
						<input type="checkbox" />
					</div>
					<div class="col-md-1 search-result-col-icon">
						<span class="glyphicon glyphicon-tag search-result-icon"></span>
					</div>
					<div class="col-md-10 search-result-col-content">
						<div class="pull-right small text-muted" style="padding-top:12px;">
							<a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}#stars" title="Stars"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;?</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}#collections" title="Collections containing this concept"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;?</a>
						</div>

						<h4>
							{% if result.owner_type == 'Organization' %}
							<a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}" style="text-decoration: none;">
							{% else %}
        						<a href="{% url 'concept-detail' user=result.owner source=result.source concept=result.id %}" style="text-decoration: none;">
							{% endif %}

							<span class="resource-label small concept">
								<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / {{ result.source }} / </span><span class="resource-label-id-code">{{ result.id }}</span></span><span class="resource-label-name">{{ result.display_name }}</span>
							</span>
						</a></h4>

						<p>
							<em>Class:</em> {{ result.conceptClass }}, <em>Datatype:</em> {{ result.datatype }}<br />
							{% if result.updatedOn %}<br /><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last Updated {{ result.updatedOn }}</span>{% endif %}
						</p>
						{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
					</div>
				</div> <!-- /row -->
			{% endfor %}

	<!-- Pagination -->

			<div class="row" style="text-align:center;">
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>

		</div>
	</div> <!-- /row -->

</tab> {# ----- end source conepts tab #}


<tab heading="Source Details"> {# ----- start source details tab #}
<div class="row">
{% field_label 'Full Name' source.full_name %}
{% field_label 'Description' source.description %}
{% field_label 'Website' source.website url=True %}
{% field_label 'Created By' source.created_by %}
{% field_label 'Created on' source.created_on|smart_date %}
{% field_label 'Updated by' source.created_by %}
{% field_label 'Updated on' source.created_on %}
</div>	

{% include 'concepts/concept_detail_extra.html' %}

</tab> {# ----- end source details tab #}

{% include 'sources/source_detail_version.html' %}


<tab heading="About"> {# ----- start source About tab #}
	{% include 'sources/source_about_text.html' %}
</tab> {# ----- end source About tab #}
</tabset>
</div> <!-- /container -->



{% endblock content-no-container %}