{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}


{% block title %}{% trans "Edit Source" %}{% endblock %}


{% block content %}
{% if source.owner_type == 'Organization' %}
	{% url 'source-home' org=source.owner source=source.id as source_home_url %}
    {% url 'source-delete' org=source.owner source=source.id as source_delete_url %}
{% else %}
	{% url 'source-home' user=source.owner source=source.id as source_home_url %}
    {% url 'source-delete' user=source.owner source=source.id as source_delete_url %}

{% endif %}

<h3>
  {% resource_owner_label source %} / {% source_label source %} / {% trans "Edit Source" %}
  {# TODO: Only show if admin or owner #}
    {% if_can_change source %}
        <a href="{{ source_delete_url }}" class="small text-muted" id="delete-source">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    {% endif_can_change source %}
</h3>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			&nbsp;
			{% field_label 'Short Code' source.short_code %}
			{% field_label 'Created By' source.created_by %}
			{% field_label 'Created On' source.created_on|smart_date %}
			{% field_label 'Owner' source.owner %}
			&nbsp;
		</div>
	</div> {# end row #}

	<div class="row">
		<div class="col-md-8">
			<form id="source_edit_form" method="post" action=".">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary" id="update-source">{% trans "Update" %}</button>
				    <a href="{{ source_home_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
				{% endbuttons %}
			</form>
		</div>
	</div> {# end row #}
    {% if failed_concept_validations %}
        <div class="modal fade " id="failed-validations">
            <div class="modal-dialog expanded" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ failed_concept_validations | length }} concepts failed validation against OpenMRS</h4>
                    </div>
                    <div class="modal-body">
                        <table id="failed-validations-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Concept</th>
                                    <th>Validation Error</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for concept_validation in failed_concept_validations %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{{ concept_validation.url }}">{{ concept_validation.mnemonic }}</a></td>
                                        <td>
                                            {% ifequal concept_validation.errors.items|length  1  %}
                                                {% for field, messages in concept_validation.errors.items %}
                                                    <strong>{{ field }}:</strong> {{ messages.0 }}
                                                {% endfor %}
                                            {% else %}
                                                <ul>
                                                    {% for field, messages in concept_validation.errors.items %}
                                                        <li><strong>{{ field }}:</strong> {{ messages.0 }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endifequal %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" id="close-modal"/>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#failed-validations-table").DataTable({
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "scrollY": 400,
                    "ordering": false,
                    "dom": "Bfrtip",
                    buttons: [
                        {
                            extend: 'csvHtml5',
                            title: "Failed-Validations",
                            text: "Download as CSV",
                            className: "pull-right"
                        }
                    ]
                });
            } );

            $('#failed-validations').modal('show');

        </script>
    {% endif %}


</div> {# end container #}

{% endblock %}
