{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}


{% block title %}{% trans "New Source" %}{% endblock %}


{% block content %}

<h3>
{% if org %}
    {% org_label org %}
{% else %}
    {% user_label ocl_user %}
{% endif %}
&nbsp;/&nbsp;
<span class="glyphicon glyphicon-list" style="color:#e5e5e5;"></span>&nbsp;&nbsp;{% trans 'New Source' %}
</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <form class="form-horizontal" id="source_create_form" method="post" action=".">
        {% csrf_token %}

        <div class="form-group required"><label class="col-md-2 control-label">Source Owner</label>
          <div class="col-md-4">
            {% if org %}
                {% org_label org %}
            {% else %}
                {% user_label ocl_user %}
            {% endif %}
          </div>
        </div>

        {% bootstrap_form form layout="horizontal" %}

        {% buttons layout="horizontal" %}
        <button type="submit" class="btn btn-primary">
          {% trans "Create Source" %}
        </button>
        {% endbuttons %}

      </form>

    </div>
  </div>
</div>

{% debug %}

{% endblock %}
