{% extends "sources/source_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
{% if source.owner_type == 'Organization' %}
	{% url 'source-version-new' org=source.owner source=source.id as source_version_new_url %}
{% else %}
	{% url 'source-version-new' user=source.owner source=source.id as source_version_new_url %}
{% endif %}

<div class="container" style="margin-top: 20px;">
	<div class="row">

		<div class="col-md-8">

			<!-- Source version search bar -->
	        <div class="form-group">
		        {% simple_pager current_page 'source version' url=pagination_url %}

				<div style="margin-left:40px;padding-right:10px;">
					<a href="{{ source_version_new_url }}" class="small" style="padding-right:10px;"><span class="glyphicon glyphicon-plus"></span> {% trans "New Source Version" %}</a>&nbsp;&nbsp;&nbsp;
					<label class="checkbox-inline input-sm text-muted"><input type="checkbox" name="source-version-filter" value="released" disabled /> {% trans "Released" %}</label>
					<label class="checkbox-inline input-sm text-muted"><input type="checkbox" name="source-version-filter" value="is_processing" disabled /> {% trans "Processing" %}</label>
				</div>
	    	</div>

			<!-- Source version search results -->
	        <ul>
	    		{% for source_version in source_versions %}
	    			{% if source_version.owner_type == 'Organization' %}
	    				{% url 'source-version-concepts' org=source_version.owner source=source.id source_version=source_version.id as source_version_concepts_url %}
	    				{% url 'source-version-edit' org=source_version.owner source=source.id source_version=source_version.id as source_version_edit_url %}
	    				{% url 'source-version-retire' org=source_version.owner source=source.id source_version=source_version.id as source_version_retire_url %}
	    			{% else %}
	    				{% url 'source-version-concepts' user=source_version.owner source=source.id source_version=source_version.id as source_version_concepts_url %}
	    				{% url 'source-version-edit' user=source_version.owner source=source.id source_version=source_version.id as source_version_edit_url %}
	    				{% url 'source-version-retire' user=source_version.owner source=source.id source_version=source_version.id as source_version_retire_url %}
	    			{% endif %}

		            <li class="list-group-item">
						{% comment %}
		                <div class="search-result-col-icon pull-left" style="padding-top:0;padding-right:14px;margin-bottom:20px;"><span class="search-result-icon"><span class="glyphicon glyphicon-asterisk"></span></span></div>
		                {% endcomment %}

		                {% if not source_version.is_processing %}
		                <div class="pull-right">
		                    <a href="{{ source_version_edit_url }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></a>
		                    <a href="{{ source_version_retire_url }}" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></a>
		                </div>
		                {% endif %}

		                <h4>
		                	<a href="{{ source_version_concepts_url }}" style="text-decoration:none;"><span class="resource-label small concept"><span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-asterisk"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ source_version.owner }} / {{ source.id }} [ </span><span class="resource-label-id-code">{{ source_version.id }}</span><span class="resource-label-id-breadcrumb"> ]</span></span></span></a>

		                    {% if source_version.released %}<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-primary">{% trans "Released" %}</span></span>{% endif %}

		                    {% if source_version.is_processing %}<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning">{% trans "Processing" %}</span></span>{% endif %}
		                </h4>

		                <p class="small">
		                    {% if source_version.description %}<span>{{ source_version.description }}<br /></span>{% endif %}
		                    <span class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{% trans "Created on" %} {{ source_version.created_on|smart_datetime }}</span>
		                </p>
		            </li>
	            {% empty %}
		            <li class="list-group-item"><h3><small>{% trans "No source versions." %}</small></h3></li>
	            {% endfor %}
	        </ul>
		</div>


		<!-- Tip -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">{% trans "Tip" %}</h3></div>
				<div class="panel-body">
					<p class="small">Create a new <strong>Source Version</strong> to save the state of a source's concepts and
					mappings at a specific point in time.</p>
					<p class="small">A <strong>Released</strong> source version indicates to your users that a particular source
					version is prepared for public consumption.</p>
				</div>
			</div>
		</div>

	</div> <!-- /row -->
</div> <!-- /container -->
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
<h4>Source Versions</h4><pre>{{ source_versions|pprint }}</pre>
{% endblock resource-debug %}
