{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Source Version" %}{% endblock %}
{% block content %}

	<h3>
  {% source_owner_label source %} / {% source_label source %} / {% trans "Add Source Version" %}
	</h3>



<div class="container">

<div class="row">
<div class="col-md-8">
&nbsp;
{% field_label 'Created By' source.created_by %}
{% field_label 'Created On' source.created_on|smart_date %}
{% field_label 'Owner' source.owner %}
&nbsp;
</div>
</div> {# row #}


<div class="row">
    <div class="col-md-8">

<form id="source_version_add_form" method="post" action=".">
  {% csrf_token %}


  {% bootstrap_form form %}


  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans "Add New Version" %}
  </button>
  {% endbuttons %}

    </form>

        </div>
    </div>
</div>


{% endblock %}
