{% extends "base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}

{% block title %}{{ org.id }} - Open Concept Lab{% endblock title %}

{% block content-no-container %}

{% block resource-header %}
<header class="resource-header resource-header-org">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="resource-header-icon hidden-xs"><span class="glyphicon glyphicon-home"></span></div>
                <div class="resource-header-label">
                    <div class="label-container">
                        {% org_label org %}
                        {% if_can_change org %}
                            <a href="{% url 'org-edit' org=org.id %}" class="text-muted small" title="Edit Organization"><span class="glyphicon glyphicon-cog"></span></a>
                        {% endif_can_change org %}
                    </div>
                    <p>
                        <h4>{{ org.name }}</h4>
                        <span class="text-muted small">
                        {% if org.location %}<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ org.location }}&nbsp;&nbsp;&nbsp;{% endif %}
                        <span class="glyphicon glyphicon-calendar"></span> Created on {{ org.created_on|smart_date }} by {{ org.created_by }}&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span> Last updated {{ org.updated_on|smart_date }} by {{ org.updated_by }}
                        </span>
                    </p>
                </div> <!-- /resource-header-label -->
            </div> <!-- /col-md-12 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</header>
{% endblock resource-header %}


{% block resource-tabs %}
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation" {% if selected_tab == "Sources" %}class="active"{% endif %}><a href="{% url 'org-sources' org.id %}">Sources</a></li>
        <li role="presentation" {% if selected_tab == "Collections" %}class="active"{% endif %}><a href="{% url 'org-collections' org.id %}">Collections</a></li>
        <li role="presentation" {% if selected_tab == "Details" %}class="active"{% endif %}><a href="{% url 'org-details' org.id %}">Details</a></li>
        <li role="presentation" {% if selected_tab == "About" %}class="active"{% endif %}><a href="{% url 'org-about' org.id %}">About</a></li>
    </ul>
</div>
{% endblock resource-tabs %}


{% block tab-content %}
{% endblock tab-content %}


{% if request.GET.debug %}
<div class="container" style="margin-top: 30px;">
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Debug</h4></div>
        <div class="panel-body" style="min-height:140px;">
        {% block resource-debug %}
            <h4>Debug Content</h4>
        {% endblock resource-debug %}
        </div>
    </div>
</div>
{% endif %}


{% endblock content-no-container %}
