{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}New Organization{% endblock %}
{% block content %}

<h1><span class="glyphicon glyphicon-home" style="color:#e5e5e5;"></span>&nbsp;&nbsp;New Organization</h1>
&nbsp;

<form role="form" method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
    	{% trans "Create Organization" %}
  	</button>
  	{% endbuttons %}
</form>

{% endblock content %}
