{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}Update Organization{% endblock %}
{% block content %}
<h3>{% org_label org %} / &nbsp;&nbsp;Update Organization
	{# TODO: Only show if admin or owner #}
	<a href="{% url 'org-edit' org.id %}" class="small text-muted"><span class="glyphicon glyphicon-trash"></span></a>
</h3>
&nbsp;

<form role="form" method="post" action=".">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
		<button type="submit" class="btn btn-default">{% trans "Cancel" %}</button>
	{% endbuttons %}
</form>
{% endblock content %}
