{% extends "base.html" %}

{% block content-no-container %}

<header class="org-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-home"></span></div>
				<div style="display:inline-block;padding-left:20px">
					<h4>
						<span class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ org.id }}</span>
						<a href="#" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
					</h4>
					<p>
						<h4>{{ org.name }}</h4>
						<span class="text-muted small">
						{% if org.location %}
							<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ org.location }}
							&nbsp;&nbsp;&nbsp;
						{% endif %}
						<span class="glyphicon glyphicon-calendar"></span> Created on ({{ org.created_on }})
						</span>
					</p>
				</div>

				{% if request.GET.debug %}
				<p>
				  Org: <br /><pre>{{ org|pprint }}</pre>
				  Sources: <br /><pre>{{ sources|pprint }}</pre>
				  Collections: <br /><pre>{{ collections|pprint }}</pre>
				  Members: <br /><pre>{{ members|pprint }}</pre>
				</p>
				{% endif %}

			</div> <!-- /col-md-8 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</header>

<!-- Start content section of org -->

<div class="container">
	<div class="row">

<!-- Listing of sources and collections -->

		<div class="col-md-8">

<!-- Sort / filter -->

			<div class="row" style="margin-bottom:20px;">
				<div class="col-md-12">

					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<span class="text-muted">Sort:</span> <strong>Best Match</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#">Best Match</a></li>
						<li><a href="#">Another sort</a></li>
						<li><a href="#">Something else here</a></li>
					  </ul>
					</div>

					<form class="form-inline">
						<div class="form-group">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="text-muted">Filter:</span> <strong>None</strong> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="#">Public</a></li>
								<li><a href="#">Private</a></li>
								<li><a href="#">Sources</a></li>
								<li><a href="#">Collections</a></li>
							  </ul>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group input-group-sm">
								<input name="f" id="resourceFilter" type="text" class="form-control" placeholder="Filter Sources and Collections" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</form>

				</div>
			</div> <!-- /row -->

<!-- Display sources that belong to this org -->

		{% for result in sources %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-th-list search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'source-detail' org=result.owner source=result.id %}#concepts" title="Active concepts in source"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'source-detail' org=result.owner source=result.short_code %}" style="text-decoration: none;">
						<span class="resource-label small source">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-th-list"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>
					<p>
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<!--br /--><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|date:"d-M-Y" }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% endfor %}

<!-- Display collections that belong to this org -->

		{% for result in collections %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-tags search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'collection-detail' org=result.owner collection=result.id %}#concepts" title="Concepts in collection"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'collection-detail' org=result.owner collection=result.id %}" style="text-decoration: none;">
						<span class="resource-label small collection">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tags"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>

					<p>
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|date:"d-M-Y" }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% endfor %}

<!-- Pagination -->

			<div class="row" style="text-align:center;">
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>

<!-- End Org resource listing -->

		</div> <!-- /col-md-8 -->

<!-- Org details pane -->

		<div class="col-md-4" style="margin-top:-120px;">

<!-- Org attributes -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Organization Details <span class="pull-right">&blacktriangleright;</span></h3>
				</div>
				<div class="panel-body hidden">
					<dl style="margin-bottom:0;">
					{% for key, value in org.items %}
						<dt class="small">{{ key }}:</dt>
						<dd class="small" style="padding-bottom:6px;">{{ value }}</dd>
					{% endfor %}
					</dl>
				</div>
			</div> <!-- /panel -->

<!-- Org members -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Members</h3>
				</div>
				<div class="panel-body">
					{% for member in members %}
						<h4><a href="{% url 'user' %}" class="label label-warning"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ member.username }}</a></h4>
						{% if request.GET.debug %}<pre>{{ member|pprint }}</pre>{% endif %}
					{% endfor %}
				</div>
			</div> <!-- /panel -->

		</div> <!-- /col-md-4 -->

	</div> <!-- /row -->

</div> <!-- /container -->

{% endblock content-no-container %}
