{% extends "orgs/org_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}
{% load humanize %}


{% block tab-content %}
<div class="container-fluid">
<div class="row">
<form action="." method="get">
    <input type="hidden" name="resource_type" value="collection" />

    <!-- Start left column -->
    <div class="col-sm-3 hidden-xs">

        <!-- Search Filters -->
        <div role="form">
            {% for search_filter in search_filters %}
            <div class="filter-group">
                <div class="filter-group-header">{{ search_filter.filter_name }}</div>
                <div class="filter-group-body">
                    {% for filter_option in search_filter.options %}
                        {% if filter_option.option_num > 0 or search_filter.attrs.show_zeroed_options %}
                            <div class="checkbox"><label>{% if not search_filter.attrs.hide_numbers %}<span class="count">{{ filter_option.option_num|intcomma }}</span>{% endif %}<input type="checkbox" name="{{ search_filter.filter_id }}" value="{{ filter_option.option_value }}" {% if filter_option.selected %}checked{% endif %}>{{ filter_option.option_name }}</label></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    <!-- End left column -->
    </div>

    <!-- Start right column -->
    <div class="col-sm-9">

        <!-- Search Bar, Actions, Sorting and Paging -->
        <div class="row" style="margin-bottom:10px;margin-top:10px;">
            <div class="col-xs-12">

                {% if collections %}
                <!-- Simple Pager -->
                {% simple_pager collection_page 'collection' url=collection_pagination_url pager_size='small' hide_xs=1 %}
                {% endif %}

                {% if collections %}
                <!-- Sort dropdown -->
                <div class="hidden-xs btn-group pull-right" style="margin-right:8px;">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-sort"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                    {% for sort_option_def in search_sort_option_defs %}
                        {% url 'org-collections' org.id as sort_url %}
                        <li {% if search_sort == sort_option_def.value %}class="active"{% endif %}><a href="{{ sort_url }}?{{ transferrable_search_params }}&amp;sort={{ sort_option_def.value|urlencode }}"><span class="glyphicon {{ sort_option_def.icon }}"></span>&nbsp;{{ sort_option_def.display }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if collections %}
                {# TODO: Confirm that this works for org sources #}
                <!-- Search results CSV download -->
                {% include "download_csv.html" with type='repository_search' %}
                {% endif %}

                <!-- Exact match checkbox (always render, but hide on xs display) -->
                <div class="hidden-xs btn-group pull-right" style="padding-left:4px;margin-top:6px;margin-right:8px;">
                    <label for="exact_match_repository_search" style="font-weight:300;cursor:pointer;">
                        <input name="exact_match" type="checkbox" tooltip="Exact match" {% if request.GET.exact_match %}checked="checked"{% endif %} id="exact_match_repository_search" style="cursor:pointer;" />
                        <span class="small">Exact match</span>
                    </label>
                </div>

                <!-- New Organization Button -->
                {% if_can_change org %}
                {# {% if user.is_authenticated %} #}
                <div class="pull-left">
                    <a href="{% url 'collection-new' org=org.id %}" class="btn btn-link btn-sm" title="Add New Collection to Organization" style="font-weight:300;letter-spacing:-0.1pt;"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs">&nbsp;{% trans 'New Collection' %}</span></a>
                </div>
                {# {% endif %} #}
                {% endif_can_change org %}

                <!-- Org Collections Search -->
                <div class="input-group input-group-sm" style="width:auto;margin-right:6px;">
                    <input name="q" id="resourceFilter" type="text" value="{{ collection_q }}" class="form-control" placeholder="Search collections within organization" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>

            </div> <!-- /col-sm-12-->
        </div> <!-- /row -->

<!-- Search results -->
{% for result in collections %}
        {% if result.owner_type == 'Organization' %}
            {% url 'collection-home' org=result.owner collection=result.short_code as result_home_url %}
            {% url 'collection-concepts' org=result.owner collection=result.short_code as result_concepts_url %}
            {% url 'collection-mappings' org=result.owner collection=result.short_code as result_mappings_url %}
            {% url 'collection-versions' org=result.owner collection=result.short_code as result_versions_url %}
        {% else %}
            {% url 'collection-home' user=result.owner collection=result.short_code as result_home_url %}
            {% url 'collection-concepts' user=result.owner collection=result.short_code as result_concepts_url %}
            {% url 'collection-mappings' user=result.owner collection=result.short_code as result_mappings_url %}
            {% url 'collection-versions' user=result.owner collection=result.short_code as result_versions_url %}
        {% endif %}

        <div class="row row-search-result">
            <div class="hidden-xs col-sm-1 search-result-col-icon"><span class="glyphicon glyphicon-th-list search-result-icon"></span></div>
            <div class="col-xs-12 col-sm-11 search-result-col-content">
                <div class="hidden-xs pull-right small text-muted" style="padding-top:12px;">
                    <a href="{{ result_concepts_url }}" title="Active concepts in collection"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts|intcomma }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ result_mappings_url }}" title="Active mappings in collections"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;{{ result.active_mappings|intcomma }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ result_versions_url }}" title="Collection versions"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;{{ result.versions|intcomma }}</a>
                </div>
                <div class="label-container">
                    {% generic_resource_label resource_type='collection' resource_id=result.short_code resource_name=result.name resource_url=result_home_url owner_type=result.owner_type owner_id=result.owner label_size='small' display_breadcrumb=True %}
                </div>
                <div class="resource-attributes"><span class="resource-attr"><label>Collection Type:</label> {{ result.collection_type|default:"None" }}</span></div>
                {% if result.description %}<div class="resource-description">{{ result.description }}</div>{% endif %}
                {% if result.updated_on %}<div class="resource-metadata"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</div>{% endif %}
                {% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
            </div>
        </div>
{% empty %}
        <h3><small>{% trans 'No collections found' %}</small></h3>
{% endfor %}

        <!-- Pagination -->
        {% if collections %}
        <div class="row" style="text-align:center;">
            {% bootstrap_pagination collection_page url=collection_pagination_url %}
        </div>
        {% endif %}

    <!-- End right column -->
    </div> {# col-md-9 #}

</form>
</div> {# row #}
</div> {# container #}
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Organization</h4><pre>{{ org|pprint }}</pre>
<h4>Search Type</h4><pre>{{ search_type|pprint }}</pre>
<h4>Search API Params</h4><pre>{{ search_params|pprint }}</pre>
<h4>Search Results: Collections</h4><pre>{{ collections|pprint }}</pre>
<h4>Search Filters</h4><pre>{{ search_filters_debug|safe|pprint }}</pre>
<h4>Search Facets</h4><pre>{{ search_facets_json|pprint }}</pre>
{% endblock resource-debug %}
