{% extends "base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}

{% block title %}{{ org.id }} - Open Concept Lab{% endblock title %}

{% block content-no-container %}

<header class="org-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-home"></span></div>

				<div style="display:inline-block;padding-left:20px">
					<h3>
						{% org_label org %}
						{# TODO: Only show if admin or owner #}
						<a href="{% url 'org-edit' org.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
					</h3>
					<p>
						<h4>{{ org.name }}</h4>
						<span class="text-muted small">
						{% if org.location %}
							<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ org.location }}
							&nbsp;&nbsp;&nbsp;
						{% endif %}
						<span class="glyphicon glyphicon-calendar"></span> Created on {{ org.created_on|smart_date }}
						</span>
					</p>
				</div>

			</div> <!-- /col-md-12 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</header> <!-- /org-header -->


<!-- Start content section of org -->

<div class="container" ng-app="ConceptApp">
<tabset>


<tab heading="Sources">
	<div class="row">

        <form action="." method="get">
        	<input type="hidden" name="resource_type" value="source" />


			<!-- Filters -->
			<div class="col-md-3">
		      	{% for f in source_filters %}
				<div class="filter-group">
					<div class="filter-group-header">{{ f.name }}</div>
					<div class="filter-group-body">
						{% for c in f.options %}
						<div class="checkbox"><label><input type="checkbox" name="{{ f.filter_id }}"
							value="{{ c.code }}" {% if c.selected %}checked{% endif %}>{{ c.name }}</label></div>
		       			{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>


			<!-- Listing of sources -->
			<div class="col-md-8">

				<!-- Sort / filter -->
				<div class="row" style="margin-bottom:20px;">
					&nbsp;
					<div class="col-md-12">

						<!-- Sort dropdown -->
						<div class="btn-group pull-right">
						 	<select name="sort" class="btn btn-default btn-xsm xdropdown-toggle">
						  		{% for o in search_sort_options %}
						    	<option {% if search_sort == o %}selected{% endif %}>{{ o }}</option>
						    	{% endfor %}
						  	</select>
						</div>

						<div class="btn-group pull-right">
							<span>Sort by:&nbsp;</span>
	     				</div>

						<div class="form-group">
						    {% comment %}
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
									<span class="text-muted">Filter:</span> <strong>None</strong> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Public</a></li>
									<li><a href="#">Private</a></li>
									<li><a href="#">Sources</a></li>
									<li><a href="#">Collections</a></li>
								</ul>
							</div> {# filter #}
						    {% endcomment %}
						</div>

					</div> <!-- /col-md-12 -->
				</div> <!-- /row -->

				<div class="row" style="margin-bottom:20px;">
					<div class="col-md-12">

                        {% simple_pager source_page 'Source' url=source_pagination_url %}

						<div class="form-group">
							<div class="input-group input-group-sm">
								<input name="q" id="resourceFilter" type="text" value="{{ source_q }}" class="form-control" placeholder="Search sources within organization" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>

					{# this appears to be extra -- flagging for deletion later #}
					</form>

				        <span class="pull-right">
				        	{% if user.is_authenticated %}
				        	{# TBD: probably a more complete tag to check for access #}
							<a href="{% url "source-create-for-org" org.id %}" class="btn"><span class="glyphicon glyphicon-plus"></span>Add Source</a>
							{% endif %}
						</span>

					</div>
				</div> <!-- /row -->
	        </form>

			<!-- Display sources that belong to this org -->
			{% for result in sources %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-th-list search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'source-detail' org=result.owner source=result.short_code %}#concepts" title="Active concepts in source"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'source-detail' org=result.owner source=result.short_code %}" style="text-decoration: none;">
						<span class="resource-label small source">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-th-list"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>
					<p>
						<em>Source type:</em> {{ result.source_type }}<br />
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<!--br /--><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
			{% endfor %}

			<!-- Pagination -->
			{% comment %}
        	{% if sources %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination source_page url=source_pagination_url %}
			</div>
			{% endif %}
			{% endcomment %}

		</div> {# col-md-8 #}
    </div> {# row #}
</tab> {# end tab Sources #}



{% comment %}
<tab heading="Collections">

	<div class="row">
<!-- Filters -->

        <form action="." method="get">
        	<input type="hidden" name="resource_type" value="collection" />

		<div class="col-md-3">

	      	{% for f in collection_filters %}
			<div class="filter-group">
				<div class="filter-group-header">{{ f.name }}</div>
				<div class="filter-group-body">
					{% for c in f.options %}
					<div class="checkbox"><label><input type="checkbox" name="{{ f.filter_id }}"
						value="{{ c.code }}">{{ c.name }}</label></div>
	       			{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>

<!-- Listing of collections -->

		<div class="col-md-8">

<!-- Sort / filter -->

			<div class="row" style="margin-bottom:20px;">
				<div class="col-md-12">

					<div class="btn-group pull-right">

					  <select name="sort" class="btn btn-default btn-xsm xdropdown-toggle">
					    <option {% if search_sort == "Last Update (desc)" %}selected{% endif %}>Last Update (desc)</option>
					    <option {% if search_sort == "Last Update (asc)" %}selected{% endif %}>Last Update (asc)</option>
					    <option {% if search_sort == "Name (asc)" %}selected{% endif %}>Name (asc)</option>
					    <option {% if search_sort == "Name (desc)" %}selected{% endif %}>Name (desc)</option>
					  </select>

					</div>

					<div class="btn-group pull-right">
					<span> Sort by: </span>
     				</div>

						<div class="form-group">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="text-muted">Filter:</span> <strong>None</strong> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="#">Public</a></li>
								<li><a href="#">Private</a></li>
								<li><a href="#">Sources</a></li>
								<li><a href="#">Collections</a></li>
							  </ul>
							</div>
						</div>


                        {% simple_pager collection_page 'Collections' url=collection_pagination_url %}

						<div class="form-group">
							<div class="input-group input-group-sm">
								<input name="q" id="resourceFilter" type="text" class="form-control" placeholder="Filter Sources and Collections" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</form>

				</div>
	        <span class="pull-right">
				<a href="{% url "collection-create-for-org" org.id %}" class="btn"><span class="glyphicon glyphicon-plus"></span>{% trans 'Add Collection' %}</a>
			</span>

			</div> <!-- /row -->
        </form>

<!-- Display collections that belong to this org -->

		{% for result in collections %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-tags search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'collection-detail' org=result.owner collection=result.id %}#concepts" title="Concepts in collection"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'collection-detail' org=result.owner collection=result.id %}" style="text-decoration: none;">
						<span class="resource-label small collection">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tags"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>

					<p>
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|date:"d-M-Y" }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% endfor %}

<!-- Pagination -->

	        {% if collections %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination collection_page url=collection_pagination_url %}
			</div>
			{% endif %}

<!-- End Org resource listing -->

		</div> <!-- /col-md-8 -->
    </div> {# row #}
</tab> {# end tab Collections #}
{% endcomment %}



<tab heading="Organization Details">
	<p>&nbsp;</p>

	<!-- Org details pane -->
	<div class="row">

		<!-- Org attributes -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Organization Details</h3></div>
                <div class="panel-body">
                	{% field_label 'ID' org.id %}
                	{% field_label 'Full Name' org.name %}
                	<hr />
                	{% field_label 'Company' org.company %}
                	{% field_label 'Website' org.website url=True %}
                	{% field_label 'Location' org.location %}
                	{% field_label 'Public Access' org.public_access %}
                	{% field_label 'No. Public Sources' org.public_source %}
                	<hr />
                	{% field_label 'Created By' org.created_by %}
                	{% field_label 'Created On' org.created_on|smart_date %}
                	{% field_label 'Updated By' org.updated_by %}
                	{% field_label 'Updated On' org.updated_on|smart_date %}
                	<hr />
                	{% field_label 'Extras' org.extras %}
                </div>
			</div> <!-- /panel -->
    	</div> <!-- /col-md-8 -->

        <!-- Org members -->
        <div class="col-md-4">
			<div class="panel panel-default" ng-app="ConceptApp" ng-controller="MemberRemoveController">
				<div class="panel-heading"><h3 class="panel-title">Members</h3></div>
				<div class="panel-body">
					{% include 'includes/ng_alerts_incl.html' %}
					{% if_can_change org %}
						<a href="{% url 'org-member-add' org.id %}">Add Member</a>
						{% for member in members %}
							<h4>{% user_label member %}<button type="button" class="btn btn-link" data-org='{{org.id}}' ng-click="removeMember('{{org.id}}', '{{member.username}}')" ><span class="glyphicon glyphicon-trash"></span></button></h4>
					
							{% if request.GET.debug %}<pre>{{ member|pprint }}</pre>{% endif %}

						{% empty %}
							No members.
						{% endfor %}
					{% endif_can_change %}
				</div>
			</div> <!-- /panel -->
		</div> <!-- /col-md-4 -->

	</div> <!-- /row -->

{% verbatim %}
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Remove</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to remove {{ username }} from {{ org }}?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</script>
{% endverbatim %}
{% csrf_token %}

</tab> {# end tab Organization Details #}



<tab heading="About"> {# ----- start org About tab #}
	<p>&nbsp;</p>
	<div class="panel panel-default">
		<div class="panel-heading"><h4 class="panel-title">About</h4></div>
	  	<div class="panel-body" style="height:140px;">{{ about|safe }}</div>
	</div> {# end panel #}
</tab> {# ----- end org About tab #}</tab>



{% if request.GET.debug %}
<tab heading="Debug"> {# ----- start org Debug tab #}
	<p>&nbsp;</p>
	<div class="panel panel-default">
		<div class="panel-heading"><h4 class="panel-title">Debug</h4></div>
	  	<div class="panel-body" style="min-height:140px;">
	  		<h4>Organization</h4>
	  		<pre style="border:0; background-color:transparent;">{{ org|pprint }}</pre>

	  		<h4>Sources</h4>
	  		<pre style="border:0; background-color:transparent;">{{ sources|pprint }}</pre>

			{% comment %}
	  		<h4>Collections</h4>
	  		<pre style="border:0; background-color:transparent;">{{ collections|pprint }}</pre>
	  		{% endcomment %}

	  		<h4>Members</h4>
	  		<pre style="border:0; background-color:transparent;">{{ members|pprint }}</pre>
	  	</div>
	</div>
</tab> {# ----- end org Debug tab #}
{% endif %}


</tabset>
</div> <!-- /container -->

{% endblock content-no-container %}