{% extends "base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}

{% block title %}{{ org.id }}{% endblock title %}

{% block content-no-container %}

<header class="org-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-home"></span></div>
				<div style="display:inline-block;padding-left:20px">
					<h3>
						{% org_label org %}
						{# TODO: Only show if admin or owner #}
						<a href="{% url 'org-edit' org.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
					</h3>
					<p>
						<h4>{{ org.name }}</h4>
						<span class="text-muted small">
						{% if org.location %}
							<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ org.location }}
							&nbsp;&nbsp;&nbsp;
						{% endif %}
						<span class="glyphicon glyphicon-calendar"></span> Created on ({{ org.created_on|smart_date }})
						</span>
					</p>
				</div>

				{% if request.GET.debug %}
				<p>
				  Org: <br /><pre>{{ org|pprint }}</pre>
				  Sources: <br /><pre>{{ sources|pprint }}</pre>
				  Collections: <br /><pre>{{ collections|pprint }}</pre>
				  Members: <br /><pre>{{ members|pprint }}</pre>
				</p>
				{% endif %}

			</div> <!-- /col-md-8 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</header>

<!-- Start content section of org -->

<div class="container" ng-app="ConceptApp">


<tabset>
<tab heading="Sources">


	<div class="row">
<!-- Filters -->

        <form action="." method="get">
        	<input type="hidden" name="resource_type" value="source" />
		<div class="col-md-3">

	      	{% for f in source_filters %}
			<div class="filter-group">
				<div class="filter-group-header">{{ f.name }}</div>
				<div class="filter-group-body">
					{% for c in f.options %}
					<div class="checkbox"><label><input type="checkbox" name="{{ f.filter_id }}"
						value="{{ c }}">{{ c }}</label></div>
	       			{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>




<!-- Listing of sources -->

		<div class="col-md-8">

<!-- Sort / filter -->

			<div class="row" style="margin-bottom:20px;">
				<div class="col-md-12">

					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<span class="text-muted">Sort:</span> <strong>Best Match</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#">Best Match</a></li>
						<li><a href="#">Another sort</a></li>
						<li><a href="#">Something else here</a></li>
					  </ul>
					</div>

						<div class="form-group">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="text-muted">Filter:</span> <strong>None</strong> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="#">Public</a></li>
								<li><a href="#">Private</a></li>
								<li><a href="#">Sources</a></li>
								<li><a href="#">Collections</a></li>
							  </ul>
							</div>
						</div>

                        {% simple_pager source_page 'Source' url=source_pagination_url %}

						<div class="form-group">
							<div class="input-group input-group-sm">
								<input name="q" id="resourceFilter" type="text" class="form-control" placeholder="Filter Sources and Collections" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</form>
	        <span class="pull-right">
				<a href="{% url "source-create-for-org" org.id %}" class="btn"><span class="glyphicon glyphicon-plus"></span>Add Source</a>
			</span>

				</div>
			</div> <!-- /row -->
        </form>

<!-- Display sources that belong to this org -->
		{% for result in sources %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-th-list search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'source-detail' org=result.owner source=result.short_code %}#concepts" title="Active concepts in source"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'source-detail' org=result.owner source=result.short_code %}" style="text-decoration: none;">
						<span class="resource-label small source">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-th-list"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>
					<p>
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<!--br /--><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% endfor %}

<!-- Pagination -->

	        {% if sources %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination source_page url=source_pagination_url %}
			</div>
			{% endif %}

<!-- End Org source listing -->

		</div> <!-- /col-md-8 -->
    </div> {# row #}
</tab>


<tab heading="Collections">


	<div class="row">
<!-- Filters -->

        <form action="." method="get">
        	<input type="hidden" name="resource_type" value="collection" />

		<div class="col-md-3">

	      	{% for f in collection_filters %}
			<div class="filter-group">
				<div class="filter-group-header">{{ f.name }}</div>
				<div class="filter-group-body">
					{% for c in f.options %}
					<div class="checkbox"><label><input type="checkbox" name="{{ f.filter_id }}"
						value="{{ c }}">{{ c }}</label></div>
	       			{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>

<!-- Listing of collections -->

		<div class="col-md-8">

<!-- Sort / filter -->

			<div class="row" style="margin-bottom:20px;">
				<div class="col-md-12">

					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<span class="text-muted">Sort:</span> <strong>Best Match</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#">Best Match</a></li>
						<li><a href="#">Another sort</a></li>
						<li><a href="#">Something else here</a></li>
					  </ul>
					</div>

						<div class="form-group">
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								<span class="text-muted">Filter:</span> <strong>None</strong> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a href="#">Public</a></li>
								<li><a href="#">Private</a></li>
								<li><a href="#">Sources</a></li>
								<li><a href="#">Collections</a></li>
							  </ul>
							</div>
						</div>


                        {% simple_pager collection_page 'Collections' url=collection_pagination_url %}

						<div class="form-group">
							<div class="input-group input-group-sm">
								<input name="q" id="resourceFilter" type="text" class="form-control" placeholder="Filter Sources and Collections" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</form>

				</div>
	        <span class="pull-right">
				<a href="{% url "collection-create-for-org" org.id %}" class="btn"><span class="glyphicon glyphicon-plus"></span>{% trans 'Add Collection' %}</a>
			</span>

			</div> <!-- /row -->
        </form>

<!-- Display collections that belong to this org -->

		{% for result in collections %}
			<div class="row row-search-result">
				<div class="col-md-1 search-result-col-icon">
					<span class="glyphicon glyphicon-tags search-result-icon"></span>
				</div>
				<div class="col-md-11 search-result-col-content">
					<div class="pull-right small text-muted" style="padding-top:12px;">
						<a href="{% url 'collection-detail' org=result.owner collection=result.id %}#concepts" title="Concepts in collection"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts }}</a>
					</div>
					<h4><a href="{% url 'collection-detail' org=result.owner collection=result.id %}" style="text-decoration: none;">
						<span class="resource-label small collection">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tags"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / </span><span class="resource-label-id-code">{{ result.short_code }}</span>
							</span><span class="resource-label-name">{{ result.name }}</span>
						</span>
					</a></h4>

					<p>
						{% if result.description %}{{ result.description }}<br />{% endif %}
						{% if result.updated_on %}<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|date:"d-M-Y" }}</span>{% endif %}
					</p>
					{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
				</div>
			</div>
		{% endfor %}

<!-- Pagination -->

	        {% if collections %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination collection_page url=collection_pagination_url %}
			</div>
			{% endif %}

<!-- End Org resource listing -->

		</div> <!-- /col-md-8 -->
    </div> {# row #}
</tab> {# collections #}

<tab heading="Details">

&nbsp;
	<div class="row">
<!-- Org details pane -->

		<div class="col-md-8">
<!-- Org attributes -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Organization Details</h3>
				</div>

                <div class="panel-body">
                	{% field_label 'Full Name' org.company %}
                	{% field_label 'Website' org.website url=True %}
                	{% field_label 'Location' org.location %}
                	{% field_label 'Public Access' org.public_access %}
                	{% field_label 'Created By' source.created_by %}
                	{% field_label 'Created on' source.created_on|smart_date %}
                	{% field_label 'Updated by' source.created_by %}
                	{% field_label 'Updated on' source.created_on %}
                </div>


				<div class="panel-body hidden">

					<dl style="margin-bottom:0;">
					{% for key, value in org.items %}
						<dt class="small">{{ key }}:</dt>
						<dd class="small" style="padding-bottom:6px;">{{ value }}</dd>
					{% endfor %}
					</dl>
				</div>
			</div> <!-- /panel -->
    	</div>

        <!-- Org members -->
        <div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Members</h3>
				</div>
				<div class="panel-body">
					{% for member in members %}
						<h4>{% user_label member %}</h4>
						{% if request.GET.debug %}<pre>{{ member|pprint }}</pre>{% endif %}
					{% endfor %}
				</div>
			</div> <!-- /panel -->

		</div> <!-- /col-md-4 -->

	</div> <!-- /row -->
</tab>

</tabset>

</div> <!-- /container -->

{% endblock content-no-container %}
