{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}Add Member to Organization{% endblock %}
{% block content %}
<div class="row">
            <div class="col-md-12">

                <div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-home"></span></div>

                <div style="display:inline-block;padding-left:20px">
                    <h3>
                        {% org_label org %}
                    </h3>
                    <p>
                        <h4>{{ org.name }}</h4>
                        <span class="text-muted small">
                        {% if org.location %}
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ org.location }}
                            &nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <span class="glyphicon glyphicon-calendar"></span> Created on {{ org.created_on|smart_date }}
                        </span>
                    </p>
                </div>
</div>
</div>

<div class="row">
    <div class="col-md-6">
<h2>Add Member to Organization</h2>

&nbsp;

<form role="form" method="post" action=".">
  {% csrf_token %}
  {% bootstrap_form form %}


  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans "Add" %}
  </button>
  {% endbuttons %}
</form>
</div>
</div>

{% endblock content %}
