{% extends "base.html" %}
{% load bootstrap3 %}
{% load ocl_tags %}
{% load humanize %}

{% block title %}Search - Open Concept Lab{% endblock title %}

{% block content %}

<!-- Start content row -->

<div class="row">

<!-- Start Left Column -->

	<div class="col-md-3">

<!-- Search Categories -->

		<div class="list-group">
			<a href="{% url 'search' %}?type=concepts{{ other_resource_search_params }}" class="list-group-item {% if search_type == 'concepts' %}active{% endif %}"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;Concepts <span class="badge">{{ resource_count.concepts|intcomma }}</span></a>
			<a href="{% url 'search' %}?type=mappings{{ other_resource_search_params }}" class="list-group-item {% if search_type == 'mappings' %}active{% endif %}"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;Mappings <span class="badge">{{ resource_count.mappings|intcomma }}</span></a>
			<a href="{% url 'search' %}?type=sources{{ other_resource_search_params }}" class="list-group-item {% if search_type == 'sources' %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Sources <span class="badge">{{ resource_count.sources|intcomma }}</span></a>
			<a href="{% url 'search' %}?type=orgs{{ other_resource_search_params }}" class="list-group-item {% if search_type == 'orgs' %}active{% endif %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Organizations <span class="badge">{{ resource_count.orgs|intcomma }}</span></a>
			<a href="{% url 'search' %}?type=users{{ other_resource_search_params }}" class="list-group-item {% if search_type == 'users' %}active{% endif %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Users <span class="badge">{{ resource_count.users|intcomma }}</span></a>
		</div>

<!-- Search Filters -->

		<div role="form">
			{% for facet in search_facets %}
			<div class="filter-group">
				<div class="filter-group-header">{{ facet.search_filter_name }}</div>
				<div class="filter-group-body">
					{% for facet_key, facet_option in facet.options.iteritems %}
						{% if facet_option.option_num > 0 %}
							<div class="checkbox"><label><input type="checkbox" name="{{ facet.search_filter_name }}" value="{{ facet_option.option_value }}" {% if facet_option.selected %}checked{% endif %}>{{ facet_option.option_name }}&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">{{ facet_option.option_num|intcomma }}</span></label></div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>

<!-- End left column -->

	</div>

<!-- Start search results section -->

	<div class="col-md-9">

<!-- Debug -->

	{% if request.GET.debug %}
		<div class="row">
			<div class="col-md-12">
				<pre><strong>Search Type:</strong><br />{{ search_type|pprint }}</pre>
				<pre><strong>GET Params:</strong><br />{{ get_params|pprint }}</pre>
				<pre><strong>API Search Params:</strong><br />{{ search_params|pprint }}</pre>
				<pre><strong>Response Headers:</strong><br />{{ search_response_headers|pprint }}</pre>
				<pre><strong>Facets</strong><br />{{ search_facets_json|pprint }}</pre>
			</div>
		</div>
	{% endif %}


<!-- Search Results, Actions, Sorting and Paging -->

		<div class="row" style="margin-bottom:10px;">
			<div class="col-md-12">

{% if results %}

			<!-- Sorting -->

				<div class="btn-group pull-right">
					<select name="sort" class="btn btn-default btn-xsm xdropdown-toggle">
						{% for o in search_sort_options %}
						<option {% if search_sort == o %}selected{% endif %}>{{ o }}</option>
						{% endfor %}
					</select>
				</div>

			<!-- Paging -->

				{% simple_pager page search_type_name url=pagination_url %}

			<!-- Actions -->

			{% comment %}
			<!-- Jon commented until there are actions that we can perform on resources -->
				<div class="btn-group">
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><strong>Actions</strong> <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Add to collection</a></li>
					</ul>
					&nbsp;&nbsp;
				</div>
			{% endcomment %}

{% else %}
				<h3><small>We found 0 {{ search_type_name }}{{ 0|pluralize }}.</small></h3>
{% endif %}
			</div> <!-- /col-md-12 -->
		</div> <!-- /row -->

{# TODO: This form element appears misplaced! #}
</form>


<!-- Search Results -->
{% for result in results %}
		<div class="row row-search-result">

	{% if search_type == 'concepts' %}
			{% if result.owner_type == 'Organization' %}
				{% url 'concept-home' org=result.owner source=result.source concept=result.id as result_url %}
			{% else %}
				{% url 'concept-home' user=result.owner source=result.source concept=result.id as result_url %}
			{% endif %}

			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="col-md-1 search-result-col-icon"><span class="glyphicon glyphicon-tag search-result-icon"></span></div>
			<div class="col-md-10 search-result-col-content">
				<div class="label-container">
					{% generic_resource_label resource_type='concept' resource_id=result.id resource_name=result.display_name resource_url=result_url resource_retired=result.retired owner_type=result.owner_type owner_id=result.owner source_id=result.source label_size='small' display_breadcrumb=True %}
				</div>
				<p>
					<!--span class="caption">{{ result.display_name }} <small><em>[{{ result.display_locale }}]</em></small></span><br /-->
					<em>Class:</em> {{ result.concept_class }}, <em>Datatype:</em> {{ result.datatype }}
					{% if result.description %}<p>{{ result.description }}</p>{% endif %}
					<br /><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif search_type == 'mappings' %}
			{% if result.from_source_owner_type == 'Organization' %}
				{% url 'concept-home' org=result.from_source_owner source=result.from_source_name concept=result.from_concept_code as from_concept_url %}
			{% else %}
				{% url 'concept-home' org=result.from_source_owner source=result.from_source_anme concept=result.from_concept_code as from_concept_url %}
			{% endif %}
			{% if result.owner_type == 'Organization' %}
				{% url 'mapping-home' org=result.owner source=result.source mapping=result.id as mapping_url %}
			{% else %}
				{% url 'mapping-home' user=result.owner source=result.source mapping=result.id as mapping_url %}
			{% endif %}

			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="col-md-1 search-result-col-icon"><span class="glyphicon glyphicon-link search-result-icon"></span></div>
			<div class="col-md-10 search-result-col-content">
				<div class="label-container">
					<!-- from_concept -->
					{# TODO: we do not know if this concept is retired #}
					{% generic_resource_label resource_type='concept' resource_id=result.from_concept_code resource_name=result.from_concept_name resource_url=from_concept_url owner_type=result.from_source_owner_type owner_id=result.from_source_owner source_id=result.from_source_name label_size='small' display_breadcrumb=True %}

					<!-- map_type -->
					{% generic_resource_label resource_type='mapping' resource_id=result.id resource_name=result.map_type resource_url=mapping_url resource_retired=result.retired owner_type=result.owner_type owner_id=result.owner source_id=result.source label_size='small' display_breadcrumb=True %}

					<!-- to_concept -->
					{# TODO: need to handle differently for internal/external mapping -- not updated yet #}
					<a href="{% if result.to_concept_url %}{{ result.to_concept_url }}{% endif %}" style="text-decoration: none;">
						<span class="resource-label small concept">
							<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.to_source_owner }} / {{ result.to_source_name }} / </span><span class="resource-label-id-code">{{ result.to_concept_code }}</span></span><span class="resource-label-name">{% if result.retired %}<s>{% endif %}{{ result.to_concept_name }}{% if result.retired %}</s>{% endif %}</span>
						</span>
					</a>
				</div>
				<p>
					<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif search_type == 'sources' %}
			{% if result.owner_type == 'Organization' %}
				{% url 'source-home' org=result.owner source=result.short_code as result_home_url %}
				{% url 'source-concepts' org=result.owner source=result.short_code as result_concepts_url %}
				{% comment %}{% url 'source-mappings' org=result.owner source=result.short_code as result_mappings_url %}{% endcomment %}
			{% else %}
				{% url 'source-home' user=result.owner source=result.short_code as result_home_url %}
				{% url 'source-concepts' user=result.owner source=result.short_code as result_concepts_url %}
				{% comment %}{% url 'source-mappings' user=result.owner source=result.short_code as result_mappings_url %}{% endcomment %}
			{% endif %}

			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="col-md-1 search-result-col-icon"><span class="glyphicon glyphicon-th-list search-result-icon"></span></div>
			<div class="col-md-10 search-result-col-content">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="{{ result_concepts_url }}" title="Active concepts in source"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.active_concepts|intcomma }}</a>
					{% comment %}&nbsp;&nbsp;&nbsp;&nbpsp;<a href="{{ result_mappings_url }}" title="Active mappings in source"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;{{ result.active_concepts|intcomma }}</a>{% endcomment %}
				</div>
				<div class="label-container">
					{% generic_resource_label resource_type='source' resource_id=result.short_code resource_name=result.name resource_url=result_home_url owner_type=result.owner_type owner_id=result.owner label_size='small' display_breadcrumb=True %}
				</div>
				<p>
					<em>Source Type:</em> {{ result.source_type|default:"None" }}<br />
					{% if result.description %}{{ result.description }}<br />{% endif %}
					{% if result.updated_on %}<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on {{ result.updated_on|smart_date }}</span>{% endif %}
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif search_type == 'orgs' %}
			{% url 'org-home' org=result.id as result_url %}

			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="col-md-1 search-result-col-icon"><span class="glyphicon glyphicon-home search-result-icon"></span></div>
			<div class="col-md-10 search-result-col-content">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="{% url 'org-home' org=result.id %}#members" title="Members in organization"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ result.members|intcomma }}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="{% url 'org-home' org=result.id %}#sources" title="Public sources owned by organization"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ result.public_sources|intcomma }}</a>
				</div>
				<div class="label-container">
					{% generic_resource_label resource_type='org' resource_id=result.id resource_name=result.name resource_url=result_url label_size='small' display_breadcrumb=True %}
				</div>
				<p>
					{% if result.description %}<p>{{ result.description|truncatechars:180 }}</p>{% endif %}
					<span class="text-muted small">
						{% if result.location %}<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ result.location }}
						&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
						<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Created on {{ result.created_on|smart_date }}
					</span>
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif search_type == 'users' %}
			{% url 'users:detail' result.username as result_url %}

			<!--div class="col-md-1 search-result-col-checkbox"><input type="checkbox" /></div-->
			<div class="col-md-1 search-result-col-icon">
				<span class="glyphicon glyphicon-user search-result-icon"></span>
			</div>
			<div class="col-md-10 search-result-col-content">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="{% url 'users:detail' result.username %}#orgs" title="Organizations"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ result.orgs|intcomma }}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="{% url 'users:detail' result.username %}#sources" title="Public sources owned by user"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ result.public_sources|intcomma }}</a>
				</div>
				<div class="label-container">
					{% generic_resource_label resource_type='user' resource_id=result.username resource_name=result.name resource_url=result_url label_size='small' display_breadcrumb=True %}
				</div>
				<p>
					<span class="text-muted small">
						{% if result.location %}<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;{{ result.location }}
						&nbsp;&nbsp;&nbsp;{% endif %}
						<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Joined on {{ result.created_on|smart_date}}
					</span>
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% endif %}
		</div>
{% empty %}
	
{% endfor %}

<!-- Pagination -->
			{% if results %}
			<div class="row" style="text-align:center;">
				{% bootstrap_pagination page url=pagination_url %}
			</div>
			{% endif %}

<!-- End search results section -->

	</div>

<!-- End content row -->

</div>

{% endblock content %}
