{% extends "base.html" %}

{% block content %}

<!-- Start content row -->

<div class="row">

<!-- Left Navigation and Filters -->

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li {% if searchType == "concepts" %}class="active"{% endif %}><a href="{% url "search" %}?type=concepts"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;Concepts <span class="pull-right">32</span></a></li>
		  <li {% if searchType == "sources" %}class="active"{% endif %}><a href="{% url "search" %}?type=sources"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Sources <span class="pull-right">6</span></a></li>
		  <li {% if searchType == "collections" %}class="active"{% endif %}><a href="{% url "search" %}?type=collections"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Collections <span class="pull-right">14</span></a></li>
		  <li {% if searchType == "orgs" %}class="active"{% endif %}><a href="{% url "search" %}?type=orgs"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Organizations <span class="pull-right">3</span></a></li>
		  <li {% if searchType == "users" %}class="active"{% endif %}><a href="{% url "search" %}?type=users"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Users <span class="pull-right">2</span></a></li>
		</ul>
		<h3>Concept Class</h3>
		<ul class="nav nav-pills nav-stacked">
		  <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Diagnosis <span class="pull-right">6</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Drug <span class="pull-right">14</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Finding <span class="pull-right">3</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Symptom <span class="pull-right">2</span></a></li>
		  <li><a href="#"><small>More &blacktriangledown;</small></a></li>
		</ul>
		<h3>Datatype</h3>
		<ul class="nav nav-pills nav-stacked">
		  <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Numeric <span class="pull-right">12</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Text <span class="pull-right">6</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Coded <span class="pull-right">14</span></a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;N/A <span class="pull-right">3</span></a></li>
		  <li><a href="#"><small>More &blacktriangledown;</small></a></li>
		</ul>
	</div>

<!-- Start search results section -->

	<div class="col-md-9">

<!-- Search Results Summary and Sorting -->

		<div class="row">
			<div class="col-md-12">
{% if results %}
				<div class="btn-group pull-right">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Sort <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Sort</a></li>
				    <li><a href="#">Another sort</a></li>
				    <li><a href="#">Something else here</a></li>
				  </ul>
				</div>
				<h4>We found {{ results|length }} {{ searchType }}.</h4>
{% else %}
				<h4>We found 0 {{ searchType }}.</h4>
{% endif %}
			</div>
		</div>

<!-- Search Results -->

{% for result in results %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">

	{% if searchType == 'concepts' %}
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-tag" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "concept-detail" org=result.owner source=result.source concept=result.id %}">
						<span class="label label-{% if result.retired %}default{% else %}primary{% endif %}"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.owner }} / {{ result.source }} / {{ result.id }}</span></a>
				</h4>
				<p>
					<span class="caption">{{ result.displayName }} <small><em>[{{ result.displayLocale }}]</em></small></span><br />
					<em>Class:</em> {{ result.conceptClass }}, <em>Datatype:</em> {{ result.datatype }}
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif searchType == 'sources' %}
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-th-list" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ result.shortCode }}</span></a>
				</h4>
				<p>
					<span class="caption">{{ result.name }}</span>
				</p>
				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif searchType == 'collections' %}
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-tags" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "collection" %}">
						<span class="label label-{% if result.retired %}default{% else %}primary{% endif %}"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ result.owner }} / {{ result.source }} / {{ result.id }}</span></a>
				</h4>
				<p>
					<span class="concept-name">{{ result.displayName }} <em>[{{ result.displayLocale }}]</em></span><br />
					<em>Class:</em> {{ result.conceptClass }}, <em>Datatype:</em> {{ result.datatype }}
					{% if result.lastUpdated %}<br /><span class="text-muted small">{{ result.lastUpdated }}</span>{% endif %}
				</p>

				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif searchType == 'orgs' %}
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-home" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "entity" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ result.id }}</span></a>
				</h4>
				<p>
					<span class="concept-name">{{ result.name }}</span><br />
				</p>

				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% elif searchType == 'users' %}
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-user" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "entity" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ result.username }}</span></a>
				</h4>
				<p>
					<span class="caption">{{ result.name }}</span>
				</p>

				{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
			</div>

	{% endif %}
		</div>
{% empty %}

{% endfor %}


<!-- Additional Example Results -->

		<h4><small>Additional Static Examples:</small></h4>
	{% if searchType == 'concepts' %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><a href="{% url "concept" %}"><span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;CIEL / CIEL / 1427</span></a></h4>
				<p><span class="concept-name">Last Menstrual Period</span> <small><em>[en]</em></small><br />
				<em>Class:</em> Finding, <em>Datatype:</em> Date<br />
				<em>Collections:</em> <span class="label label-default"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;MCH Core Dataset</span><br />
				<span class="text-muted small">Last Updated 6 years ago</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><a href="{% url "concept" %}"><span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;IHTSDO / SNOMED CT / 364325004</span></a></h4>
				<p><span class="concept-name">Parity</span> <small><em>[en]</em></small><br />
				<em>Class:</em> Finding, <em>Datatype:</em> Numeric<br />
				<span class="text-muted small">Last Updated 2 years ago</span>
				</p>
			</div>
		</div>

	{% elif searchType == 'sources' %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-th-list" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;WHO / ICD-10</span></a>
				</h4>
				<p><span class="caption">International Classification of Diseases, 10th Edition</span><br />
					<small class="text-muted">Last Updated 2 years ago</small></p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-th-list" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;CIEL / CIEL</span></a>
				</h4>
				<p><span class="caption">Columbia University International eHealth Laboratory</span><br />
					<small class="text-muted">Last Updated 3 weeks ago</small></p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-th-list" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;IHTSDO / SNOMED CT</span></a>
				</h4>
				<p><span class="caption">Systematized Nomenclature of Medicine Clinical Terms</span><br />
					<small class="text-muted">Last Updated 1 year ago</small></p>
			</div>
		</div>

	{% elif searchType == 'collections' %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tags"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><a href="{% url "collection" %}"><span class="label label-success"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;paynejd / Community-MCH</span></a></h4>
				<p>Community Maternal and Child Health Core Dataset<br />
				<span class="text-muted small">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>

	{% elif searchType == 'orgs' %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-home" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;4</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;0</a>
				</div>
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span></a>
				</h4>
				<p><span class="caption">World Health Organization</span><br />
				<span class="text-muted small"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Geneva, Switzerland&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span> Created July 9, 2009</span></p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-home" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;1</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;0</a>
				</div>
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;IHTSDO</span></a>
				</h4>
				<p><span class="caption">International Health Terminology Standards Organization</span><br />
				<span class="text-muted small"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Denmark&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span> Created August 17, 2012</span></p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-home" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;2</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;9</a>
				</div>
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;CIEL</span></a>
				</h4>
				<p><span class="caption">Columbia University International eHealth Laboratory</span><br />
				<span class="text-muted small"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;New York, USA&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span> Created January 1, 2006</span></p>
			</div>
		</div>

	{% elif searchType == 'users' %}
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div class="col-md-1" style="text-align:right;padding-top:14px;">
				<span class="glyphicon glyphicon-user" style="font-size:32pt;color:#e5e5e5;"></span>
			</div>
			<div class="col-md-11">
				<div class="pull-right small text-muted" style="padding-top:12px;">
					<a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;2</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;12</a>
				</div>
				<h4>
					<a href="{% url "source" %}">
						<span class="label label-warning"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;paynejd</span></a>
				</h4>
				<p><span class="caption">Jonathan Payne</span><br />
				<span class="text-muted small"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Boston, MA, USA&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Joined July 9, 2009</span></p>
			</div>
		</div>


	{% endif %}	

<!-- Pagination -->

{% if results %}
		<div class="row" style="text-align:center;">
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</div>
{% endif %}

<!-- End search results section -->

	</div>

<!-- End content row -->

</div>

{% endblock content %}
