{% extends "concepts/concept_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Mappings</h3></div>
				<div class="panel-body">
				{% for mapping_category, mapping_list in mappings.items %}
					{% for mapping in mapping_list %}
						<div class="row">
							<div class="col-md-2">{% if forloop.counter == 1 %}<span class="text-muted small">{{ mapping_category }}</span>{% endif %}</div>
							<div class="col-md-8">

								<!-- from_concept -->
								{% if mapping.is_direct_mapping %}
									<span class="label label-primary small">THIS CONCEPT</span>
								{% else %}
									{% if mapping.from_url %}<a href="{{ mapping.from_url }}" style="text-decoration:none;">{% endif %}
									<span class="label label-warning small">{{ mapping.from_concept_url }}</span>
									{% if mapping.from_url %}</a>{% endif %}
								{% endif %}
								<span class="text-muted small">::</span>

								<!-- map_type -->
								<a href="{{ mapping.mapping_url }}" style="text-decoration:none;"><span class="label label-default small">{{ mapping.map_type }}</span></a>
								<span class="text-muted small">::</span>

								<!-- to_concept -->
								{% if mapping.is_inverse_mapping %}
									<span class="label label-primary small">THIS CONCEPT</span>
								{% elif mapping.is_internal_mapping %}
									{% if mapping.to_url %}<a href="{{ mapping.to_url }}" style="text-decoration:none;">{% endif %}
									<span class="label label-warning small">{{ mapping.to_concept_url }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ mapping.to_concept_name }}</span>
									{% if mapping.to_url %}</a>{% endif %}
								{% elif mapping.is_external_mapping %}
									{% if mapping.to_url %}<a href="{{ mapping.to_url }}" style="text-decoration:none;">{% endif %}
									<span class="label label-warning small">{{ mapping.to_source_url }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ mapping.to_concept_code }} {{ mapping.to_concept_name }}</span>
									{% if mapping.to_url %}</a>{% endif %}
								{% endif %}

							</div>
							<div class="col-md-2" style="text-align:right;">
								<button type="button" class="btn btn-link" title="Permalink"><span class="glyphicon glyphicon-link"></span></button>
								{% comment Disabling until editing is supported %}
								<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
								{% endcomment %}
							</div>
						</div>
						{% if request.GET.debug %}<div class="row"><div class="col-md-12"><pre>{{ mapping|pprint }}</pre></div></div>{% endif %}
					{% endfor %}
					{% if mapping_list and not forloop.last %}<hr />{% endif %}
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Tip</h3></div>
				<div class="panel-body">
					<p>The <strong>Concept Mappings</strong> tab displays all direct and inverse mappings stored in this source.</p>
					<ul><li><em>Direct Mappings</em> originate from this concept and may point to concepts that are <em>internal</em> to OCL (e.g. CIEL) or <em>external</em> (e.g. SNOMED-CT).</li>
						<li><em>Inverse Mappings</em> originate from another concept in OCL and point to this concept.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Concept</h4><pre>{{ concept|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
<h4>Mappings</h4><pre>{{ mappings|pprint }}</pre>
{% endblock resource-debug %}
