{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Concept" %}{% endblock %}
{% block content %}

<h3>
    {% source_owner_label source %} / {% source_label source %} / Add Concept
</h3>

<div class="container" ng-app="ConceptApp" ng-controller="ConceptController">
    <div class="row">
        <div class="col-md-6">

            {% include 'includes/ng_alerts_incl.html' %}

            <form class="form" name="concept_form" ng-submit="concept_form.$valid && addItem(item)" autcomplete="off">
                {% csrf_token %} {# {% bootstrap_form form %} #}
                <div class="form-group required">
                    <label class="control-label" for="id_concept_id">Concept ID</label>
                    <input class="form-control" id="id_concept_id" maxlength="30" name="concept_id" placeholder="Concept ID"
                    required="required" title="" type="text" ng-model="item.concept_id">
                </div>

                <div class="form-group required" ng-class="{ 'has-error': concept_form.concept_class.$invalid &amp;&amp; !concept_form.concept_class.$pristine }">
                    <label class="control-label" for="id_locale">Concept Class</label>
                    {% verbatim %}
                    <input class="form-control" type="text" name="concept_class" ng-model="item.concept_class"
                    typeahead-editable="false" typeahead="ct for ct in concept_classes | filter:$viewValue | limitTo:20">
                    <p class="help-block" ng-show="concept_form.concept_class.$invalid">
                        Select a valid Concept class
                    </p>{% endverbatim %}
                </div>
                <div class="form-group" ng-class="{ 'has-error': concept_form.datatype.$invalid &amp;&amp; !concept_form.datatype.$pristine }">
                    <label class="control-label" for="id_datatype">Datatype</label>
                    {% verbatim %}
                    <input class="form-control" type="text" name="datatype" ng-model="item.datatype"
                    typeahead-editable="false" typeahead="t for t in datatypes | filter:$viewValue | limitTo:8">
                    <p class="help-block" ng-show="concept_form.datatype.$invalid">
                        Select a valid Datatype
                    </p>{% endverbatim %}
                </div>
                <div class="form-group required">
                    <label class="control-label" for="id_name">Name</label>
                    <input class="form-control" id="id_name" maxlength="30" name="name" placeholder="Name"
                    required="required" title="" type="text" ng-model="item.name">
                </div>


                <div class="form-group required" ng-class="{ 'has-error': concept_form.locale.$invalid && !concept_form.locale.$pristine }">
                    <label class="control-label" for="id_locale">Locale</label>
                    {% verbatim %}
                    <input class="form-control" type="text" name="locale" ng-model="item.locale" typeahead-editable="false"
                    typeahead="locale.name for locale in locale_choices | filter:$viewValue | limitTo:8">
                    <p class="help-block" ng-show="concept_form.locale.$invalid">Select a locale</p>
                    {% endverbatim %}

                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label for="id_preferred_locale">
                            <input class="" id="id_preferred_locale" name="preferred_locale" type="checkbox"
                            ng_model="item.preferred_locale">Preferred Locale</label>
                    </div>
                </div>

                {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                {% endbuttons %}
            </form>

        </div>
    </div>
</div>
{% endblock %}
