{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Update Concept" %}{% endblock %}
{% block content %}

<h3>
    {% source_owner_label source %} / {% source_label source %} / {% concept_label concept %} / {% trans 'Update Concept' %}
    {# TODO: Only show if admin or owner #}
    {% if not concept.retired %}
    <a href="{% url 'concept-retire'  org=source.owner source=source.id concept=concept.id %}" class="small text-muted"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
</h3>

&nbsp;
<div class="container" ng-app="ConceptApp" ng-controller="ConceptController">

    <div class="row">
        <div class="col-md-6">

            {% include 'includes/ng_alerts_incl.html' %}

            <form class="form" name="concept_form" ng-submit="concept_form.$valid && updateItem(item)"
            autcomplete="off">
                {% csrf_token %}
                <div class="form-group required" ng-class="{ 'has-error': concept_form.concept_class.$invalid &amp;&amp; !concept_form.concept_class.$pristine }">
                    <label class="control-label" for="id_locale">Concept Class</label>
                    {% verbatim %}
                    <input class="form-control" type="text" name="concept_class" ng-model="item.concept_class"
                    typeahead-editable="false" typeahead="ct for ct in concept_classes | filter:$viewValue | limitTo:20">
                    <p class="help-block" ng-show="concept_form.concept_class.$invalid">
                        Select a valid Concept class
                    </p>{% endverbatim %}
                </div>

                <div class="form-group">
                    <label class="control-label" for="id_external_id">External ID</label>
                    <input class="form-control" id="id_name" maxlength="48" name="external_id" placeholder="External ID"
                    required="false" title="" type="text" ng-model="item.external_id">
                </div>

                <div class="form-group" ng-class="{ 'has-error': concept_form.datatype.$invalid &amp;&amp; !concept_form.datatype.$pristine }">
                    <label class="control-label" for="id_datatype">Datatype</label>
                    {% verbatim %}
                    <input class="form-control" type="text" name="datatype" ng-model="item.datatype"
                    typeahead-editable="false" typeahead="t for t in datatypes | filter:$viewValue | limitTo:20">
                    <p class="help-block" ng-show="concept_form.datatype.$invalid">
                        Select a valid Datatype
                    </p>{% endverbatim %}
                </div>


                <div class="form-group">
                    <label class="control-label" for="id_update_comment">Update Comment</label>
                    <input class="form-control" id="id_update_comment" maxlength="90" name="update_comment"
                    placeholder="Update Comment" title="" type="text" ng-model="item.update_comment"
                    />
                </div>

                {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                {% endbuttons %}

            </form>

        </div>
    </div>
{% endblock %}
