{% extends "concepts/concept_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div class="container" style="margin-top: 20px;">
	<div class="row">

		<!-- Concept Details -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Concept Details</h3></div>
				<div class="panel-body">
					{% field_label 'ID' concept.id vertical="true" small="true" %}
					{% field_label 'Default Display Name' concept.display_name vertical="true" small="true" %}
					{% field_label 'Display Name Locale' concept.display_locale vertical="true" small="true" %}
					{% field_label 'Concept Class' concept.concept_class vertical="true" small="true" %}
					{% field_label 'Datatype' concept.datatype vertical="true" small="true" %}
					{% field_label 'Retired' concept.retired vertical="true" small="true" %}
					{% if concept.external_id %}
					<hr />
					{% field_label 'External ID' concept.external_id vertical="true" small="true" %}
					{% endif %}
					<hr />
					{% field_label 'Updated by' concept.version_created_by vertical="true" small="true" %}
					{% field_label 'Updated on' concept.version_created_on|smart_datetime vertical="true" small="true" %}
					{% field_label 'Created on' concept.created_on|smart_datetime vertical="true" small="true" %}
				</div>
			</div>
		</div>


		<!-- Concept Names, Descriptions, and Extras -->
		<div class="col-md-8">
			<div class="panel panel-default">

				<!-- Concept names -->
				<div class="panel-heading"><h3 class="panel-title">Names &amp; Synonyms</h3></div>
				<div class="panel-body">
				{% for name in concept.names %}
					{# TODO: Move URL generation for concept names to the view #}
					{% if concept.owner_type == 'Organization' %}
						{% url 'concept-name' org=concept.owner source=concept.source concept=concept.id name=name.uuid as concept_name_permalink %}
					{% else %}
						{% url 'concept-name' user=concept.owner source=concept.source concept=concept.id name=name.uuid as concept_name_permalink %}
					{% endif %}

					<div class="row">
						<div class="col-md-9">
							{{ name.name }}
							{% if name.name_type %}<span class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ name.name_type}}</span></span>{% endif %}
							{% if name.locale %}<span class="small text-muted">&nbsp;&nbsp;<em>[{{ name.locale }}]</em></span>{% endif %}
							{% if name.locale_preferred %}<span class="glyphicon glyphicon-flag"></span>{% endif %}
						</div>
						<div class="col-md-3" style="text-align:right;">
							<a href="{{ concept_name_permalink }}" class="btn btn-link" title="Permalink"><span class="glyphicon glyphicon-link"></span></a>
							{% comment Disabling until page is editable %}
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
							{% endcomment %}
						</div>
						{% if request.GET.debug %}<pre>{{ name }}</pre>{% endif %}
					</div>
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}
				</div>
		
				<!-- Concept descriptions -->
				<div class="panel-heading"><h3 class="panel-title">Descriptions</h3></div>
				<div class="panel-body">
				{% for description in concept.descriptions %}
					{# TODO: Move URL generation for concept names to the view #}
					{% if concept.owner_type == 'Organization' %}
						{% url 'concept-name' org=concept.owner source=concept.source concept=concept.id description=description.uuid as concept_description_permalink %}
					{% else %}
						{% url 'concept-name' user=concept.owner source=concept.source concept=concept.id description=description.uuid as concept_description_permalink %}
					{% endif %}

					<div class="row">
						<div class="col-md-9">
							{{ description.description }}
							{% if description.description_type %}<span class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ description.description_type}}</span></span>{% endif %}
							{% if description.locale %}<span class="small text-muted">&nbsp;&nbsp;<em>[{{ description.locale }}]</em></span>{% endif %}
							{% if description.locale_preferred %}<span class="glyphicon glyphicon-flag"></span>{% endif %}
						</div>
						<div class="col-md-3" style="text-align:right;">
							<a href="{{ concept_description_permalink }}" class="btn btn-link" title="Permalink"><span class="glyphicon glyphicon-link"></span></a>
							{% comment Disabling until page is editable %}
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
							{% endcomment %}
						</div>
						{% if request.GET.debug %}<pre>{{ description }}</pre>{% endif %}
					</div>
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}
				</div>

				<!-- Concept Extras -->
				<div class="panel-heading"><h3 class="panel-title">Extras</h3></div>
				<div class="panel-body">
					{% if concept.extras and concept.extras.items %}
						{% for k, v in concept.extras.items %}
							{% field_label k v %}
						{% endfor %}
					{% else %}
						<h3><small>None</small></h3>
					{% endif %}
				</div>

			</div>
		</div>

	</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Concept</h4><pre>{{ concept|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
{% endblock resource-debug %}
