{% extends "concepts/concept_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div class="container" style="margin-top: 20px;">
	<div class="row">

		<!-- Concept Names, Descriptions, and Custom Attributes -->
		<div class="col-md-6">
			<div class="panel panel-default">

				<!-- Concept names -->
				<div class="panel-heading"><h3 class="panel-title">Names &amp; Synonyms</h3></div>
				<div class="panel-body">
				{% for name in concept.names %}
					{# TODO: Move URL generation for concept names to the view #}
					{% if concept.owner_type == 'Organization' %}
						{% url 'concept-name' org=concept.owner source=concept.source concept=concept.id name=name.uuid as concept_name_permalink %}
					{% else %}
						{% url 'concept-name' user=concept.owner source=concept.source concept=concept.id name=name.uuid as concept_name_permalink %}
					{% endif %}

					<div class="row" style="padding-bottom:10px;">
						<div class="col-md-9">
							{{ name.name }}
							{% if name.name_type %}<span class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ name.name_type}}</span></span>{% endif %}
							{% if name.locale %}<span class="small text-muted">&nbsp;&nbsp;<em>[{{ name.locale }}]</em></span>{% endif %}
							{% if name.locale_preferred %}<span class="glyphicon glyphicon-flag" title="{% trans 'Preferred name for this locale' %}"></span>{% endif %}
							{% if name.external_id %}<br /><span class="text-muted small"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;External ID: {{ name.external_id }}</span>{% endif %}
						</div>
						<div class="col-md-3" style="text-align:right;">
							<a href="{{ concept_name_permalink }}" class="btn btn-link" title="Permalink"><span class="glyphicon glyphicon-link"></span></a>
							{% comment Disabling until page is editable %}
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
							{% endcomment %}
						</div>
						{% if request.GET.debug %}<div class="row"><div class="col-md-12"><pre>{{ name }}</pre></div></div>{% endif %}
					</div>
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}
				</div>

				<!-- Concept descriptions -->
				<div class="panel-heading"><h3 class="panel-title">Descriptions</h3></div>
				<div class="panel-body">
				{% for description in concept.descriptions %}
					{# TODO: Move URL generation for concept names to the view #}
					{% if concept.owner_type == 'Organization' %}
						{% url 'concept-description' org=concept.owner source=concept.source concept=concept.id description=description.uuid as concept_description_permalink %}
					{% else %}
						{% url 'concept-description' user=concept.owner source=concept.source concept=concept.id description=description.uuid as concept_description_permalink %}
					{% endif %}

					<div class="row" style="padding-bottom:10px;">
						<div class="col-md-9">
              <span style="white-space:pre-wrap">{{ description.description }}</span>
							{% if description.description_type %}<span class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ description.description_type}}</span></span>{% endif %}
							{% if description.locale %}<span class="small text-muted">&nbsp;&nbsp;<em>[{{ description.locale }}]</em></span>{% endif %}
							{% if description.locale_preferred %}<span class="glyphicon glyphicon-flag" title="{% trans 'Preferred description for this locale' %}"></span>{% endif %}
							{% if description.external_id %}<br /><span class="text-muted small"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;External ID: {{ description.external_id }}</span>{% endif %}
						</div>
						<div class="col-md-3" style="text-align:right;">
							<a href="{{ concept_description_permalink }}" class="btn btn-link" title="Permalink"><span class="glyphicon glyphicon-link"></span></a>
							{% comment Disabling until page is editable %}
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
							<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
							{% endcomment %}
						</div>
						{% if request.GET.debug %}<div class="row"><div class="col-md-12"><pre>{{ description }}</pre></div></div>{% endif %}
					</div>
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}
				</div>

				<!-- Concept Extras -->
				<div class="panel-heading"><h3 class="panel-title">Custom Attributes</h3></div>
				<div class="panel-body">
					{% if concept.extras and concept.extras.items %}
						{% for k, v in concept.extras.items %}
							{% field_label k v %}
						{% endfor %}
					{% else %}
						<h3><small>None</small></h3>
					{% endif %}
				</div>

			</div>
		</div>


		<!-- Concept Names, Descriptions, and Custom Attributes -->
		<div class="col-md-6">
			<div class="panel panel-default">

				<!-- Mappings -->
				<div class="panel-heading"><h3 class="panel-title">Mappings</h3></div>
				<div class="panel-body" style="overflow-x:scroll;">
				{% if concept.has_direct_mappings %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="1">&nbsp;</th>
								<th>Relationship</th>
								<th>Source</th>
								<th>Code</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
						{% for mapping in concept.mappings|dictsort:"map_type" %}
							{% if mapping.is_direct_mapping %}
								{% if mapping.to_source_owner_type == 'Organization' %}
									{% url 'org-home' org=mapping.to_source_owner as to_concept_owner_url %}
									{% url 'source-home' org=mapping.to_source_owner source=mapping.to_source_name as to_concept_source_url %}
									{% if mapping.is_internal_mapping %}
										{% url 'concept-home' org=mapping.to_source_owner source=mapping.to_source_name concept=mapping.to_concept_code as to_concept_url %}
									{% endif %}
								{% else %}
									{% url 'users:detail' mapping.to_source_owner as to_concept_owner_url %}
									{% url 'source-home' user=mapping.to_source_owner source=mapping.to_source_name as to_concept_source_url %}
									{% if mapping.is_internal_mapping %}
										{% url 'concept-home' user=mapping.to_source_owner source=mapping.to_source_name concept=mapping.to_concept_code as to_concept_url %}
									{% endif %}
								{% endif %}

							<tr>
								<td>{% if mapping.is_external_mapping %}<span class="glyphicon glyphicon-circle-arrow-right" title="External Mapping"></span>{% else %}&nbsp;{% endif %}</td>
								<td>{{ mapping.map_type }}</td>
								<td><a href="{{ to_concept_owner_url }}">{{ mapping.to_source_owner }}</a> / <a href="{{ to_concept_source_url }}">{{ mapping.to_source_name }}</a></td>
								<td>{% if mapping.is_internal_mapping %}<a href="{{ to_concept_url }}">{{ mapping.to_concept_code }}</a>{% else %}{{ mapping.to_concept_code }}{% endif %}</td>
								<td>{{ mapping.to_concept_name|default:"-" }}</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<span class="text-muted">None</span>
				{% endif %}
				</div>

				<!-- Inverse Mappings -->
				<div class="panel-heading"><h3 class="panel-title">Inverse Mappings</h3></div>
				<div class="panel-body" style="overflow-x:scroll;">
				{% if concept.has_inverse_mappings %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="1">&nbsp;</th>
								<th>Relationship</th>
								<th>Source</th>
								<th>Code</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
						{% for mapping in concept.mappings|dictsort:"map_type" %}
							{% if mapping.is_inverse_mapping %}
								{% if mapping.to_source_owner_type == 'Organization' %}
									{% url 'org-home' org=mapping.from_source_owner as from_concept_owner_url %}
									{% url 'source-home' org=mapping.from_source_owner source=mapping.from_source_name as from_concept_source_url %}
									{% url 'concept-home' org=mapping.from_source_owner source=mapping.from_source_name concept=mapping.from_concept_code as from_concept_url %}
								{% else %}
									{% url 'users:detail' mapping.from_source_owner as from_concept_owner_url %}
									{% url 'source-home' user=mapping.from_source_owner source=mapping.from_source_name as from_concept_source_url %}
									{% url 'concept-home' user=mapping.from_source_owner source=mapping.from_source_name concept=mapping.from_concept_code as from_concept_url %}
								{% endif %}

							<tr>
								<td>{% if mapping.is_external_mapping %}<span class="glyphicon glyphicon-circle-arrow-right" title="External Mapping"></span>{% else %}&nbsp;{% endif %}</td>
								<td>{{ mapping.map_type }}</td>
								<td><a href="{{ from_concept_owner_url }}">{{ mapping.from_source_owner }}</a> / <a href="{{ from_concept_source_url }}">{{ mapping.from_source_name }}</a></td>
								<td><a href="{{ from_concept_url }}">{{ mapping.from_concept_code }}</a></td>
								<td>{{ mapping.from_concept_name|default:"-" }}</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<span class="text-muted">None</span>
				{% endif %}
				</div>


				<div class="panel-footer small"><em>* Only mappings defined in this source are displayed here</em></div>
			</div>
		</div>

	</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>Mappings</h4><pre>{{ mappings|pprint }}</pre>
<h4>URL kwargs</h4><pre>{{ kwargs|pprint }}</pre>
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Concept</h4><pre>{{ concept|pprint }}</pre>
{% endblock resource-debug %}
