{# Concept "Mappings" section, list, add and edit #}
{% load i18n %}
{% load ocl_tags %}
&nbsp;
<div ng-controller="MappingController" >

<div class="row">
    <div class="col-md-2" style="text-align:right;font-weight:bold;color:#999;">
        Q & A
    </div>

    <div class="col-md-8">

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="map in item_list|filter:{map_type:'q_and_a'}" class="list-group-item">
                <button type="button" class="btn btn-link" ng-click="setEditedItem(map);startEditingItem();" ><span class="glyphicon glyphicon-pencil"></span>
                    </button>

                {{ map.map_type }} : {{ map.to_concept_name }}<br />{{ map.to_concept_url }}
                <span ng-if="name.locale_preferred" class="glyphicon glyphicon-flag"></span>

                <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteItem(map)"></span>

            {% endverbatim %}               
                {% if request.GET.debug %}<br /><pre>{{ map|pprint }}</pre>{% endif %}</li>

            {% verbatim %}
            <li ng-show="(item_list|filter:{map_type:'q_and_a'}).length == 0" class="list-group-item">&nbsp;</li>
            {% endverbatim %}
        </ul>

    </div> {# list col8 #}
</div> {# list row #}

<div class="row">
    <div class="col-md-2" style="text-align:right;font-weight:bold;color:#999;">
        Concept Sets
    </div>

    <div class="col-md-8">

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="map in item_list|filter:{map_type:'concept_set'}" class="list-group-item">
                <button type="button" class="btn btn-link" ng-click="setEditedItem(map);startEditingItem();" ><span class="glyphicon glyphicon-pencil"></span>
                    </button>

                {{ map.map_type }} : {{ map.to_concept_name }}<br />{{ map.to_concept_url }}
                <span ng-if="name.locale_preferred" class="glyphicon glyphicon-flag"></span>

                <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteItem(map)"></span>
            {% endverbatim %}               
                {% if request.GET.debug %}<br /><pre>{{ map|pprint }}</pre>{% endif %}</li>

            {% verbatim %}
            <li ng-show="(item_list|filter:{map_type:'concept_set'}).length == 0" class="list-group-item">&nbsp;</li>
            {% endverbatim %}

        </ul>
    </div> {# list col8 #}
</div> {# list row #}

<div class="row"> {# add name form row #}
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-6">


{% include 'includes/ng_alerts_incl.html' %}

    {# add form for mapping #}
    <div ng-if="shouldShowCreatingItem()">

    <button type="button" class="btn btn-link" ng-click="startCreatingItem()">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans 'Add Mapping' %}
    </button>

    <form name="map_add_form" ng-submit="addItem(newItem)" ng-show="isCreatingItem">
    {% csrf_token %}
    <div class="form-group required">
        <label class="control-label" for="id_name">Mapping</label>
        <input class="form-control" id="id_name" maxlength="30" name="name" 
            placeholder="Name" required="required" title="" type="text"
            ng-model="newItem.name" />
    </div>

    <div class="form-group required" ng-class="{ 'has-error': map_add_form.map_type.$invalid && !map_add_form.locale.$pristine }">
        <label class="control-label" for="id_locale">Map Type</label>
        {% verbatim %}
        <input class="form-control" type="text" name="map_type" ng-model="addItem.map_type"  typeahead-editable="false"
            typeahead="map_type for map_type in map_types | filter:$viewValue | limitTo:8" >
        <p class="help-block" ng-show="map_add_form.map_type.$invalid">Select a Mapping Type</p>
        {% endverbatim %}
    </div>

    <div class="form-group required">
        <label class="control-label" for="id_name_type">Source Type</label>
        <div class="radio">
            <label>
                <input id="id_internal" name="source_type" type="radio" value="internal"
                ng_model="newItem.source_type">Internal</label>
        </div>
        <div class="radio">
            <label>
                <input id="id_external" name="source_type" type="radio" value="external"
                ng_model="newItem.source_type">External</label>
        </div>
    </div>

    <div ng-show="newItem.source_type == 'external'">
    <div class="form-group required">
        <label class="control-label" for="id_to_source_code">To Source Code</label>
        <input class="form-control" id="id_to_source_code" maxlength="30" name="to_source_code" 
            placeholder="To source code" title="" ng-required="newItem.source_type=='external'" type="text"
            ng-model="newItem.to_source_code" />
    </div>

    <div class="form-group required">
        <label class="control-label" for="id_to_concept_code">To Concept Code</label>
        <input class="form-control" id="id_to_concept_code" maxlength="30" name="to_concept_code" 
            placeholder="To concept code" ng-required="newItem.source_type=='external'" title="" type="text"
            ng-model="newItem.to_concept_code" />
    </div>

    <div class="form-group">
        <label class="control-label" for="id_to_concept_name">To Concept Name</label>
        <input class="form-control" id="id_to_concept_name" maxlength="30" name="to_concept_name" 
            placeholder="To concept name" title="" type="text"
            ng-model="newItem.to_concept_name" />
    </div>
</div>

    <div ng-show="newItem.source_type == 'internal'">

    <div class="form-group required">
        <label class="control-label" for="id_to_concept_url">To Concept URL</label>
        <input class="form-control" id="id_to_concept_code" maxlength="128" name="to_concept_url" 
            placeholder="To concept URL" ng-required="newItem.source_type=='internal'"  title="" type="text"
            ng-model="newItem.to_concept_url" />
    </div>

</div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {% trans 'Add Mapping' %}
      </button>
      <button type="button" class="btn btn-default pull-right" ng-click="cancelCreatingItem()">{% trans 'Cancel' %}</button>
     </div>
    </form>
    </div> {# if creating show #}

<div ng-if="shouldShowEditingItem()">

     {% verbatim %}<h4>Editing Mapping</h4> {% endverbatim %}
    <form name="mapping_edit_form" ng-submit="updateItem(editedItem)" ng-show="isEditingItem">
    {% csrf_token %}
    <div class="form-group required">
        <label class="control-label" for="id_name">Mapping</label>
        <input class="form-control" id="id_name" maxlength="30" name="name" 
            placeholder="Name" required="required" title="" type="text"
            ng-model="editedItem.name" />
    </div>
    <div class="form-group">
        <label class="control-label" for="id_name_type">Mapping Type</label>
        <input class="form-control" id="id_name_type" maxlength="30" name="name_type" 
            placeholder="Name type" title="" type="text"
            ng-model="editedItem.name_type" />
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {% trans 'Update Name' %}
      </button>
      <button type="button" class="btn btn-default pull-right" ng-click="cancelEditingItem()">{% trans 'Cancel' %}</button>
     </div>
    </form>
</div> {# editing name #}






    </div> {# form col6 #}

</div> {# add form row for name #}
</div> {# names controller #}

