{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load ocl_tags %}

{% block title %}{{ concept.id }}{% endblock title %}

{% block content-no-container %}


<header class="org-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
				<div style="display:inline-block;padding-left:20px">

					<h3>
						{% source_owner_label source %} / {% source_label source %} / {% concept_label concept %}
						{% if source.owner_type == 'Organization' %}
						<a href="{% url 'concept-edit' org=source.owner source=source.id concept=concept.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
						{% else %}
						<a href="{% url 'concept-edit' user=source.owner source=source.id concept=concept.id %}" class="small text-muted"><span class="glyphicon glyphicon-cog"></span></a>
						{% endif %}
					</h3>


					<p>
						<span {% if concept.retired %}class="retired"{% endif %}>{{ concept.display_name }}</span>
						{% if concept.display_locale %}&nbsp;&nbsp;<span class="small text-muted"><em>[{{ concept.display_locale }}]</em></span>{% endif %}&nbsp;&nbsp;<span id="element-info" data-toggle="tooltip" data-placement="right" title="Preferred name in selected language"><span class="glyphicon glyphicon-info-sign"></span></span><br />
						<em>Class:</em> {{ concept.concept_class }}, <em>Datatype:</em> {{ concept.datatype }}<br />
						<span class="text-muted small">
							<span class="glyphicon glyphicon-calendar"></span> Created on {{ concept.created_on|smart_date }}
							&nbsp;&nbsp;
							<span class="glyphicon glyphicon-calendar"></span> Last updated {{ concept.updated_on|smart_date}}
						</span>
					</p>
				</div>


			</div> <!-- /col-md-12 -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</header>


<div class="container" ng-app="ConceptApp">

{# tabs #}
<tabset>

<tab heading="Concept Details">
{# ----- Start of concept detail tab ----- #}
&nbsp;
{% include 'concepts/concept_detail_names.html' %}
{% include 'concepts/concept_detail_descs.html' %}
{% include 'core/resource_detail_extra.html' %}
</tab> {# ------- end of detail tab ----- #}


<tab heading="Mappings">
{% include 'concepts/concept_detail_mappings.html' %}
</tab> {# ------- end of mappings tab ----- #}


{% comment %}
{# Jon commented out this block until Collections fully implemented #}
<tab heading="Collections">
	 {# ------- start of collection tab ----- #}
Collections go here. -- HIDE FOR NOW
</tab> {# ------- end of collection tab ----- #}
{% endcomment %}


<tab heading="History" ng-controller="ConceptVersionController">
{# ------- start of versions tab ----- #}
<div class="row">
	<div class="col-md-10">
	&nbsp;
	    <ul>
	    	<li ng-repeat="version in item_list|orderBy:'-version_created_on'" class="list-group-item">

				{% verbatim %}
	                <div class="pull-right text-muted">
						<a href="#{{ version.version }}">{{ version.version }}&nbsp;&nbsp;<span class="glyphicon glyphicon-search pull-right" ></span></a>
	     			</div>

					<div>{{ version.update_comment }}</div>

					<p>
						<span class="text-muted small">
							<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Updated by {{ version.version_created_by|default:'[Unknown User]' }}
							&nbsp;&nbsp;&nbsp;
							<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Updated on {{ version.version_created_on|date:'yyyy-MM-dd HH:mm:ss' }}
						</span>
					</p>

	                <span ng-show="debug"><br /><pre>{{ version }}</pre></span>
				{% endverbatim %}	

	        </li>
		</ul>
    </div> {# list col8 #}
</div> {# list row #}

</tab> {# ------- end of versions tab ----- #}


{% if request.GET.debug %}
<tab heading="Debug">
<pre>{{ concept|pprint }}</pre>
</tab>
{% endif %}

</tabset>

</div> {# app #}


{% endblock content-no-container %}

{% block extrajavascript %}
<script>
$('#element-info').tooltip();
$('#preferred-name-info').tooltip();
$('#locale-preferred-name-tooltip1').tooltip();
</script>
{% endblock extrajavascript %}
