{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}


{% block title %}{{ source.owner }} / {{ source.id }} / {% trans "New Concept" %} - Open Concept Lab{% endblock %}


{% block content %}
{% if source.owner_type == 'Organization' %}
	{% url 'source-concepts' org=source.owner source=source.id as source_concepts_url %}
{% else %}
	{% url 'source-concepts' user=source.owner source=source.id as source_concepts_url %}
{% endif %}

<h3>
	{% resource_owner_label source %} / {% source_label source %}&nbsp;/&nbsp;
	<span style="color:#e5e5e5"><span class="glyphicon glyphicon-list"></span></span>&nbsp;&nbsp;{% trans 'New Concept' %}
</h3>

<div class="container">
	<div class="row" style="padding-top:15px;">

		<!-- New Concept Form -->
		<div class="col-md-8">
			<form class="form" name="concept_form" autocomplete="off" method="post" action=".">
				{% csrf_token %}
        {% bootstrap_form form %}
        <concept-name-synonym names="{{ names }}"
                              types="{{ name_types }}"
                              default-locale="'{{ source.default_locale }}'"
                              locales="{{ locales }}"></concept-name-synonym>

        <concept-description descriptions="{{ descriptions }}"
                             default-locale="'{{ source.default_locale }}'"
                             types="{{ description_types }}" locales="{{ locales }}"></concept-description>

        <custom-attributes extras="{{ extras }}"></custom-attributes>
				{% buttons %}
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">{% trans "Create Concept" %}</button>
            <a href="{{ source_concepts_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
          </div>
				{% endbuttons %}
			</form>
		</div>

		<!-- Tip Panel -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Tip</h3></div>
				<div class="panel-body">
					<p class="small">Choose a <strong>Concept ID</strong> that is consistent across the source. Concept IDs cannot be changed after a concept is created.</p>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock content %}
