{% extends "concepts/concept_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Mappings</h3></div>
				<div class="panel-body">
				{% for mapping_category, mapping_list in mappings.items %}
		        	{% for mapping in mapping_list %}
		        		<div class="row">
		        			<div class="col-md-2">{{ mapping_category }}</div>
		        			<div class="col-md-7">
		        				{% if mapping_category == 'Linked Answer' %}
		        					<span class="label label-warning small">THIS CONCEPT</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">{{ mapping.to_source_url }} {{ mapping.to_concept_code }}</span>
		        				{% elif mapping_category == 'Set Member' %}
		        					<span class="label label-warning small">THIS CONCEPT</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">{{ mapping.to_source_url }} {{ mapping.to_concept_code }}</span>
		        				{% elif mapping_category == 'Direct Internal Mapping' %}
		        					<span class="label label-warning small">THIS CONCEPT</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">{{ mapping.to_source_url }} {{ mapping.to_concept_code }}</span>
		        				{% elif mapping_category == 'Direct External Mapping' %}
		        					<span class="label label-warning small">THIS CONCEPT</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">{{ mapping.to_source_url }} {{ mapping.to_concept_code }}</span>
		        				{% elif mapping_category == 'Linked Question' %}
		        					<span class="label label-warning small">{{ mapping.from_concept_url }}</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">THIS CONCEPT</span>
		        				{% elif mapping_category == 'Set Parent' %}
		        					<span class="label label-warning small">{{ mapping.from_concept_url }}</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">THIS CONCEPT</span>
		        				{% elif mapping_category == 'Inverse Mappings' %}
		        					<span class="label label-warning small">{{ mapping.from_concept_url }}</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">THIS CONCEPT</span>
		        				{% elif mapping_category == 'Other' %}
		        					<span class="label label-warning small">{{ mapping.from_concept_url }}</span> ::
		        					<span class="label label-default small">{{ mapping.map_type }}</span> ::
		        					<span class="label label-primary small">{{ mapping.to_source_url }} {{ mapping.to_concept_code }}</span>
		        				{% endif %}
				            </div>
				            <div class="col-md-3" style="text-align:right;">
								<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-link"></span></button>
								<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
							</div>
		        		</div>
		        		{% if request.GET.debug %}<div class="row"><div class="col-md-12"><pre>{{ mapping|pprint }}</pre></div></div>{% endif %}
		        	{% endfor %}
		        	{% if mapping_list %}<hr />{% endif %}
	        	{% empty %}
					<h3><small>None</small></h3>
	        	{% endfor %}
	    		</div>
	        </div>
		</div>
	</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Concept</h4><pre>{{ concept|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
<h4>Mappings</h4><pre>{{ mappings|pprint }}</pre>
{% endblock resource-debug %}
