{# Concept "description" section, list, add and edit #}
{% load i18n %}
{% load ocl_tags %}

<div ng-controller="ConceptDescriptionController" >

<div class="row"><hr /></div>


<div class="row" >
    <div class="col-md-2" style="text-align:right;font-weight:bold;color:#999;">
        Description
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="desc in item_list" class="list-group-item">

                    <button type="button" class="btn btn-link" ng-click="setEditedItem(desc);startEditingItem();" ><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    {{ desc.description }} : {{ desc.description_type }} <span class="small"><em>[{{ desc.locale }}]</em></span>
                    <span ng-if="desc.locale_preferred" class="glyphicon glyphicon-flag"></span>                    
                <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteItem(desc)"></span>
            {% endverbatim %}
                {% if desc.localePreferred %}&nbsp;<span id="locale-preferred-desc-tooltip{{ forloop.counter }}" data-toggle="tooltip" data-placement="right" title="Locale preferred concept"><span class="glyphicon glyphicon-flag"></span></span>{% endif %}
                / <span class="small">{{ desc.description_type|default:"" }}</span>
                {% if request.GET.debug %}<br /><pre>{{ desc|pprint }}</pre>{% endif %}</li>

        </ul>
    </div> {# 9 #}
</div> {# outer row#}


<div class="row">
<div class="col-md-2">
    &nbsp;
</div>
<div class="col-md-6">


{% verbatim %}
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
{% endverbatim %}

<!-- CREATING -->
<div ng-if="shouldShowCreatingItem()">

    <button type="button" class="btn btn-link" ng-click="startCreatingItem()">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans 'Add Description' %}
    </button>


    <div>
      {% verbatim %}{{ message }}{% endverbatim %}
    </div>

    <form ng-submit="addItem(newItem)" ng-show="isCreatingItem">
    {% csrf_token %}
    <div class="form-group required">
        <label class="control-label" for="id_description">Description</label>
        <input class="form-control" id="id_desription" maxlength="30" name="description" 
            placeholder="Name" required="required" title="" type="text"
            ng-model="newItem.description" />
    </div>
    <div class="form-group">
        <label class="control-label" for="id_description_type">Description Type</label>
        <input class="form-control" id="id_desription_type" maxlength="30" name="description_type" 
            placeholder="Description type" required="required" title="" type="text"
            ng-model="newItem.description_type" />
    </div>

    <div class="form-group required">
        <label class="control-label" for="id_locale">Locale</label>
        {% verbatim %}
        <ui-select ng-model="newItem.locale"
            theme="bootstrap"
            ng-disabled="disabled"
            reset-search-input="false"
            style="width: 300px;" required>
        <ui-select-match placeholder="Select Locale...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="locale in locale_choices|filter: $select.search">
            <div ng-bind-html="locale.name | highlight: $select.search"></div>
        </ui-select-choices>
        </ui-select>
        {% endverbatim %}
    </div>

    <div class="form-group required">
          <div class="checkbox">
        <label>
          <input type="checkbox" name="preferred_locale" ng-model="newItem.locale_preferred">{% trans 'Locale Preferred' %}
        </label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {% trans 'Add Description' %}
      </button>
      <button type="button" class="btn btn-default pull-right" ng-click="cancelCreatingItem()">{% trans 'Cancel' %}</button>
     </div>
    </form>
</div> {# if creating show #}


<!-- EDITING -->
<div ng-if="shouldShowEditingItem()">

     {% verbatim %}<h4>Editing Description</h4> {% endverbatim %}
    <form ng-submit="updateItem(editedItem)" ng-show="isEditingItem">
    {% csrf_token %}
    <div class="form-group required">
        <label class="control-label" for="id_description">Description</label>
        <input class="form-control" id="id_description" maxlength="30" name="description" 
            placeholder="Description" required="required" title="" type="text"
            ng-model="editedItem.description" />
    </div>
    <div class="form-group">
        <label class="control-label" for="id_description_type">Description Type</label>
        <input class="form-control" id="id_description_type" maxlength="30" name="description_type" 
            placeholder="Description type" title="" type="text"
            ng-model="editedItem.description_type" />
    </div>

    <div class="form-group required">
        <label class="control-label" for="id_locale">Locale</label>
        {% verbatim %}
        <ui-select ng-model="editedItem.locale"
            theme="bootstrap"
            ng-disabled="disabled"
            reset-search-input="false"
            style="width: 300px;" required>
        <ui-select-match placeholder="Select Locale...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="locale in locale_choices|filter: $select.search">
            <div ng-bind-html="locale.name | highlight: $select.search"></div>
        </ui-select-choices>
        </ui-select>
        {% endverbatim %}
    </div>

    <div class="form-group required">
          <div class="checkbox">
        <label>
          <input type="checkbox" name="preferred_locale" ng-model="editedItem.locale_preferred">{% trans 'Locale Preferred' %}
        </label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {% trans 'Update Description' %}
      </button>
      <button type="button" class="btn btn-default pull-right" ng-click="cancelEditingItem()">{% trans 'Cancel' %}</button>
     </div>
    </form>
</div> {# editing #}


</div> {# col6 for form for description #}

</div> {# row #}
</div> {# description controller #}