{# Concept "names" section, list, add and edit #}
{% load i18n %}
{% load ocl_tags %}

<div ng-controller="ConceptNameController" >

<div class="row">
    <div class="col-md-2" style="text-align:right;font-weight:bold;color:#999;">
        Names / Synonyms
    </div>
    <div class="col-md-8">

    {% if_can_change concept %}

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="name in item_list" class="list-group-item">
                <button type="button" class="btn btn-link" ng-click="setEditedItem(name);startEditingItem();" ><span class="glyphicon glyphicon-pencil"></span></button>
                {{ name.name }}
                <span ng-show="name.name_type" class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ name.name_type}}</span></span>
                <span ng-show="name.locale" class="small text-muted">&nbsp;&nbsp;<em>[{{ name.locale }}]</em></span>
                <span ng-if="name.locale_preferred" class="glyphicon glyphicon-flag"></span>
                <span class="glyphicon glyphicon-trash pull-right" ng-click="deleteItem(name)"></span>
                <span ng-show="debug"><pre>{{ name }}</pre></span>
            {% endverbatim %}

        </ul>

    {% else %}

        <ul class="list-group">
            {% verbatim %}
            <li ng-repeat="name in item_list" class="list-group-item">
                {{ name.name }} 
                <span ng-show="name.name_type" class="small text-muted">&nbsp;&nbsp;<span class="label label-default">{{ name.name_type}}</span></span>
                <span ng-show="name.locale" class="small text-muted"><em>&nbsp;&nbsp;[{{ name.locale }}]</em></span>
                <span ng-if="name.locale_preferred" class="glyphicon glyphicon-flag"></span>
                <span ng-show="debug"><pre>{{ name }}</pre></span>
            {% endverbatim %}
        </ul>

    {% endif_can_change concept %}

    </div> {# list col8 #}
</div> {# list row #}

<div class="row"> {# add name form row #}
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-6">


{% include 'includes/ng_alerts_incl.html' %}

    {% if_can_change concept %}

    {# add form for names #}
    <div ng-if="shouldShowCreatingItem()">

        <button type="button" class="btn btn-link" ng-click="startCreatingItem()">
            <span class="glyphicon glyphicon-plus"></span>
            {% trans 'Add Concept Name' %}
        </button>

        <form name="name_add_form" ng-submit="addItem(newItem)" ng-show="isCreatingItem">
        {% csrf_token %}

            <div class="form-group required">
                <label class="control-label" for="id_name">Concept Name</label>
                <input class="form-control" id="id_name" name="name" placeholder="Name" required="required" title="" type="text" ng-model="newItem.name" />
            </div>

            <div class="form-group">
                <label class="control-label" for="id_name_type">Concept Name Type</label>
                <input class="form-control" id="id_name_type" name="name_type" placeholder="Nametype, e.g. FULLY_SPECIFIED" type="text" ng-model="newItem.name_type" />
            </div>

            <div class="form-group required" ng-class="{ 'has-error': name_add_form.locale.$invalid && !name_add_form.locale.$pristine }">
                <label class="control-label" for="id_locale">Concept Name Locale</label>
                {% verbatim %}
                <input class="form-control" type="text" name="locale" ng-model="newItem.locale"  typeahead-editable="false" typeahead="locale.name for locale in locale_choices | filter:$viewValue | limitTo:8" >
                <p class="help-block" ng-show="name_add_form.locale.$invalid">Select a locale</p>
                {% endverbatim %}
            </div>

            <div class="form-group required">
                <div class="checkbox">
                    <label><input type="checkbox" name="locale_preferred" ng-model="newItem.locale_preferred">{% trans 'Locale Preferred' %}</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="id_external_id">External ID</label>
                <input class="form-control" id="id_external_id" name="external_id" placeholder="External ID" title="" type="text" ng-model="newItem.external_id" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Add Concept Name' %}</button>
                <button type="button" class="btn btn-default pull-right" ng-click="cancelCreatingItem()">{% trans 'Cancel' %}</button>
            </div>

        </form>
    </div> {# if creating show #}

    <div ng-if="shouldShowEditingItem()">

        {% verbatim %}<h4>Editing Name</h4> {% endverbatim %}
        <form name="name_edit_form" ng-submit="updateItem(editedItem)" ng-show="isEditingItem">
        {% csrf_token %}

            <div class="form-group required">
                <label class="control-label" for="id_name">Concept Name</label>
                <input class="form-control" id="id_name" name="name" placeholder="Name" required="required" title="" type="text" ng-model="editedItem.name" />
            </div>

            <div class="form-group">
                <label class="control-label" for="id_name_type">Name Type</label>
                <input class="form-control" id="id_name_type" name="name_type" placeholder="Nametype (e.g. FULLY_SPECIFIED)" title="" type="text" ng-model="editedItem.name_type" />
            </div>

            <div class="form-group required" ng-class="{ 'has-error': name_edit_form.locale.$invalid && !name_edit_form.locale.$pristine }">
                <label class="control-label" for="id_locale">Concept Name Locale</label>
                {% verbatim %}
                <input class="form-control" type="text" name="locale" ng-model="editedItem.locale" typeahead-editable="false" typeahead="locale.name for locale in locale_choices | filter:$viewValue | limitTo:8" >
                <p class="help-block" ng-show="name_edit_form.locale.$invalid">Select a locale</p>
                {% endverbatim %}
            </div>

            <div class="form-group required">
                <div class="checkbox">
                    <label><input type="checkbox" name="locale_preferred" ng-model="editedItem.locale_preferred">{% trans 'Locale Preferred' %}</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="id_external_id">External ID</label>
                <input class="form-control" id="id_external_id" name="external_id" placeholder="External ID" title="" type="text" ng-model="editedItem.external_id" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Update Concept Name' %}</button>
                <button type="button" class="btn btn-default pull-right" ng-click="cancelEditingItem()">{% trans 'Cancel' %}</button>
            </div>
        </form>

    </div> {# editing name #}

{% endif_can_change concept %}

</div> {# form col6 #}
</div> {# add form row for name #}
</div> {# names controller #}