{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Edit Concept Names" %}{% endblock %}
{% block content %}

<h3>
    <a href="{% url 'org-home' org=source.owner %}" class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ source.owner }}</a>
    /
    <a href="{% url 'source-home' org=source.owner source=source.id %}"<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ source.id }}</span></a>
    {{ source.name }}
</h3>

<h1><span class="glyphicon glyphicon-tag" style="color:#e5e5e5;"></span>&nbsp;&nbsp;Edit Concept Names</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <form class="form-horizontal" id="concept_create_form" method="post" action=".">
            {% csrf_token %}

                {{ formset.management_form }}
                <div class="row">
                    {% for form in formset %}
                    <div class="row">
                        <div class="col-md-4">{% bootstrap_field form.name %}</div>
                        <div class="col-md-2">{% bootstrap_field form.name_type %}</div>
                        <div class="col-md-2">{% bootstrap_field form.locale %}</div>
                        <div class="col-md-2">{% bootstrap_field form.preferred_locale %}</div>
                    </div> {# row #}
                    {% endfor %}
                </div>

                {% buttons layout="horizontal" %}
                  <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                {% endbuttons %}

            </form>

        </div> {# col-lg-12 #}
    </div> {# row #}
</div> {# container #}

{% endblock %}