{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}
{% load ocl_tags %}
{% load i18n %}

{% block title %}{{ object.username }} - Open Concept Lab{% endblock %}

{% block content %}
<div class="container">
	<div class="row">

		<!-- User details -->
		<div class="col-sm-3">
			<div>{% avatar object size=200 %}</div>
			<h2>{{ ocl_user.name }}<br /><small>{{ object.username }}</small></h2>
			<hr />
			<p><strong>{% trans "Company" %}:</strong><br />{{ ocl_user.company|default:"N/A" }}</p>
			<p><strong>{% trans "Location" %}:</strong><br />{{ ocl_user.location|default:"N/A"  }}</p>
			{% if ocl_user.website %}<p><strong>{% trans "Website" %}:</strong><br />{{ ocl_user.website }}</p>{% endif %}
			<p><strong>{% trans "Email" %}:</strong><br />{{ ocl_user.email }}</p>
			<p><strong>{% trans "Preferred Locales" %}:</strong><br />{{ ocl_user.preferred_locale }}</p>
			<p><strong>{% trans "Joined" %}:</strong><br />{{ ocl_user.created_on|smart_date }}</p>
			{% if api_token %}<hr /><p><strong>{% trans "API Token" %}:</strong><br /><span class="small">{{ api_token }}</span></p>{% endif %}
		</div>

		<div class="col-sm-9">

			<!-- Action buttons -->
			{% if object == request.user %}
			<div class="row">
				<div class="pull-right">
					<a class="btn btn-primary" href="{% url 'users:update' ocl_user.username %}">Edit Profile</a>
					<a class="btn" href="{% url 'account_email' %}">E-Mail</a>
					<a class="btn" href="{% url 'avatar_change' %}">Avatar</a>
				</div>
			</div>
			{% endif %}
			<!-- End Action buttons -->

			<div class="row"><p>&nbsp;</p></div>

			<!-- Source List -->
			<div class="row">
				<div class="col-sm-6">
					<div class="list-group">
						<div class="list-group-item">
							<h4>User Sources</h4>
							{% if object == request.user %}
								<small><p class="text-right"><a href="{% url 'source-new' user=ocl_user.username %}">{% trans "New User Source" %}</a></small></p>
							{% endif %}
						</div>
						<div class="list-group-item" style="overflow-x: scroll;">
							{% for source in sources %}
								{% url 'source-home' user=source.owner source=source.short_code as user_source_url %}
								<div class="label-container">
									{% generic_resource_label resource_type='source' resource_id=source.short_code resource_name=source.name resource_url=user_source_url owner_type='User' owner_id=source.owner label_size='small' display_breadcrumb=True %}
								</div>
							{% empty %}
								<h3><small>No User Sources</small></h3>
							{% endfor %}
						</div>
					</div>
				</div>

				<!-- Organization Membership List -->
				<div class="col-sm-6">
					<div class="list-group">
						<div class="list-group-item">
							<h4>Organization Membership</h4>
							{% if object == request.user %}
								<small><p class="text-right"><a href="{% url 'org-new' %}">Create New Organization</a></small></p>
							{% endif %}
						</div>
						<div class="list-group-item" style="overflow-x: scroll;">
							{% for org in orgs %}
								{% url 'org-home' org=org.id as user_org_url %}
								<div class="label-container">
									{% generic_resource_label resource_type='org' resource_id=org.id resource_name=org.name resource_url=user_org_url label_size='small' display_breadcrumb=True %}
								</div>
							{% empty %}
								<h3><small>No Organizations</small></h3>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

{% if request.GET.debug %}
			<div class="row">
				<pre>{{ ocl_user|pprint }}</pre>
			</div>
{% endif %}

		</div>
	</div>

</div>
{% endblock content %}
