{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}
{% load ocl_tags %}
{% load i18n %}

{% block title %}{{ object.username }} - Open Concept Lab{% endblock %}

{% block content-no-container %}
<div class="container-fluid" style="margin-top:10px;">

	{% if object == request.user %}
	<!-- Action buttons -->
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<a class="btn btn-sm btn-primary" href="{% url 'users:update' ocl_user.username %}">Edit Profile</a>
				<a class="btn btn-sm" href="{% url 'account_email' %}">E-Mail</a>
				<a class="btn btn-sm" href="{% url 'avatar_change' %}">Avatar</a>
			</div>
		</div>
	</div>
	<!-- End Action buttons -->
	{% endif %}

	<div class="row">

		<!-- User details -->
		<div class="col-sm-3" style="padding-top:10px;">
			<div>{% avatar object size=200 %}</div>
			<h2>{{ ocl_user.name }}<br /><small>{{ object.username }}</small></h2>
			<hr />
			<p><strong>{% trans "Company" %}:</strong><br />{{ ocl_user.company|default:"N/A" }}</p>
			<p><strong>{% trans "Location" %}:</strong><br />{{ ocl_user.location|default:"N/A"  }}</p>
			{% if ocl_user.website %}<p><strong>{% trans "Website" %}:</strong><br />{{ ocl_user.website }}</p>{% endif %}
			<p><strong>{% trans "Email" %}:</strong><br />{{ ocl_user.email }}</p>
			<!--p><strong>{% trans "Preferred Locales" %}:</strong><br />{{ ocl_user.preferred_locale }}</p-->
			<p><strong>{% trans "Joined" %}:</strong><br />{{ ocl_user.created_on|smart_date }}</p>
			{% if api_token %}<hr /><p><strong>{% trans "API Token" %}:</strong><br /><span class="small">{{ api_token }}</span></p>{% endif %}
		</div>

		<div class="col-sm-9">

			<!-- Tabs -->
			{% url 'users:detail' username=ocl_user.username as user_url %}
			<div class="row" style="margin:12px 0;">
				<ul class="nav nav-tabs small">
					<li role="presentation" {% if selected_tab == "repositories" %}class="active"{% endif %}><a href="{{ user_url }}?tab=Repositories">User Repositories</a></li>
					<li role="presentation" {% if selected_tab == "organizations" %}class="active"{% endif %}><a href="{{ user_url }}?tab=Organizations">Organization Membership</a></li>
				</ul>
			</div>
			<!-- End Tabs -->


			<!-- Sources, Collections, and Orgs -->
			<div class="row">

			{% if selected_tab == "repositories" %}

				<!-- User Sources List -->
				<div class="col-sm-6">
					<div class="list-group">
						<div class="list-group-item">
							<span><strong>User Sources</strong></span>
							{% if object == request.user %}
								<span class="small pull-right" style="padding-top:3px;"><a id="new-user-source" href="{% url 'source-new' user=ocl_user.username %}" title="New User Source"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm">&nbsp;{% trans "New User Source" %}</span></a></span>
							{% endif %}
						</div>
						<div class="list-group-item" style="overflow-x: scroll; white-space: nowrap;">
							{% for source in sources %}
								{% url 'source-home' user=source.owner source=source.short_code as user_source_url %}
								<div id="source-{{ forloop.counter }}" class="label-container">
									{% generic_resource_label resource_type='source' resource_id=source.short_code resource_name=source.name resource_url=user_source_url owner_type='User' owner_id=source.owner label_size='small' display_breadcrumb=True %}
								</div>
							{% empty %}
								<h3><small>No User Sources</small></h3>
							{% endfor %}
						</div>
					</div>
				</div>

				<!-- User Collections List -->
				<div class="col-sm-6">
					<div class="list-group">
						<div class="list-group-item">
							<span><strong>User Collections</strong></span>
							{% if object == request.user %}
								<span class="small pull-right" style="padding-top:3px;"><a id="new-user-collection" href="{% url 'collection-new' user=ocl_user.username %}" title="New User Collection"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm">&nbsp;{% trans "New User Collection" %}</span></a></span>
							{% endif %}
						</div>
						<div class="list-group-item" style="overflow-x: scroll; white-space: nowrap;">
							{% for collection in collections %}
								{% url 'collection-home' user=collection.owner collection=collection.short_code as user_collection_url %}
								<div class="label-container">
									{% generic_resource_label resource_type='collection' resource_id=collection.short_code resource_name=collection.name resource_url=user_collection_url  label_size='small' display_breadcrumb=True %}
								</div>
							{% empty %}
								<h3><small>No User Collections</small></h3>
							{% endfor %}
						</div>
					</div>
				</div>

			{% elif selected_tab == "organizations" %}

				<!-- Organization Membership List -->
				<div class="col-sm-12">
					<div class="list-group">
						<div class="list-group-item">
							<span><strong>Organization Membership</strong></span>
							{% if object == request.user %}
								<span class="small pull-right" style="padding-top:3px;"><a id="new-organization" href="{% url 'org-new' %}" title="New Organization"><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm">&nbsp;New Organization</span></a></span>
							{% endif %}
						</div>
						<div class="list-group-item" style="overflow-x: scroll; white-space: nowrap;">
							{% for org in orgs %}
								{% url 'org-home' org=org.id as user_org_url %}
								<div class="label-container">
									{% generic_resource_label resource_type='org' resource_id=org.id resource_name=org.name resource_url=user_org_url label_size='small' display_breadcrumb=True %}
								</div>
							{% empty %}
								<h3><small>No Organizations</small></h3>
							{% endfor %}
						</div>
					</div>
				</div>

			{% endif %}

			</div>
			<!-- End Sources, Collections and Orgs -->

{% if request.GET.debug %}
			<div class="row">
				<pre>{{ ocl_user|pprint }}</pre>
			</div>
{% endif %}

		</div>
	</div>

</div>
{% endblock content-no-container %}
