{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}
{% load ocl_tags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <div>{% avatar user size=200 %}</div>
      <h2>{{ ocl_user.name }}<br /><small>{{ object.username }}</small></h2>
      <hr />
      <div><strong>Company:</strong> {{ ocl_user.company|default:"N/A" }}</div>
      <div><strong>Location:</strong> {{ ocl_user.location|default:"N/A"  }}</div>
      {% if ocl_user.website %}
      <div><strong>Website:</strong> {{ ocl_user.website }}</div>
      {% endif %}
      <div><strong>Email:</strong> {{ ocl_user.email }}</div>
      <div><strong>Joined:</strong> {{ ocl_user.created_on|smart_date }}</div>
      <hr />
      <h4>Organizations</h4>

      {% for org in orgs %}
        {% org_label org %}<br />
      {% empty %}
      No organizations
      {% endfor %}

    </div>
    <div class="col-sm-9">
      
      <!-- Action buttons -->
      {% if object == request.user %}
      <div class="row">
        <div class="pull-right">
          <a class="btn btn-primary" href="{% url 'users:update' ocl_user.username %}">Edit Profile</a>
          <a class="btn" href="{% url 'account_email' %}">E-Mail</a>
          <a class="btn" href="{% url 'avatar_change' %}">Avatar</a>
        </div>
      </div>
      {% endif %}
      <!-- End Action buttons -->

      <div class="row">
        <p></p>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="list-group">

            <div class="list-group-item"><h4>Sources</h4>
              <small><p class="text-right"><a href="{% url 'source-create-for-user' ocl_user.username %}" >Add Source</a></small></p>
            </div>

            {% for source in sources %}
              <a class="list-group-item" href="{% url 'source-detail' user=source.owner source=source.short_code %}">{{ source.name }}</a>
            {% empty %}
            <span class="list-group-item">No Sources.</span>
            {% endfor %}
          </div>
        </div> {# left col #}

        {% comment %}
        {# hide until we have collections #}
        <div class="col-sm-6">
          <div class="list-group">
            <div class="list-group-item"><h4>Collections</h4>

              <small><p class="text-right"><a href="{% url 'source-create-for-user' ocl_user.username %}" >Add Source</a></small></p>

            </div>

            {% for collection in collections %}
              <a class="list-group-item" href="#">{{ collection.name }}<br />{{ collection|pprint }}</a>
            {% empty %}
            <span class="list-group-item">No collections.</span>
            {% endfor %}
          </div>
        </div>
        {% endcomment %}
      </div>


      <div class="row">
        <div class="col-sm-6">
          {% if api_token %}
          API Token: {{  api_token }}
          {% endif %}
        </div>
      </div>
{% if request.GET.debug %}
      <div class="row">
        <pre>{{ ocl_user|pprint }}</pre>
      </div>
{% endif %}

    </div>
  </div>

</div>
{% endblock content %}
