{% extends "base.html" %}
{% load ocl_tags %}

{% block title %}OCL Tests - Tags{% endblock title %}

{% block content %}
<p>Concept - Full Tag<br />
	{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' resource_retired=False owner_type='Organization' owner_id='CIEL' source_id='CIEL' source_version_id='2015-05-10' label_size='small' display_breadcrumb=True %}
</p>

<p>Retired Concept - Full Tag<br />
	{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' source_id='CIEL' source_version_id='2015-05-10' label_size='small' display_breadcrumb=True %}
</p>

<p>Concept - Small Tag<br />
	{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' label_size='small' %}</p>

<p>Retired Concept - Small Tag<br />
	{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
</p>

{% endblock %}