{% extends "base.html" %}
{% load ocl_tags %}

{% block title %}OCL Tests - Tags{% endblock title %}

{% block content %}
<style>
.row { padding-top: 16px; }
.col-md-10 div { padding-bottom:12px; }
</style>


<h1>OCL Tests - Resource Tags</h2>
<h2>Resource Tags with Breadcrumbs</h2>

<div class="row">
	<div class="col-md-2"><strong>Owners</strong></div>
	<div class="col-md-10">
		<div>User:
			{% generic_resource_label resource_type='user' resource_id='johndoe' resource_name='John Doe' resource_url='/dkd/dkd/' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Organization:
			{% generic_resource_label resource_type='org' resource_id='WHO' resource_name='World Health Organization' resource_url='/dkd/dkd/' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>Sources</strong></div>
	<div class="col-md-10">
		<div>User Source:
			{% generic_resource_label resource_type='source' resource_id='MySource' resource_name='My Really Good Source' resource_url='/dkd/dkd/' owner_type='User' owner_id='johndoe' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned User Source:
			{% generic_resource_label resource_type='source' resource_id='MySource' resource_name='My Really Good Source' resource_version_id='v2016-04-01' resource_url='/dkd/dkd/' owner_type='User' owner_id='johndoe' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Org Source:
			{% generic_resource_label resource_type='source' resource_id='ICD-10' resource_name='International Classification of Diseases v10' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='WHO' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned Org Source:
			{% generic_resource_label resource_type='source' resource_id='ICD-10' resource_name='International Classification of Diseases v10' resource_version_id='v10.2.2' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='WHO' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Org Source:
			{% generic_resource_label resource_type='source' resource_id='ICD-10' resource_name='International Classification of Diseases v10' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='WHO' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>Collections</strong></div>
	<div class="col-md-10">
		<div>User Collection:
			{% generic_resource_label resource_type='collection' resource_id='MyStarterSet' resource_name='My Starter Set' resource_url='/dkd/dkd/' owner_type='User' owner_id='johndoe' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned User Collection:
			{% generic_resource_label resource_type='collection' resource_id='MyStarterSet' resource_name='My Starter Set' resource_version_id='v2.3.2' resource_url='/dkd/dkd/' owner_type='User' owner_id='johndoe' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Org Collection:
			{% generic_resource_label resource_type='collection' resource_id='OncologyStarterSet' resource_name='Oncology Starter Set' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned Org Collection:
			{% generic_resource_label resource_type='collection' resource_id='OncologyStarterSet' resource_name='Oncology Starter Set' resource_version_id='v10.2.2' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Org Collection:
			{% generic_resource_label resource_type='collection' resource_id='OncologyStarterSet' resource_name='Oncology Starter Set' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>Repository Versions</strong></div>
	<div class="col-md-10">
		<div>Source Version:
			{% generic_resource_label resource_type='source_version' resource_id='CIEL' resource_version_id='v2016-08' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Source Version:
			{% generic_resource_label resource_type='source_version' resource_id='CIEL' resource_version_id='v2016-08' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Collection Version:
			{% generic_resource_label resource_type='collection_version' resource_id='OmrsStarterSet' resource_version_id='v2.1' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Collection Version:
			{% generic_resource_label resource_type='collection_version' resource_id='OmrsStarterSet' resource_version_id='v2.1' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>Concepts</strong></div>
	<div class="col-md-10">
		<div>Concept from Head:
			{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Concept from Specific Source Version:
			{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' source_version_id='2015-05-10' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned Concept:
			{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' resource_version_id='3993jfdkkdfd9-9d3jf9' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Concept from Head:
			{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' source_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>Mappings</strong></div>
	<div class="col-md-10">
		<div>Mapping from Head:
			{% generic_resource_label resource_type='mapping' resource_id='9jdifj93k939r9' resource_name='SAME-AS' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Mapping from Specific Source Version:
			{% generic_resource_label resource_type='mapping' resource_id='9jdifj93k939r9' resource_name='SAME-AS' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' source_version_id='2015-05-10' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Versioned Mapping:
			{% generic_resource_label resource_type='mapping' resource_id='9jdifj93k939r9' resource_name='SAME-AS' resource_url='/dkd/dkd/' owner_type='Organization' owner_id='CIEL' source_id='CIEL' resource_version_id='4' label_size='small' display_breadcrumb=True %}
		</div>
		<div>Retired Mapping from Head:
			{% generic_resource_label resource_type='mapping' resource_id='9jdifj93k939r9' resource_name='SAME-AS' resource_url='/dkd/dkd/' resource_retired=True owner_type='Organization' owner_id='CIEL' source_id='CIEL' label_size='small' display_breadcrumb=True %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>References</strong></div>
	<div class="col-md-10">
		<div>Reference:
			(coming soon!)
		</div>
	</div>
</div>



<h2>Resource Tags with no Breadcrumbs</h2>
<div class="row">
	<div class="col-md-2"><strong>Resource</strong></div>
	<div class="col-md-4"><strong>With Name</strong></div>
	<div class="col-md-4"><strong>Retired With Name</strong></div>
	<div class="col-md-1"><strong>No Name</strong></div>
	<div class="col-md-1"><strong>Retired No Name</strong></div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Users</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='user' resource_id='johndoe' resource_name='John Doe' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='user' resource_id='johndoe' resource_name='John Doe' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='user' resource_id='johndoe' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='user' resource_id='johndoe' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Organizations</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='org' resource_id='WHO' resource_name='World Health Organization' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='org' resource_id='WHO' resource_name='World Health Organization' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='org' resource_id='WHO' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='org' resource_id='WHO' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Sources</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='source' resource_id='ICD-10' resource_name='International Classification of Diseases v10' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='source' resource_id='ICD-9' resource_name='International Classification of Diseases v9' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='source' resource_id='ICD-10' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='source' resource_id='ICD-9' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Collections</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='collection' resource_id='OncologyStarterSet' resource_name='Oncology Starter Set' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='source' resource_id='OncologyStarterSet' resource_name='Oncology Starter Set' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='source' resource_id='OncologyStarterSet' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='source' resource_id='OncologyStarterSet' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Concepts</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='concept' resource_id=32 resource_name='Malarial Smear' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='concept' resource_id=32 resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='concept' resource_id=32 resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>Mappings</strong></div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='mapping' resource_id='d9jf93jkf9fje' resource_name='SAME-AS' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-4">
		{% generic_resource_label resource_type='mapping' resource_id='d9jf93jkf9fje' resource_name='SAME-AS' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='mapping' resource_id='d9jf93jkf9fje' resource_url='/dkd/dkd/' label_size='small' %}
	</div>
	<div class="col-md-1">
		{% generic_resource_label resource_type='mapping' resource_id='d9jf93jkf9fje' resource_url='/dkd/dkd/' resource_retired=True label_size='small' %}
	</div>
</div>


{% endblock %}
