/* django template tag: field_label */
.field-label-key {
  text-align:right;
  font-weight:300;
  color:#aaa;
}
.field-label-value {
  
}

/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 35, ../sass/project.scss */
.nav-right {
  display: inline-block;
}

/* line 40, ../sass/project.scss */
form div.input-group {
  width: 350px;
}

/* header */
/* line 47, ../sass/project.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* line 49, ../sass/project.scss */
.header .container {
  margin-top: 20px;
}
/* line 54, ../sass/project.scss */
.header .navbar-brand img {
  height: 40px;
  margin-top: -12px;
}

/* features */
/* line 62, ../sass/project.scss */
.feature-a {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 67, ../sass/project.scss */
.feature-b {
  text-align: center;
  background-color: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 50px;
}




/* SEARCH RESULTS */
.row-search-result {
  border-top:1px solid #e5e5e5;
  padding-bottom:8px;
  padding-top:8px;
}
.search-result-col-checkbox {
  text-align:right;
  padding-top:14px;
}
.search-result-col-icon {
  text-align:right;
  padding-top:14px;
}
.search-result-icon {
  font-size:32pt;
  color:#e5e5e5;
}
.search-result-col-content {
}
.search-result-col-content .label-container {
  padding-top:12px;
  padding-bottom:8px;
}
.row-pagination {
  text-align:center;
}




/* FILTERS */

.filter-group {

}
.filter-group .filter-group-header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 13.5px;
  width: auto;
  border-bottom:1px solid #e5e5e5;
  padding-bottom:5px;
  margin-top:20px;
  color: rgb(153, 153, 153);
}
.filter-group .filter-group-body {
  padding-left:15px;
  padding-right:15px;
}





/* SITE FOOTER */

/* footer */
/* line 76, ../sass/project.scss */
.site-footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

/* line 85, ../sass/project.scss */
.site-footer-links li {
  display: inline;
  padding: 5px;
  font-size: 10pt;
}





/* GENERIC RETIRED LABEL */
/* TODO: Verify that this is still used after switching to generic resource label */

.retired {
  text-decoration: line-through;
  text-decoration-color: Black;
  color: #c66;
}




/* RESOURCE LABELS */
/* TODO: Source and Concept versions */

.resource-label {
  font-size: 13pt;
  line-height: 22pt;
}
.resource-label.small { 
  font-size: 10pt;
  line-height: 16pt;
}
.resource-label.large { 
  font-size: 18px;
  line-height: 1;
}
.resource-label .resource-label-id {
  display: inline;
  padding: .3em .6em .3em .6em;
  color: #666;
  background-color: #eee;
  font-weight: 200;
  letter-spacing:-0.1pt;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em 0 0 .25em;
}
.resource-label .resource-label-id .resource-label-id-icon {
}
.resource-label .resource-label-id .resource-label-id-breadcrumb {
  font-size: 87%;
}
.resource-label .resource-label-id .resource-label-id-breadcrumb .breadcrumb_part_focus {
  font-weight: 600;
  color: Black;
}
.resource-label .resource-label-id .resource-label-id-code {
  font-weight: 600;
  color: Black;
}
.resource-label .resource-label-name {
  display: inline;
  padding: .3em .6em .3em .6em;
  color: White;
  background-color: #428bca;
  font-weight: 300;
  letter-spacing:-0.1pt;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0 .25em .25em 0;
}
.resource-label.no-breadcrumb .resource-label-name {
  /* Should be the same as ".resource-label .resource-label-name" except
  apply border-radius on all 4 corners */
  display: inline;
  padding: .3em .6em .3em .6em;
  color: White;
  background-color: #428bca;
  font-weight: 300;
  letter-spacing:-0.1pt;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em .25em .25em .25em;
}
.resource-label.concept .resource-label-name {
  background-color: #428bca;
}
.resource-label.maptype .resource-label-name {
  background-color: #aaa;
}
.resource-label.source .resource-label-name {
  background-color: #5cb85c;
}
.resource-label.collection .resource-label-name {
  background-color: #5cb85c;
}
.resource-label.organization .resource-label-name {
  background-color: #f0ad4e;
}
.resource-label.user .resource-label-name {
  background-color: #f0ad4e;
}
.resource-label .resource-label-name.retired {
  text-decoration: line-through;
  text-decoration-color: Black;
  -moz-text-decoration-color: Black;
  color: #c33;
  background-color: #ccc;
}



/* Old Resource Labels -- REMOVE AFTER EVERYTHING IS SWITCHED OVER! */
/*
.concept-label {
}
.concept-label .concept-label-id {
  display: inline;
  padding: .2em .6em .3em .6em;
  font-size: 10pt;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em 0 0 .25em;
  background-color: #eee;
  color: #666;
  line-height: 16pt;
}
.concept-label .concept-label-id .concept-label-id-icon {
  font-weight: normal;
  font-size: 10pt;
}
.concept-label .concept-label-id .concept-label-id-breadcrumb {
  font-weight: 200;
  font-size: 9pt;  
}
.concept-label .concept-label-id .concept-label-id-code {
  font-size: 10pt;
  font-weight: 700;
  color: Black;
}
.concept-label .concept-label-name {
  display: inline;
  padding: .2em .6em .3em .6em;
  font-size: 75%;
  font-weight: 200;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0 .25em .25em 0;
  background-color: #eee;

  background-color: #428bca;
  color: White;
  font-weight: 600;
  font-size: 10pt;
  line-height: 16pt;
}
*/



/* Resource Header */

.resource-header {
}
.resource-header.resource-header-concept,
.resource-header.resource-header-mapping,
.resource-header.resource-header-source,
.resource-header.resource-header-collection,
.resource-header.resource-header-org,
.resource-header.resource-header-maptype
{
  background-color:rgb(252,252,252);
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:1px solid #e5e5e5;
  margin-bottom:20px;
}
.resource-header .resource-header-label {
  display:inline-block;
  padding-left:20px
}
.resource-header .resource-header-icon {
  width:48px;
  height:48px;
  margin-left:0px;
  margin-top:10px;
  float:left;
  font-size:32pt;
  color:#e5e5e5;
}

.resource-privacy {
  font-size: 8pt;
  font-weight: normal;
  text-transform: uppercase;
  color: #b9b9b9;
  margin-left: 10px;
  margin-top: 10px;
}



/* OTHER */

.ocl-nav-menu li a {
  font-size: 10pt;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}