{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Reference To Collection" %}{% endblock %}

{% block content %}
{% if collection.owner_type == 'Organization' %}
	{% url 'collection-references' org=collection.owner collection=collection.id as collection_references_url %}
{% else %}
	{% url 'collection-references' user=collection.owner collection=collection.id as collection_references_url %}
{% endif %}

<h3>
    {% resource_owner_label collection %} / {% collection_label collection %} / {% trans "Add Reference[s]" %}
</h3>

<div class="container" ng-controller="AddReferencesController">

    <div class="row">
        <div class="form-group">
            {% field_label 'Short Code' collection.short_code %}
            {% field_label 'Created By' collection.created_by %}
            {% field_label 'Created On' collection.created_on|smart_date %}
            {% field_label 'Owner' collection.owner %}
         </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#addsinglereftab">Add Single Reference</a></li>
              <li><a data-toggle="tab" href="#addmultiplereftab">Add Multiple References</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
      <div id="addsinglereftab" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-12">
              <br/>
              <form ng-submit="addReferences([singleReference])">
                <div class="form-group col-lg-4">
                  <label for="expression">Expression</label>
                  <input type="text"
                         class="form-control"
                         id="expression"
                         ng-model="singleReference"
                         placeholder="e.g. /orgs/WHO/sources/ICD-10/concepts/A15.0/" required>
                  <span class="help-block">Any URL which is valid in OCL</span> <br />
                  <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                  <a href="{{ collection_references_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
                </div>
              </form>
            </div> {# col-lg-12 #}
        </div> {# row #}
      </div>
      <div id="addmultiplereftab" class="tab-pane fade">
       <div class="row">
            <div class="col-lg-2" ng-init="getOwners()">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio"
                                   ng-change="getOwners()"
                                   ng-model="ownerType"
                                   value="orgs">
                            Organization
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                   ng-change="getOwners()"
                                   ng-model="ownerType"
                                   value="users">
                            User
                        </label>
                      <select class="form-control"
                              ng-options="owner as (ownerType === 'orgs' ? owner.id : owner.username) for owner in owners"
                              ng-change="getResourceContainers()"
                              ng-model="owner"></select>

                    </div>
                </form>

            </div> {# col-lg-2 #}
            <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio"
                                   ng-disabled="!owner"
                                   ng-change="getResourceContainers()"
                                   ng-model="resourceContainerType"
                                   value="sources">
                            Source
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                   ng-disabled="!owner"
                                   ng-change="getResourceContainers()"
                                   ng-model="resourceContainerType"
                                   value="collections">
                            Collection
                        </label>
                      <select class="form-control"
                              ng-options="rc as rc.name for rc in resourceContainers"
                              ng-change="getResourceContainerVersions()"
                              ng-disabled="!owner"
                              ng-model="resourceContainer"></select>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>
                            Version
                        </label>
                      <select class="form-control"
                              ng-options="rcv as rcv.id for rcv in resourceContainerVersions"
                              ng-disabled="!owner || !resourceContainer"
                              ng-change="getResourceContainerConcepts(); getResourceContainerMappings()"
                              ng-model="resourceContainerVersion"></select>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}

                      <div class="form-group has-feedback">
                        <label class="control-label">Search</label>
                        <input type="text" class="form-control" placeholder="search" />
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}

                      <div class="form-group">
                          <label class="control-label">Action</label>
                          <br/>
                          <button type="button" class="btn btn-primary" ng-click="addMultipleReferences()">Add</button>
                          <a href="{{ collection_references_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
                    </div>
                </form>
            </div> {# col-lg-12 #}
        </div> {# row #}

        <div class="row" ng-if="mappings.items.length || concepts.items.length">
            <div class="col-lg-6">
                <h4 class="checkbox">
                    <label>
                      <input type="checkbox"
                             ng-change="selectAllReferencesChanged(concepts.items, pageObj.selectAllConcepts)"
                             ng-model="pageObj.selectAllConcepts">
                      All Concepts
                    </label>
                </h4>
                <div class="alert alert-warning" ng-if="!loading && owner && resourceContainer && resourceContainerVersion && !concepts.items.length">
                  No concepts found!
                </div>
                <ul class="list-group">
                  <li class="list-group-item checkbox" ng-repeat="concept in concepts.items">
                      <label class="overflow-hidden">
                          <input type="checkbox"
                                 ng-change="pageObj.selectAllConcepts = referenceSelectionChanged(concept, concepts.items)"
                                 ng-model="concept.isSelected">
                      </label>
                      <a class="resource-label concept small" href="[[ concept.url ]]" target="_blank">
                        <span class="resource-label-id">
                          <span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                          <span class="resource-label-id-breadcrumb">
                            <span class="breadcrumb_part" ng-bind="concept.owner"></span>
                            <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part" ng-bind="concept.source"></span>
                            <span class="breadcrumb_divider"> / </span>
                            <span class="breadcrumb_part breadcrumb_part_focus" ng-bind="concept.id"></span>
                          </span>
                        </span>
                        <span class="resource-label-name" ng-bind="concept.display_name"></span>
                      </a>
                      <p>
                        <em>Class:</em> <span ng-bind="concept.concept_class"></span> <em>Datatype:</em> <span ng-bind="concept.datatype"></span>
                        <br><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on <span ng-bind="concept.updated_on | date"></span></span>
                      </p>
                  </li>
                </ul>
                <uib-pagination
                        total-items="concepts.total"
                        ng-model="currentConceptPage"
                        items-per-page="REFERENCE_LIMIT"
                        ng-change="getSourceConcepts(currentConceptPage)">
                </uib-pagination>
            </div>
            <div class="col-lg-6">
              <h4 class="checkbox">
                <label>
                      <input type="checkbox"
                             ng-change="selectAllReferencesChanged(mappings.items, pageObj.selectAllMappings)"
                             ng-model="pageObj.selectAllMappings"
                             name="allmappingcheckbox">
                      All Mappings
                    </label>
                </h4>
                <div class="alert alert-warning" ng-if="!loading && owner && resourceContainer && resourceContainerVersion && !mappings.items.length">
                  No mappings found!
                </div>
                <ul class="list-group">
                  <li class="list-group-item checkbox" ng-repeat="mapping in mappings.items">
                      <label>
                        <input type="checkbox"
                               ng-change="pageObj.selectAllMappings = referenceSelectionChanged(mapping, mappings.items)"
                               ng-model="mapping.isSelected">
                        <div class="col-md-10 search-result-col-content">
                          <div class="label-container">
                            <a class="resource-label mapping small" href="[[ mapping.url ]]" target="_blank">
                                <span class="resource-label-id">
                                  <span class="resource-label-id-icon"><span class="glyphicon glyphicon-link"></span></span>&nbsp;&nbsp;
                                  <span class="resource-label-id-breadcrumb">
                                    <span class="breadcrumb_part" ng-bind="mapping.owner"></span>
                                    <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part" ng-bind="mapping.source"></span>
                                    <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part breadcrumb_part_focus" ng-bind="mapping.id"></span>
                                  </span>
                                </span>
                                <span class="resource-label-name" ng-bind="mapping.map_type"></span>
                              </a>
                            </span>

                            <!-- from_concept label -->
                            <div style="padding: 8px 0 8px 20px;">
                              <span class="text-muted small">From:</span>&nbsp;&nbsp;
                              <a href="[[ mapping.from_concept_url ]]" target="_blank" class="resource-label concept small">
                                  <span class="resource-label-id">
                                    <span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                                    <span class="resource-label-id-breadcrumb">
                                      <span class="breadcrumb_part" ng-bind="mapping.from_source_owner"></span>
                                      <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part" ng-bind="mapping.from_source_name"></span>
                                      <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part breadcrumb_part_focus" ng-bind="mapping.from_concept_code"></span>
                                    </span>
                                  </span>
                                  <span class="resource-label-name" ng-bind="mapping.from_concept_name"></span>
                                </span>
                              </a>
                            </div>

                            <!-- to_concept label -->
                            <div style="padding: 8px 0 8px 20px;">
                              <span class="text-muted small">To:</span>&nbsp;&nbsp;
                              <a href="[[ mapping.to_concept_url ]]" target="_blank" class="resource-label concept small">
                                <span class="resource-label-id">
                                  <span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                                  <span class="resource-label-id-breadcrumb">
                                    <span class="breadcrumb_part" ng-bind="mapping.to_source_owner"></span>
                                    <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part" ng-bind="mapping.to_source_name"></span>
                                    <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part breadcrumb_part_focus" ng-bind="mapping.to_concept_code"></span>
                                  </span>
                                </span>
                                <span class="resource-label-name" ng-bind="mapping.to_concept_name"></span>
                              </a>
                            </div>

                          </div>
                          <p>
                          <span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on <span ng-bind="mapping.updated_at | date"></span></span>
                          </p>
                        </div>
                      </label>
                  </li>
                </ul>
                <uib-pagination
                        total-items="mappings.total"
                        ng-model="currentMappingPage"
                        items-per-page="REFERENCE_LIMIT"
                        ng-change="getSourceMappings(currentMappingPage)">
                </uib-pagination>
            </div>
        </div>

      </div>
    </div>

</div> {# container #}
{% endblock %}

