{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}


{% block title %}{% trans "Edit Collection" %}{% endblock %}


{% block content %}
{% if collection.owner_type == 'Organization' %}
	{% url 'collection-home' org=collection.owner collection=collection.id as collection_home_url %}
    {% url 'collection-delete' org=collection.owner collection=collection.id as collection_delete_url %}
{% else %}
	{% url 'collection-home' user=collection.owner collection=collection.id as collection_home_url %}
    {% url 'collection-delete' user=collection.owner collection=collection.id as collection_delete_url %}
{% endif %}

<h3>
  {% resource_owner_label collection %} / {% collection_label collection %} / {% trans "Edit Collection" %}
  {# TODO: Only show if admin or owner #}
    {% if_can_change collection %}
        <a href="{{ collection_delete_url }}" class="small text-muted"><span class="glyphicon glyphicon-trash"></span></a>
	{% endif_can_change collection %}

</h3>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			&nbsp;
			{% field_label 'Short Code' collection.short_code %}
			{% field_label 'Created By' collection.created_by %}
			{% field_label 'Created On' collection.created_on|smart_date %}
			{% field_label 'Owner' collection.owner %}
			&nbsp;
		</div>
	</div> {# end row #}

	<div class="row">
		<div class="col-md-8">
			<form id="collection_edit_form" method="post" action=".">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
				    <a href="{{ collection_home_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
				{% endbuttons %}
			</form>
		</div>
	</div> {# end row #}

</div> {# end container #}

{% endblock %}
