{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Collection" %}{% endblock %}
{% block content %}

<h3>
{% if org %}
    {% org_label org %}
{% else %}
    {% user_label ocl_user %}
{% endif %}
/ <span class="glyphicon glyphicon-list" style="color:#e5e5e5;"></span>&nbsp;&nbsp;{% trans 'Add Collection' %}
</h3>



<div class="container">
    <div class="row">
        <div class="col-lg-12">

<form class="form-horizontal" id="collection_create_form" method="post" action=".">
  {% csrf_token %}

  <div class="form-group required"><label class="col-md-2 control-label">Collection</label>
    <div class="col-md-4">
      {% if org %}
      {% trans "Create a collection for this organization" %} : {{ org.id }}
      {% else %}
      {% trans "Create a collection for this user" %} : {{ ocl_user.username }}
      {% endif %}

</div></div>

  {% bootstrap_form form layout="horizontal" %}


  {% buttons layout="horizontal" %}
  <button type="submit" class="btn btn-primary">
    {% trans "Add" %}
  </button>
  {% endbuttons %}

    </form>

        </div>
    </div>
</div>


{% endblock %}
