{% extends "collections/collection_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
{% if collection.owner_type == 'Organization' %}
	{% url 'collection-version-new' org=collection.owner collection=collection.id as collection_version_new_url %}
    {% url 'collection-addreference' org=collection.owner collection=collection.id as collection_addreference_url %}
{% else %}
	{% url 'collection-version-new' user=collection.owner collection=collection.id as collection_version_new_url %}
    {% url 'collection-addreference' user=collection.owner collection=collection.id as collection_addreference_url %}
{% endif %}




<div class="container">
<div class="row">
<form action="." method="get">
    <input type="hidden" name="resource_type" value="collection" />

<!-- Start left column -->

    <div class="col-md-3">

<!-- Filters -->

        {% for search_filter in search_filters %}
        <div class="filter-group">
            <div class="filter-group-header">{{ search_filter.filter_name }}</div>
            <div class="filter-group-body">
                {% for filter_option in search_filter.options %}
                    {% if filter_option.option_num > 0 or search_filter.attrs.show_zeroed_options %}
                        <div class="checkbox"><label><input type="checkbox" name="{{ search_filter.filter_id }}" value="{{ filter_option.option_value }}" {% if filter_option.selected %}checked{% endif %}>{{ filter_option.option_name }}{% if not search_filter.attrs.hide_numbers %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</label></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

<!-- End left column -->

    </div>

<!-- Start right column -->

    <div class="col-md-9">

<!-- Search toolbar -->

        <div class="row" style="padding-top:15px;">
            <div class="col-md-12" style="padding-left:0;">

            <!-- Simple Pager -->
                {% simple_pager collection_page 'collection' url=collection_pagination_url %}

            {% if  not kwargs or not "collection_version" in kwargs  or kwargs.collection_version == 'HEAD' %}
                <!-- New collection reference button -->
                <div class="pull-left">
                    {% if user.is_authenticated %}
                    {# TBD: need a more complete tag to check for access #}
                    <a href="{{ collection_addreference_url }}" class="btn btn-link btn-sm" title="Add New Reference[s]" style="font-weight:300;text-spacing:-0.1pt;"><span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans 'Add New Reference[s]' %}</a>
                    {% endif %}
                </div>
            {% endif %}

                <!-- Collection Version Dropdown -->
				<div class="btn-group pull-left" style="padding-right:5px;">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" style="white-space:nowrap;max-width:200px;overflow:hidden;text-overflow:clip;">
						<span class="text-muted" style="letter-spacing:-0.1pt;font-weight:300;">Collection Version:</span>
						<span style="font-weight:400;text-spacing:-0.1pt;">{% if collection_version %}{{ collection_version }}{% else %}head{% endif %}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
					{% for collection_version_i in collection_versions %}
						{% if collection.owner_type == 'Organization' %}
							{% url 'collection-references' org=collection.owner collection=collection.id collection_version=collection_version_i.id as collection_version_i_url %}
						{% else %}
							{% url 'collection-references' user=collection.owner collection=collection.id collection_version=collection_version_i.id as collection_version_i_url %}
						{% endif %}
						<li {% if collection_version == collection_version_i.id %}class="active"{% endif %}><a href="{{ collection_version_i_url }}">{% if collection_version_i.released %}<strong>{% endif %}{{ collection_version_i.id }}{% if collection_version_i.released %}</strong> <span class="text-muted">(Released)</span>{% endif %}</a></li>
					{% endfor %}
					</ul>
				</div>


                <!-- Org collections Search -->
                <div class="form-group pull-left">
                    <div class="input-group input-group-sm" style="width:250px;">
                        <input name="q" id="resourceFilter" type="text" value="{{ collection_q }}" class="form-control" placeholder="Search collections within organization" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>

                <!-- Sort dropdown -->
                <div class="btn-group pull-left small" style="padding-left:6px;padding-top:6px;font-weight:300;text-spacing:-0.1pt;"><span>Sort by:&nbsp;</span></div>
                <div class="btn-group pull-left" style="padding-top:5px;">
                    <select name="sort" class="btn btn-default btn-sm xdropdown-toggle">
                        {% for o in search_sort_options %}
                        <option {% if search_sort == o %}selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% if  not kwargs or not "collection_version" in kwargs  or kwargs.collection_version == 'HEAD' %}
                <div class="btn-group">
                    <a class="btn delete-reference">Delete</a>
                </div>
            {% endif %}
            </div> <!-- /col-md-12-->
        </div> <!-- /row -->

<!-- Search results -->

        {% for result in references %}


            <div class="row row-search-result references">
            {% if  not kwargs or not "collection_version" in kwargs  or kwargs.collection_version == 'HEAD' %}
                <div class="col-md-1 search-result-col-icon">
                    <input type="checkbox" name="reference" value="{{ result.expression }}" {% if result.expression %}{% endif %}>
                </div>
            {% endif %}
                <div class="col-md-11 search-result-col-content">
                    <div class="pull-left small text-muted" style="padding-top:12px;">
                        <span class="glyphicon {% if result.reference_type == 'concepts' %}glyphicon-tag{% else %}glyphicon-link{% endif %}"></span>
                        <a href="{{ result.expression }}" title="Collection Reference">
                           {{ result.expression}}
                        </a>
                    </div>
                </div>
                </input>
            </div>
        {% endfor %}

        <div id="contact" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete1</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                        <input type="hidden" name="form-type" value="contact-form" />
{#                      <!--- Here --- >#}
                        <input type="submit" value="Send" class="btn btn-success" />
                        </form>
                    </div>
                    <div class="modal-footer">
                       <!-- The Line was here -->
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Pagination -->

        {% if collections %}
        <div class="row" style="text-align:center;">
            {% bootstrap_pagination collection_page url=collection_pagination_url %}
        </div>
        {% endif %}

<!-- End right column -->

    </div> {# col-md-9 #}

</form>
</div> {# row #}
</div> {# container #}


{% endblock tab-content %}


{% block resource-debug %}
<h4>URL kwargs</h4><pre>{{ kwargs|pprint }}</pre>
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Collection</h4><pre>{{ collection|pprint }}</pre>
<h4>Collection Collections</h4><pre>{{ collection_collections|pprint }}</pre>
{% endblock resource-debug %}
