{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Reference To Collection" %}{% endblock %}

{% block content %}
{% if collection.owner_type == 'Organization' %}
	{% url 'collection-references' org=collection.owner collection=collection.id as collection_references_url %}
{% else %}
	{% url 'collection-references' user=collection.owner collection=collection.id as collection_references_url %}
{% endif %}

<h3>
    {% resource_owner_label collection %} / {% collection_label collection %} / {% trans "Add Reference[s]" %}
</h3>

<div class="container" ng-controller="AddReferencesController">
    <div class="row">
        <div class="form-group">
            {% field_label 'Short Code' collection.short_code %}
            {% field_label 'Created By' collection.created_by %}
            {% field_label 'Created On' collection.created_on|smart_date %}
            {% field_label 'Owner' collection.owner %}
         </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#addsinglereftab">Add Single Reference</a></li>
              <li><a data-toggle="tab" href="#addmultiplereftab">Add Multiple References</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
      <div id="addsinglereftab" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-12">
              <br/>
              <div class="form-group col-lg-4">
                <label for="expression">Expression</label>
                <input type="text"
                       class="form-control"
                       id="expression"
                       ng-model="singleReference"
                       placeholder="e.g. /orgs/WHO/sources/ICD-10/concepts/A15.0/" required>
                <span class="help-block">Any URL which is valid in OCL</span> <br />
                <button type="submit" class="btn btn-primary" ng-click="addReferences([singleReference])">{% trans "Add" %}</button>
                <a href="{{ collection_references_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
              </div>
            </div> {# col-lg-12 #}
        </div> {# row #}
      </div>
      <div id="addmultiplereftab" class="tab-pane fade">
       <div class="row">
            <div class="col-lg-2" ng-init="getOrgs()">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="radio-inline">
                            <input checked type="radio" name="owner_radio">Organization
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="owner_radio">User
                        </label>
                      <select class="form-control"
                              ng-options="org as org.id for org in orgs"
                              ng-change="getOrgSources()"
                              ng-model="org"></select>
                    </div>
                </form>

            </div> {# col-lg-2 #}
            <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="radio-inline">
                            <input checked type="radio" name="src_col_radio">Source
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="src_col_radio">Collection
                        </label>
                      <select class="form-control"
                              ng-options="source as source.name for source in sources"
                              ng-change="getSourceVersions()"
                              ng-disabled="!org"
                              ng-model="source"></select>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>
                            Version
                        </label>
                      <select class="form-control"
                              ng-options="sv as sv.id for sv in sourceVersions"
                              ng-disabled="!source"
                              ng-change="getSourceData()"
                              ng-model="sourceVersion"></select>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}

                      <div class="form-group has-feedback">
                        <label class="control-label">Search</label>
                        <input type="text" class="form-control" placeholder="search" />
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </form>
            </div> {# col-lg-12 #}
           <div class="col-lg-2">
                <br/>
                <form class="form-horizontal" id="collection_add_reference_form" method="post" action=".">
                    {% csrf_token %}

                      <div class="form-group">
                          <label class="control-label">Action</label>
                          <br/>
                          <button type="button" class="btn btn-primary" ng-click="addMultipleReferences()">Add</button>
                          <button type="button" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
            </div> {# col-lg-12 #}
        </div> {# row #}

        <div class="row" ng-if="sourceData.mappings.length || sourceData.concepts.length">
            <div class="col-lg-6">
                <h4 class="checkbox">
                    <label>
                      <input type="checkbox"
                             ng-change="selectAllReferencesChanged(sourceData.concepts, pageObj.selectAllConcepts)"
                             ng-model="pageObj.selectAllConcepts">
                      All Concepts
                    </label>
                </h4>
                <div class="alert alert-warning" ng-if="!loading && org && source && sourceVersion && !sourceData.concepts.length">
                  No concepts found!
                </div>
                <ul class="list-group">
                  <li class="list-group-item checkbox" ng-repeat="concept in sourceData.concepts">
                      <label>
                          <input type="checkbox"
                                 ng-change="pageObj.selectAllConcepts = referenceSelectionChanged(concept, sourceData.concepts)"
                                 ng-model="concept.isSelected">
                          <span ng-bind="concept.id"></span>
                      </label>
                  </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h4 class="checkbox">
                    <label>
                      <input type="checkbox"
                             ng-change="selectAllReferencesChanged(sourceData.mappings, pageObj.selectAllMappings)"
                             ng-model="pageObj.selectAllMappings"
                             name="allmappingcheckbox">
                      All Mappings
                    </label>
                </h4>
                <div class="alert alert-warning" ng-if="!loading && org && source && sourceVersion && !sourceData.mappings.length">
                  No mappings found!
                </div>
                <ul class="list-group">
                  <li class="list-group-item checkbox" ng-repeat="mapping in sourceData.mappings">
                      <label>
                          <input type="checkbox"
                                 ng-change="pageObj.selectAllMappings = referenceSelectionChanged(mapping, sourceData.mappings)"
                                 ng-model="mapping.isSelected">
                          <span ng-bind="mapping.url"></span>
                      </label>
                  </li>
                </ul>
            </div>
        </div>

      </div>
    </div>

</div> {# container #}
{% endblock %}
