{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load ocl_tags %}

{% block title %}{% trans "Add Reference To Collection" %}{% endblock %}

{% block content %}
    {% if collection.owner_type == 'Organization' %}
        {% url 'collection-references' org=collection.owner collection=collection.id as collection_references_url %}
    {% else %}
        {% url 'collection-references' user=collection.owner collection=collection.id as collection_references_url %}
    {% endif %}

    <h3>
        {% resource_owner_label collection %} / {% collection_label collection %} / {% trans "Add Reference[s]" %}
    </h3>

    <div class="container" ng-controller="AddReferencesController">
        <!--Error modal-->
        <script type="text/ng-template" id="error-modal.html">
            <div class="modal-header">
                <h3 class="modal-title">Add Reference</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" ng-if="errors">
                    References listed below could not be added.
                </div>
                <ul id="addReferenceModalErrorList" class="list-group" style="overflow-wrap: break-word;" ng-if="errors">
                    <li class="list-group-item" ng-repeat="(key, error) in errors">
                        <strong>[[ key ]]:</strong> [[ error ]]
                    </li>
                </ul>

                <div class="alert alert-success" ng-if="!addingSingle && added && added.length > 0">
                    Following references were added to the collection:
                </div>
                <ul id="addReferenceModalSuccessList" class="list-group" style="overflow-wrap: break-word;" ng-if="added && added.length > 0">
                    <li class="list-group-item" ng-repeat="addedReference in added">
                        <strong>[[ addedReference.expression ]]</strong>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" ng-click="closeErrorModal()">Close</button>
                <a href="{{ collection_references_url }}"
                   ng-if="!addingSingle"
                   id="closeErrorModalButton"
                   class="btn btn-primary"
                   type="button"
                   ng-click="closeErrorModal()">View all references</a>
            </div>
        </script>
        <!-- /Error modal-->

        <!--Confirm modal-->
        <script type="text/ng-template" id="confirm-modal.html">
            <div class="modal-header">
                <h4 class="modal-title">Add to Collection</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body" style="overflow-wrap: break-word;">
                        <h5><strong id="number-of-selected-resources">[[ pageObj.selectedReferenceCount ]]</strong> selected <span id="references-label">references</span> will be added to collection <strong id="collection-name">{{ collection.created_by }} / {{ collection.short_code }}</strong></h5>
                    </div>
                </div>

                <hr>

                <div class="information-tooltip" style="margin: 10px 0;">
                    <label class="checkbox-inline" for="cascade-mappings">
                        <input type="checkbox" id="cascade-mappings" ng-model="pageObj.cascadeMappings">
                        Automatically add associated mappings
                    </label>
                    <button type="button" class="btn btn-question btn-circle" tooltip-placement="right"
                            uib-tooltip="A concept's associated mappings are mappings that originate from the specified concept (the 'from concept') and that are stored in the same source">
                        <strong>?</strong></button>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Cancel" id="close-modal" ng-click="closeConfirmModal()"/>
                <input type="button" class="btn btn-primary" value="Confirm" id="confirm-modal" ng-click="confirmConfirmModal()"/>
            </div>
        </script>
        <!-- /Confirm modal-->

        <div class="row">
            <div>
                {% field_label 'Short Code' collection.short_code %}
                {% field_label 'Created By' collection.created_by %}
                {% field_label 'Created On' collection.created_on|smart_date %}
                {% field_label 'Owner' collection.owner %}
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a id="add-multiple-tab" data-toggle="tab" href="#addmultiplereftab">Add by Organisation or User</a></li>
                    <li><a id="add-single-tab" data-toggle="tab" href="#addsinglereftab">Add by URL</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="addsinglereftab" class="tab-pane fade">
                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                        <form ng-submit="addSingleReferences();">
                            <div class="form-group col-lg-4">
                                <label for="expression">Expression</label>
                                <input type="text"
                                       class="form-control"
                                       id="expression"
                                       ng-model="singleReference"
                                       placeholder="e.g. /orgs/WHO/sources/ICD-10/concepts/A15.0/"
                                       required>
                                <span class="help-block">Any URL which is valid in OCL</span> <br/>
                                <button id="add-single-reference" type="submit"
                                        class="btn btn-primary">{% trans "Add" %}</button>
                                <a href="{{ collection_references_url }}"
                                   class="btn btn-default">{% trans "Cancel" %}</a>
                            </div>
                        </form>
                    </div>
                    {# col-lg-12 #}
                </div>
                {# row #}
            </div>
            <div id="addmultiplereftab" class="tab-pane fade in active">
                <div class="row">
                    <div ng-init="getOwners()">
                        <br/>
                        <div class="row" id="collection_add_reference_form">
                            {% csrf_token %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div style="margin-bottom: 4px">
                                    <label class="radio-inline">
                                        <input type="radio"
                                               ng-change="getOwners()"
                                               ng-model="ownerType"
                                               value="orgs">
                                        Organization
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                               ng-change="getOwners()"
                                               ng-model="ownerType"
                                               value="users">
                                        User
                                    </label>
                                </div>

                                <div class="form-group">
                                    <select id="organization" class="form-control"
                                            ng-options="owner as (ownerType === 'orgs' ? owner.id : owner.username) for owner in owners"
                                            ng-change="getResourceContainers()"
                                            ng-model="owner"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div style="margin-bottom: 4px">
                                    <label class="radio-inline">
                                        <input type="radio"
                                               ng-disabled="!owner"
                                               ng-change="getResourceContainers()"
                                               ng-model="resourceContainerType"
                                               value="sources">
                                        Source
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                               ng-disabled="!owner"
                                               ng-change="getResourceContainers()"
                                               ng-model="resourceContainerType"
                                               value="collections">
                                        Collection
                                    </label>
                                </div>
                                <div class="form-group">
                                    <select id="source" class="form-control"
                                            ng-options="rc as rc.name for rc in resourceContainers"
                                            ng-change="getResourceContainerVersions()"
                                            ng-disabled="!owner"
                                            ng-model="resourceContainer"></select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="sourceVersion">
                                        Version
                                    </label>
                                    <select name="sourceVersion" id='sourceVersion' class="form-control"
                                            ng-options="rcv as formatResourceContainerVersion(rcv) for rcv in resourceContainerVersions"
                                            ng-disabled="!owner || !resourceContainer"
                                            ng-change="getResourceContainerConcepts(); getResourceContainerMappings()"
                                            ng-model="resourceContainerVersion"></select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="search">Search</label>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="pageObj.search"
                                           ng-model-options="{debounce: 300}"
                                           ng-change="getResourceContainerConcepts(); getResourceContainerMappings()"
                                           placeholder="Search"/>
                                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Action</label>
                                    <br/>
                                    <button id="add-multiple-references-button" type="button" class="btn btn-primary" ng-click="multipleReferencesAddButtonClicked()">{% trans "Add" %}
                                    </button>
                                    <a href="{{ collection_references_url }}"
                                       class="btn btn-default">{% trans "Cancel" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {# row #}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-warning"
                             ng-if="!loading && owner && resourceContainer && resourceContainerVersion && !concepts.items.length">
                            No concepts found!
                        </div>
                        <div ng-if="concepts.items.length">
                            <h4 class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="pageObj.selectAllConcepts">
                                    All Concepts
                                </label>
                            </h4>
                            <div ng-if="!pageObj.selectAllConcepts">
                                <ul id="concepts" class="list-group">
                                    <li class="list-group-item checkbox" ng-repeat="concept in concepts.items">
                                        <label class="overflow-hidden">
                                            <input type="checkbox"
                                                   ng-model="concept.isSelected" id="[[ concept.id ]]">
                                        </label>
                                        <a class="resource-label concept small" href="[[ concept.url ]]"
                                           target="_blank">
                          <span class="resource-label-id">
                            <span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                            <span class="resource-label-id-breadcrumb">
                              <span class="breadcrumb_part" ng-bind="concept.owner"></span>
                              <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part"
                                                                               ng-bind="concept.source"></span>
                              <span class="breadcrumb_divider"> / </span>
                              <span class="breadcrumb_part breadcrumb_part_focus" ng-bind="concept.id"></span>
                            </span>
                          </span>
                                            <span ng-class="concept.retired == true ? 'resource-label-name retired':'resource-label-name'"
                                                  ng-bind="concept.display_name"></span>
                                        </a>
                                        <p>
                                            <em>Class:</em> <span ng-bind="concept.concept_class"></span>
                                            <em>Datatype:</em> <span ng-bind="concept.datatype"></span>
                                            <br><span class="text-muted small"><span
                                                class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on <span
                                                ng-bind="concept.updated_on | date"></span></span>
                                        </p>
                                    </li>
                                </ul>
                                <uib-pagination
                                        total-items="concepts.total"
                                        ng-model="currentConceptPage"
                                        items-per-page="REFERENCE_LIMIT"
                                        ng-change="getResourceContainerConcepts(currentConceptPage)">
                                </uib-pagination>
                            </div>
                        </div>
                        <div ng-if="pageObj.selectAllConcepts" class="alert alert-info">
                            All concepts will be added.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="alert alert-warning"
                             ng-if="!loading && owner && resourceContainer && resourceContainerVersion && !mappings.items.length">
                            No mappings found!
                        </div>
                        <div ng-if="mappings.items.length">
                            <h4 class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="pageObj.selectAllMappings">
                                    All Mappings
                                </label>
                            </h4>
                            <div ng-if="!pageObj.selectAllMappings">
                                <ul id="mappings" class="list-group">
                                    <li class="list-group-item checkbox" ng-repeat="mapping in mappings.items">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="mapping.isSelected">
                                            <div class="col-md-10 search-result-col-content">
                                                <div class="label-container">
                                                    <a class="resource-label mapping small"
                                                       href="[[ mapping.versioned_object_url ]]" target="_blank">
                                      <span class="resource-label-id">
                                        <span class="resource-label-id-icon"><span
                                                class="glyphicon glyphicon-link"></span></span>&nbsp;&nbsp;
                                        <span class="resource-label-id-breadcrumb">
                                          <span class="breadcrumb_part" ng-bind="mapping.owner"></span>
                                          <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part"
                                                                                           ng-bind="mapping.source"></span>
                                          <span class="breadcrumb_divider"> / </span><span
                                                class="breadcrumb_part breadcrumb_part_focus"
                                                ng-bind="mapping.id"></span>
                                        </span>
                                      </span>
                                                        <span ng-class="mapping.retired == true ? 'resource-label-name retired':'resource-label-name'"
                                                              ng-bind="mapping.map_type"></span>
                                                    </a>
                                                    </span>

                                                    <!-- from_concept label -->
                                                    <div style="padding: 8px 0 8px 20px;">
                                                        <span class="text-muted small">From:</span>&nbsp;&nbsp;
                                                        <a href="[[ mapping.from_concept_url ]]" target="_blank"
                                                           class="resource-label concept small">
                                        <span class="resource-label-id">
                                          <span class="resource-label-id-icon"><span
                                                  class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                                          <span class="resource-label-id-breadcrumb">
                                            <span class="breadcrumb_part" ng-bind="mapping.from_source_owner"></span>
                                            <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part"
                                                                                             ng-bind="mapping.from_source_name"></span>
                                            <span class="breadcrumb_divider"> / </span><span
                                                  class="breadcrumb_part breadcrumb_part_focus"
                                                  ng-bind="mapping.from_concept_code"></span>
                                          </span>
                                        </span>
                                                            <span class="resource-label-name"
                                                                  ng-bind="mapping.from_concept_name"></span>
                                                            </span>
                                                        </a>
                                                    </div>

                                                    <!-- to_concept label -->
                                                    <div style="padding: 8px 0 8px 20px;">
                                                        <span class="text-muted small">To:</span>&nbsp;&nbsp;
                                                        <a href="[[ mapping.to_concept_url ]]" target="_blank"
                                                           class="resource-label concept small">
                                      <span class="resource-label-id">
                                        <span class="resource-label-id-icon"><span
                                                class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;
                                        <span class="resource-label-id-breadcrumb">
                                          <span class="breadcrumb_part" ng-bind="mapping.to_source_owner"></span>
                                          <span class="breadcrumb_divider"> / </span><span class="breadcrumb_part"
                                                                                           ng-bind="mapping.to_source_name"></span>
                                          <span class="breadcrumb_divider"> / </span><span
                                                class="breadcrumb_part breadcrumb_part_focus"
                                                ng-bind="mapping.to_concept_code"></span>
                                        </span>
                                      </span>
                                                            <span class="resource-label-name"
                                                                  ng-bind="mapping.to_concept_name"></span>
                                                        </a>
                                                    </div>

                                                </div>
                                                <p>
                                                    <span class="text-muted small"><span
                                                            class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last updated on <span
                                                            ng-bind="mapping.updated_at | date"></span></span>
                                                </p>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                                <uib-pagination
                                        total-items="mappings.total"
                                        ng-model="currentMappingPage"
                                        items-per-page="REFERENCE_LIMIT"
                                        ng-change="getResourceContainerMappings(currentMappingPage)">
                                </uib-pagination>
                            </div>
                            <div ng-if="pageObj.selectAllMappings" class="alert alert-info">
                                All mappings will be added.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div> {# container #}
{% endblock %}

