{% extends "collections/collection_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
{% if collection.owner_type == 'Organization' %}
	{% url 'collection-version-new' org=collection.owner collection=collection.id as repo_version_new_url %}
{% else %}
	{% url 'collection-version-new' user=collection.owner collection=collection.id as repo_version_new_url %}
{% endif %}

<div class="container-fluid" style="margin-top: 20px;">
<div class="row">

	<div class="col-sm-8">

		<!-- Collection version search bar -->
		<div class="form-group">
			{% simple_pager current_page 'collection version' url=pagination_url pager_size='small' %}
			<div class="btn-group" style="margin-left:40px;padding-right:10px;">
				{% if_can_change collection %}
					<a href="{{ repo_version_new_url }}" class="small" style="padding-right:10px;"><span class="glyphicon glyphicon-plus"></span> {% trans "New Collection Version" %}</a>&nbsp;&nbsp;&nbsp;
				{% endif_can_change collection %}

				{#<label class="checkbox-inline input-sm text-muted"><input type="checkbox" name="collection-version-filter" value="released" disabled /> {% trans "Released" %}</label>#}
				{#<label class="checkbox-inline input-sm text-muted"><input type="checkbox" name="collection-version-filter" value="is_processing" disabled /> {% trans "Processing" %}</label>#}

				{% include "download_csv.html" with results=collection_versions versions=True %}
			</div>
		</div>

		<!-- Collection version search results -->
		<ul class="list-repository-versions">
		{% for repo_version in collection_versions %}
			{% if repo_version.owner_type == 'Organization' %}
				{% url 'collection-version-concepts' org=repo_version.owner collection=collection.id collection_version=repo_version.id as repo_version_concepts_url %}
				{% url 'collection-version-edit' org=repo_version.owner collection=collection.id collection_version=repo_version.id as repo_version_edit_url %}
			{% else %}
				{% url 'collection-version-concepts' user=repo_version.owner collection=collection.id collection_version=repo_version.id as repo_version_concepts_url %}
				{% url 'collection-version-edit' user=repo_version.owner collection=collection.id collection_version=repo_version.id as repo_version_edit_url %}
			{% endif %}

			<li class="list-group-item">
				<div class="pull-right">
				{% if not repo_version.is_processing %}
					{% if_can_change collection %}
						{% if repo_version.id != 'HEAD' %}
							<a href="{{ repo_version_edit_url }}" class="btn btn-link" title="Edit Collection Version"><span class="glyphicon glyphicon-pencil"></span></a>
							<button class="btn btn-link collection_version_delete glyphicon glyphicon-trash no-text-decoration" title="Delete Collection Version" data-id="{{ repo_version.id }}"></button>
						{% endif %}
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li style="cursor: pointer;"><a data-uri="{{ repo_version.version_url }}concepts/?csv=true" onclick="triggerDownload(this)"><span class="glyphicon glyphicon-file"></span> Concepts</a></li>
								<li style="cursor: pointer;"><a data-uri="{{ repo_version.version_url }}mappings/?csv=true" onclick="triggerDownload(this)"><span class="glyphicon glyphicon-file"></span> Mappings</a></li>
							</ul>
						</div>
					 {% endif_can_change collection %}
				{% endif %}
				</div><!-- /.pull-right -->

				<h4>
					{% generic_resource_label resource_type='collection_version' resource_id=collection.id resource_version_id=repo_version.id resource_url=repo_version_concepts_url resource_retired=repo_version.retired owner_type=repo_version.owner_type owner_id=repo_version.owner label_size='small' display_breadcrumb=True %}

					<span class="release-label-container">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-primary release-label {% if not repo_version.released or repo_version.retired %}hide{% endif %}">{% trans "Released" %}</span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label label-danger retire-label {% if not repo_version.retired %}hide{% endif %}">{% trans "Retired" %}</span>
					</span>

                    {#{% if repo_version.is_processing %}<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning">{% trans "Processing" %}</span></span>{% endif %}#}
				</h4>

				{% if_can_change collection %}
				<div class="pull-right release_unrelease_section small">
					{% if not repo_version.id == 'HEAD' %}
						<input id="id_release" type="checkbox" name="release" value="{{ repo_version.id }}" {% if repo_version.retired %}disabled{% endif %} {% if repo_version.released %}checked{% endif %}/> Release&nbsp;&nbsp;
						<input class="resource_retire" type="checkbox" name="release" value="{{ repo_version.id }}" {% if repo_version.retired %}checked{% endif %}/> Retire
					{% endif %}
				</div>
				{% endif_can_change collection %}

				<p class="small">
					{% if repo_version.description %}<span>{{ repo_version.description }}<br /></span>{% endif %}
					<span class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{% trans "Created on" %} {{ repo_version.created_on|smart_datetime }}</span>
				</p>
			</li>
		{% empty %}
			<li class="list-group-item"><h3><small>{% trans "No collection versions" %}</small></h3></li>
		{% endfor %}
		</ul>

	</div><!-- /.col-sm-8 -->


	<!-- Tip -->
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">{% trans "Tip" %}</h3></div>
			<div class="panel-body">
				<p class="small">Create a new <strong>Collection Version</strong> to save the state of a collection's concepts and mappings at a specific point in time.</p>
				<p class="small">A <strong>Released</strong> collection version indicates to your users that a particular collection version is prepared for public consumption, while a <strong>Retired</strong> collection version indicates that it should no longer be used.</p>
			</div>
		</div>
	</div><!-- /.col-sm-4 -->

</div><!-- /row -->
</div><!-- /container -->
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL kwargs</h4><pre>{{ kwargs|pprint }}</pre>
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Collection</h4><pre>{{ collection|pprint }}</pre>
<h4>Collection Versions</h4><pre>{{ collection_versions|pprint }}</pre>
{% endblock resource-debug %}
