{% extends "base.html" %}

{% block content-no-container %}

<header class="source-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;">
					<span class="glyphicon glyphicon-tags"></span>
				</div>
				<div style="display:inline-block;padding-left:20px">
					<h3>
						<a href="{% url 'org-details' org=collection.owner %}" class="label label-warning"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ collection.owner }}</a>
						/
						<span class="label label-success"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ collection.id }}</span>
						<span class="org-privacy">public</span>
					</h3>
					<h4>{{ collection.name }}</h4>
					<span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last Updated ({{ collection.updatedOn }})</span>
					<!--div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">All Source Fields <span class="pull-right">&blacktriangleright;</span></h3>
						</div>
						<div class="panel-body hidden">
							{% for key, value in collection.items %}
							<div class="row">
								<div class="col-md-3" style="text-align:right;font-weight:bold;color:#999;">{{ key }}</div>
								<div class="col-md-9">{{ value }}</div>
							</div>
							{% endfor %}
						</div>
					</div--> <!-- /panel -->
				</div>
		        {% if request.GET.debug %}
		        	<h5>Source</h5><pre>{{ collection|pprint }}</pre>
		        	<h5>Concepts</h5><pre>{{ concepts|pprint }}</pre>
		        {% endif %}</li>

			</div> <!-- /col-md-12 -->
		</div> <!-- /row -->
	
		<div style="margin-left:50px;margin-top:30px;margin-bottom:-1px;">
			<ul class="nav nav-tabs small">
				<li><a href="#home">Home</a></li>
				<li><a href="#details">Details</a></li>
				<li class="active"><a href="#concepts">Concepts</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#terms">Terms of Use</a></li>
			</ul>
		</div>
	</div> <!-- /container -->
</header>

<!-- Start concepts section -->

<div id="concepts" class="container">
	<div class="row">

<!-- Filters -->

		<div class="col-md-3">
			<div class="filter-group">
				<div class="filter-group-header">Concept Class</div>
				<div class="filter-group-body">
					<div class="checkbox"><label><input type="checkbox"> Anatomy</label></div>
					<div class="checkbox"><label><input type="checkbox"> Diagnosis</label></div>
					<div class="checkbox"><label><input type="checkbox"> Drug</label></div>
					<div class="checkbox"><label><input type="checkbox"> Finding</label></div>
					<div class="checkbox"><label><input type="checkbox"> Symptom</label></div>
					<div class="checkbox"><label><input type="checkbox"> Test</label></div>
					<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
				</div>
			</div>

			<div class="filter-group">
				<div class="filter-group-header">Datatype</div>
				<div class="filter-group-body">
					<div class="checkbox"><label><input type="checkbox"> Boolean</label></div>
					<div class="checkbox"><label><input type="checkbox"> Coded</label></div>
					<div class="checkbox"><label><input type="checkbox"> Date</label></div>
					<div class="checkbox"><label><input type="checkbox"> N/A</label></div>
					<div class="checkbox"><label><input type="checkbox"> Numeric</label></div>
					<div class="checkbox"><label><input type="checkbox"> Text</label></div>
					<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
				</div>
			</div>
		</div>

<!-- Search selecters -->

		<div class="col-md-9">
			<div class="row" style="padding-top:20px;">
				<div class="col-md-12">
					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="text-muted">Sort:</span> <strong>Best Match</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Sort</a></li>
					    <li><a href="#">Another sort</a></li>
					    <li><a href="#">Something else here</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="text-muted">Version:</span> <strong>Latest</strong> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Head</a></li>
					    <li><a href="#">Latest Version</a></li>
					    <li><a href="#">An older version</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding-top:20px;padding-bottom:20px;">
			      <div class="input-group">
			        <input type="text" class="form-control" placeholder="Search Source">
			         <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Search</button>
			      </span>
			      </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>We found {{ concepts|length }} concepts in this collection.</h4>
				</div>
			</div>

	<!-- Display collection search results -->

	        {% for result in concepts %}
				<div class="row row-search-result">
					<div class="col-md-1 search-result-col-checkbox">
						<input type="checkbox" />
					</div>
					<div class="col-md-1 search-result-col-icon">
						<span class="glyphicon glyphicon-tag search-result-icon"></span>
					</div>
					<div class="col-md-10 search-result-col-content">
						<div class="pull-right small text-muted" style="padding-top:12px;">
							<a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}#stars" title="Stars"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;?</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}#collections" title="Collections containing this concept"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;?</a>
						</div>

						<h4><a href="{% url 'concept-detail' org=result.owner source=result.source concept=result.id %}" style="text-decoration: none;">
							<span class="resource-label small concept">
								<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-tag"></span></span>&nbsp;&nbsp;<span class="resource-label-id-breadcrumb">{{ result.owner }} / {{ result.source }} / </span><span class="resource-label-id-code">{{ result.id }}</span></span><span class="resource-label-name">{{ result.displayName }}</span>
							</span>
						</a></h4>

						<p>
							<em>Class:</em> {{ result.conceptClass }}, <em>Datatype:</em> {{ result.datatype }}<br />
							<em>Collections:</em>
								<a href="{% url 'collection' %}" class="label label-default"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Fake / Bogus Value Set</a>
								&nbsp;&nbsp;
								<br />
							{% if result.updatedOn %}<br /><span class="text-muted small"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Last Updated {{ result.updatedOn }}</span>{% endif %}
						</p>
						{% if request.GET.debug %}<pre>{{ result|pprint }}</pre>{% endif %}
					</div>
				</div> <!-- /row -->
			{% endfor %}

	<!-- Pagination -->

			<div class="row" style="text-align:center;">
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>

		</div>
	</div> <!-- /row -->
</div> <!-- /container#concepts -->


{% endblock content-no-container %}