{% extends "base.html" %}

{% block content %}

<div class="row" style="border-bottom:1px solid #e5e5e5;padding-top:20px;padding-bottom:20px;">
	<div class="col-md-2">
		<p class="text-muted pull-right" style="font-size:10pt;padding-top:12px;">PUBLIC</p>
	</div>
	<div class="col-md-10">
		<div style="width:48px;height:48px;margin-left:0px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tags"></span></div>
		<div style="display:inline-block;padding-left:20px">
			<h4><a href="{% url "user" %}" class="label label-warning"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;paynejd</a> / <span class="label label-success"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Community-MCH</span></h4>
			<p class="caption">Community Maternal and Child Health Core Dataset<br />
			<span class="text-muted">Last Updated August 12, 2012</span></p>
			<p><a href="#">More &blacktriangledown;</a></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="filter-group">
			<div class="filter-group-header">Concept Class</div>
			<div class="filter-group-body">
				<div class="checkbox"><label><input type="checkbox"> Anatomy</label></div>
				<div class="checkbox"><label><input type="checkbox"> Diagnosis</label></div>
				<div class="checkbox"><label><input type="checkbox"> Drug</label></div>
				<div class="checkbox"><label><input type="checkbox"> Finding</label></div>
				<div class="checkbox"><label><input type="checkbox"> Symptom</label></div>
				<div class="checkbox"><label><input type="checkbox"> Test</label></div>
				<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
			</div>
		</div>

		<div class="filter-group">
			<div class="filter-group-header">Datatypes</div>
			<div class="filter-group-body">
				<div class="checkbox"><label><input type="checkbox"> Boolean</label></div>
				<div class="checkbox"><label><input type="checkbox"> Coded</label></div>
				<div class="checkbox"><label><input type="checkbox"> Date</label></div>
				<div class="checkbox"><label><input type="checkbox"> N/A</label></div>
				<div class="checkbox"><label><input type="checkbox"> Numeric</label></div>
				<div class="checkbox"><label><input type="checkbox"> Text</label></div>
				<div class="checkbox"><a href="#"><small>More &blacktriangledown;</small></a></div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row" style="padding-top:20px;">
			<div class="col-md-12">
				<div class="btn-group pull-right">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Sort <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Sort</a></li>
				    <li><a href="#">Another sort</a></li>
				    <li><a href="#">Something else here</a></li>
				  </ul>
				</div>
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Version <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Head</a></li>
				    <li><a href="#">Latest Version</a></li>
				    <li><a href="#">An older version</a></li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="padding-top:20px;padding-bottom:20px;">
		      <div class="input-group">
		        <input type="text" class="form-control" placeholder="Search Collection">
		         <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Search</button>
		      </span>
		      </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>We found 2,016 concept results in this source.</h4>
			</div>
		</div>

		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4>
					<span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;WHO / ICD-10-WHO / A01.2 &ndash; Paratyphoid fever B</span>
				</h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="border-top:1px solid #e5e5e5;padding-bottom:8px;padding-top:8px;">
			<div style="width:48px;height:48px;margin-left:20px;margin-top:10px;float:left;font-size:32pt;color:#e5e5e5;"><span class="glyphicon glyphicon-tag"></span></div>
			<div style="display:inline-block;padding-left:20px">
				<h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span>:<span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span>:<span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></h4>
				<p>System Fibrosis<br />
				[Clinical Concept] Diagnosis / N/A<br />
				<span class="text-muted">v2.3.04 Last Updated August 12, 2012</span>
				</p>
			</div>
		</div>
		<div class="row" style="text-align:center;">
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</div>

	</div>
</div>

{% endblock content %}