{% extends "base.html" %}

{% block content %}

<h1>Concept Details</h1>

<h2>
	<a href="{% url "entity" %}"><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</span></a>
	:
	<a href="{% url "repo" %}"><span class="label label-success"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;ICD-10-WHO</span></a>
	:
	<a href="{% url "concept" %}"><span class="label label-warning"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;A01.2</span></a>
</a></h2>

{% endblock content %}