{% extends "base.html" %}

{% block content-no-container %}

    <div class="feature-a">
      <div class="container">
        <span class="glyphicon glyphicon-cloud" style="font-size:60pt;color:#4183c4;"></span>
        <h3>Manage terminology in the cloud.</h3>
        <p>
          <!--div>Community-driven terminology management.</div-->
          <div>
            No need for local servers until your project requires it. OCL provides access to major terminologies, such as the Columbia University eHealth Laboratory's interface terminology and ICD-10. Community contributions mean quicker updates and access to best practices from other countries and organizations.
          </div>
        </p>
      </div>
    </div>
    <div class="feature-b">
      <div class="container">
        <span class="glyphicon glyphicon-signal" style="font-size:60pt;color:#4183c4;"></span>
        <h3>
          One source for terminology up to indicators.
        </h3>
        <p>
          Indicators, clinical quality measures, and terminology can be managed all in one place.
        </p>
      </div>
    </div>
    <div class="feature-a">
      <div class="container">
        <span class="glyphicon glyphicon-cloud" style="font-size:60pt;color:#4183c4;"></span>
        <h3>
          Collaborative from the ground up.
        </h3>
        <p>
          Open Concept Lab is the first online global collaborative platform for terminology management, helping to 
          make the benefit of health information standards available to implementers everywhere. Collaboration within projects and
          across the organizations and countries is essential to reducing duplicative efforts, lowering costs, and improving health for patients worldwide.
        </p>
      </div>
    </div>
    <div class="feature-b">
      <div class="container">
        <span class="glyphicon glyphicon-plane" style="font-size:60pt;color:#4183c4;"></span>
        <h3>
          Preferentially focused on the developing world.
        </h3>
        <p>
          Terminology standards benefit health systems globally, but there is an accute need to lower barriers to adopting health informatics best practices in the low- and middle-income countries (LMICs). Our partnership with the Columbia University International eHealth Laboratory (CIEL) supports adaptation of global standards to LMIC needs.
        </p>
      </div>
    </div>
    <div class="feature-a">
      <div class="container">
        <span class="glyphicon glyphicon-indent-left" style="font-size:60pt;color:#4183c4;"></span>
        <h3>
          Powerful APIs.
        </h3>
        <p>
          Integrate Open Concept Lab directly into your infrastructure using OCL's powerful APIs.
        </p>
      </div>
    </div>
    <div class="feature-b">
      <div class="container">
        <span class="glyphicon glyphicon-user" style="font-size:60pt;color:#4183c4;"></span>
        <h3>
          Communities of practice.
        </h3>
        <p>
          OCL supports domain-specific communities of practice.
        </p>
      </div>
    </div>

{% endblock content-no-container %}