{% extends "base.html" %}

{% block content-no-container %}

<div id="jumbo" class="jumbotron">
  <div class="container">
    <h1>Community-driven<br>terminology management.</h1>
    <p>
      Collaborative terminology and indicator management.
      <br>
      Start using the free plan today.
      <!--a href="{% url 'plans' %}">Advanced plans start at $-/mo.</a-->
    </p>
  </div>
</div>

<div class="container">
  <h1>What's in your dictionary?</h1>
  <p>Benefit from having world-class terminology standards and user-generated content from users all over the world.<p>
  <p>Learn why you'll love using the Open Concept Lab by reviewing our <a href="{% url 'features' %}">Features</a><!--, or see what the community is building in <a href="{% url 'explore' %}">Explore</a> -->.
</div>

{% endblock content-no-container %}