{% extends "base.html" %}

{% block content %}

<h1><span class="glyphicon glyphicon-tags" style="color:#e5e5e5;"></span>&nbsp;&nbsp;New Collection</h1>
&nbsp;

<form role="form" method="post">

  <!-- owner -->
  <div class="form-group">
    <label for="sourceOwner">Owner</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ request.user }}</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;WHO</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div>

  <!-- id -->
  <div class="form-group">
    <label for="collectionShortName">Collection Short Name</label>
    <input type="text" class="form-control" id="collectionShortName" placeholder="Short Name (e.g. Community-MCH)">
    <p class="help-block">Your organization will live at: https://OpenConceptLab.org/orgs/.../collections/<span id="collection-name"></span></p>
  </div>

  <!-- name -->
  <div class="form-group">
    <label for="collectionFullName">Collection Full Name</label>
    <input type="text" class="form-control" id="collectionFullName" placeholder="Full Name (e.g. Community Maternal-Child Health Core Dataset)">
  </div>

  <!-- website -->
  <div class="form-group">
    <label for="collectionWebsite">Website</label>
    <input type="text" class="form-control" id="collectionWebsite" placeholder="Website">
  </div>

  <!-- description -->
  <div class="form-group">
    <label for="collectionDescription">Description</label>
    <textarea class="form-control" id="collectionDescription" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock content %}