{% extends "base.html" %}

{% block content %}

<h1>OCL Plans and Pricing</h1>

<h2>Personal Plans</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th><h3>Free<br /><small>$0/month</small></h3></th>
			<th><h3>Basic<br /><small>$--/month</small></h3></th>
			<th><h3>Premium<br /><small>$--/month</small></h3></th>
			<th><h3>Enterprise<br /><small>$--/month</small></h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Collaborators</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Public Sources</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Public Collections</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Private Sources</th>
			<td>0</td>
			<td>2</td>
			<td>5</td>
			<td>10</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Private Collections</th>
			<td>0</td>
			<td>5</td>
			<td>10</td>
			<td>50</td>
		</tr>
		<tr>
			<th>API</th>
			<td>Limited API, Throttled</td>
			<td>Full API, Throttled</td>
			<td>Full API</td>
			<td>Full API</td>
		</tr>
		<tr>
			<th>Analytics</th>
			<td>None</td>
			<td>Limited</td>
			<td>Full</td>
			<td>Full</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>

<h2>Organization Plans</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th><h3>Free<br /><small>$0/month</small></h3></th>
			<th><h3>Basic<br /><small>$---/month</small></h3></th>
			<th><h3>Premium<br /><small>$---/month</small></h3></th>
			<th><h3>Enterprise<br /><small>$---/month</small></h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Collaborators</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Public Sources</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Public Collections</th>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Private Sources</th>
			<td>0</td>
			<td>2</td>
			<td>5</td>
			<td>10</td>
		</tr>
		<tr>
			<th><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Private Collections</th>
			<td>0</td>
			<td>5</td>
			<td>10</td>
			<td>50</td>
		</tr>
		<tr>
			<th>API</th>
			<td>Limited API, Throttled</td>
			<td>Full API, Throttled</td>
			<td>Full API</td>
			<td>Full API</td>
		</tr>
		<tr>
			<th>Analytics</th>
			<td>None</td>
			<td>Limited</td>
			<td>Full</td>
			<td>Full</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>

{% endblock content %}