// project specific CSS goes here

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.nav-right {
    display: inline-block;
}

form {
    div.input-group {
        width: 350px;
    }

}

/* header */
.header {
  border-bottom: 1px solid #e5e5e5;
  .container {
      margin-top: 20px;
  }

  .navbar-brand { 
    img {
    height: 40px;
    margin-top: -12px;
    }
  }
}

/* features */
.feature-a {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.feature-b {
  text-align: center;
  background-color: #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
}


/* footer */
.site-footer {
  margin-top:40px; 
  margin-bottom:40px; 
  padding-top:30px; 
  padding-left:30px;
  padding-right:30px;
  border-top:1px solid #e5e5e5;
  text-align: center;
}
.site-footer-links li {
  display: inline;
  padding: 5px;
  font-size: 10pt;
}
