<div class="btn-group" id="add-to-collection-dropdown" style="margin-left:5px; margin-right:5px">
    <button type="button" id="add-to-collection-dropdown-button"
            class="btn btn-block btn-sm btn-default dropdown-toggle transparent disabled" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Add to Collection <span class="caret"></span></button>
    <div class="collection-list-dropdown dropdown-menu">
        {% if not collections %}
            <div class="no-collections-info-box">
                <span>You do not have any existing collections. Create a collection in your profile.</span>
            </div>
        {% else %}
            <div id="search-box" style="padding: 10px 10px;padding-bottom: 0;">
                <input id="search-input" type="text" class="form-control" placeholder="Search">
            </div>
            <div class="collection-list-container">
                {% for collection in collections %}
                    <div class="{% if collection.owner_type == 'Organization' %}org-collection-radio {% endif %}collection-radio radio">
                        <label class="org-label">
                            <input type="radio" name="collections" id="user-collection-{{ forloop.counter }}"
                                   value="{{ forloop.counter }}">
                            <input type="hidden" id="collection-owner-{{ forloop.counter }}"
                                   value="{{ collection.owner }}">
                            <input type="hidden" id="collection-name-{{ forloop.counter }}"
                                   value="{{ collection.id }}">
                            <input type="hidden" id="collection-url-{{ forloop.counter }}"
                                   value="{{ collection.url }}">
                            {{ collection.owner }} / <strong>{{ collection.id }}</strong>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="add-to-collection-save btn btn-primary btn-block" disabled="disabled">Add
            </button>
        {% endif %}
    </div>
</div>

<script>
    // Register case insensitive contains
    $.expr[':'].icontains = $.expr.createPseudo(function(text) {
        return function(e) {
            return $(e).text().toUpperCase().indexOf(text.toUpperCase()) >= 0;
        };
    });

    $(document).ready(function () {

        var collectionDropDownItems = $('.collection-list-dropdown div.radio, .collection-list-dropdown input');
        var saveButton = $('.add-to-collection-save');
        var searchInput = $('#search-input');
        var collectionDropDown = $('#add-to-collection-dropdown');

        searchInput.keyup(function () {
            $(".org-label:icontains('" + searchInput.val() + "')").each(function (index) {
                $(this).parent().show();
            });
            $(".org-label:not(:icontains('" + searchInput.val() + "'))").each(function (index) {
                $(this).parent().hide();
            });
        });

        collectionDropDownItems.click(function (e) {
            e.stopPropagation();

            if ($('input[name="collections"]:checked').val()) {
                saveButton.attr('disabled', false);
            }
        });

        collectionDropDown.click(function (e) {
            setTimeout(function(){
                searchInput.focus();
            }, 0);
        });

        saveButton.click(function(){
            var numberOfSelectedResources = $('input.search-result-checkbox:checked').length;
            if(numberOfSelectedResources < 1) return;

            var selectedCollectionIndex = $('input[name="collections"]:checked').val();
            var selectedCollectionOwner = $('#collection-owner-' + selectedCollectionIndex).val();
            var selectedCollectionName = $('#collection-name-' + selectedCollectionIndex).val();
            var selectedCollectionURI = $('#collection-url-' + selectedCollectionIndex).val();
            var selectedCollectionLabel = selectedCollectionOwner + '/' + selectedCollectionName;

            $(document).trigger('addToCollectionConfirmationRequired', [numberOfSelectedResources, selectedCollectionLabel, selectedCollectionURI]);
        });
    })
</script>
