{% if concept.owner_type == 'Organization' %}
<a href="{% url 'concept-detail' org=concept.owner source=concept.source concept=concept.id %}" class="label label-primary">
{% else %}
<a href="{% url 'concept-detail' user=concept.owner source=concept.source concept=concept.id %}" class="label label-primary">
{% endif %}
<span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{% if concept.retired %}<s>&nbsp;&nbsp;{% endif %}{{ concept.id }}{% if concept.retired %}&nbsp;&nbsp;</s>{% endif %}</a>

