{% if concept.owner_type == 'Organization' %}
<a href="{% url 'concept-home' org=concept.owner source=concept.source concept=concept.id %}" class="label label-primary {% if concept.retired %}label-retired{% endif %}">
{% else %}
<a href="{% url 'concept-home' user=concept.owner source=concept.source concept=concept.id %}" class="label label-primary {% if concept.retired %}label-retired{% endif %}">
{% endif %}
<span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{% if concept.retired %}<s>&nbsp;&nbsp;{% endif %}{{ concept.id }}{% if concept.retired %}&nbsp;&nbsp;</s>{% endif %}</a>
