<div class="modal fade" id="delete-reference-confirm" role="dialog" tabindex="-1">
    <div class="modal-dialog expanded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete References</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5><strong id="number-of-selected-resources">-</strong> Selected Reference(s)
                            will be removed from collection </h5>
                    </div>
                </div>

                <hr>

                <div class="information-tooltip" style="margin: 10px 0;">
                    <label class="checkbox-inline" for="cascade-mappings">
                        <input type="checkbox" id="cascade-mappings" checked="checked">
                        Automatically delete associated mappings
                    </label>
                    <button type="button" class="btn btn-question btn-circle" data-toggle="tooltip"
                            data-placement="right"
                            title="A concept's associated mappings are mappings that originate from the specified concept (the 'from concept') and that are stored in the same source">
                        <strong>?</strong></button>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" id="close-modal"/>
                <input type="button" class="btn btn-primary" data-dismiss="modal" value="Confirm" id="reference-confirm-modal"/>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('a.delete-reference').on('click', function () {
            var selectedReferences = $("input[name='reference']:checked"),
                references = _.map(selectedReferences, function (el) {
                    return el.value;
                });

            if (_.size(references) > 0) {
                $('[data-toggle="tooltip"]').tooltip();
                $('#delete-reference-confirm').modal('show');
                $('#number-of-selected-resources').text(selectedReferences.length);
            } else {
                alertify.warning('Please select references!')
            }
        });

        $('#reference-confirm-modal').click(function () {
            var selectedReferences = $("input[name='reference']:checked"),
                references = _.map(selectedReferences, function (el) {
                    return el.value;
                });

            $.ajax({
                type: "DELETE",
                url: buildURI(references),
                headers: {
                    'X-CSRFToken': $.cookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                },
                dataType: 'json'
            }).done(function () {
                window.location.reload(false);
            });
            alertify.success('Successfully removed.', 3);
        }).error(function () {
            alertify.error('Something unexpected happened!', 3);
        });

    });

    $('#close-modal').click(function () {
        $('#unselect-all-references').click();
    });

    function buildURI(references) {
        var url = ' /' + window.location.pathname.split('/').slice(1, 5).join('/') + '/references/delete/' + '?references=' + references;
        var cascadeMappings = $('#cascade-mappings:checked').length > 0;
        return url + '&cascade=' + ( cascadeMappings ? 'sourcemappings' : 'none');
    }


</script>
