{% load staticfiles i18n %}

<footer>
    <div class="site-footer">
        <ul class="site-footer-links pull-left" style="padding-left:0;">
            <li>&copy; 2017 Open Concept Lab</li>
            <li><a href="{% url 'license' %}">License</a></li>
            {# <!--li><a href="{% url 'terms' %}">Terms</a></li--> #}
            {# <!--li><a href="{% url 'privacy' %}">Privacy</a></li--> #}
            {# <!--li><a href="{% url 'plans' %}">Plans</a></li--> #}
            <li><a href="http://github.com/OpenConceptLab/oclapi/wiki" target="_blank">API</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {# <!--li><a href="{% url 'contact' %}">Contact</a></li--> #}
        </ul>
    </div>
</footer>
