{% if breadcrumb_parts %}
{% if resource_url %}<a href="{{ resource_url }}" class="resource-label {{ resource_type }} {{ css_size_class }}">{% else %}<span class="resource-label {{ resource_type }} {{ css_size_class }}">{% endif %}
	<span class="resource-label-id">
		{% if display_icon %}<span class="resource-label-id-icon"><span class="glyphicon glyphicon-{{ resource_icon }}"></span></span>&nbsp;&nbsp;{% endif %}
		<span class="resource-label-id-breadcrumb">
		{% for bc_part in breadcrumb_parts %}
			{% if bc_part.display_as_version %}
				<span class="breadcrumb_part breadcrumb_part_version"><span class="breadcrumb_divider">  [ </span><span{% if bc_part.focus %} class="breadcrumb_part_focus"{% endif %}>{{ bc_part.text }}</span><span class="breadcrumb_divider">  ]</span></span>
			{% else %}
				{% if not forloop.first %}<span class="breadcrumb_divider"> / </span>{% endif %}<span class="breadcrumb_part{% if bc_part.focus %} breadcrumb_part_focus{% endif %}">{{ bc_part.text }}</span>
			{% endif %}
		{% endfor %}
		</span>
	</span>
	<span class="resource-label-name{% if resource_retired %} retired{% endif %}">{% if not resource_name and empty_name_text %}<small><em>{{ empty_name_text }}</small></em>{% else %}{{ resource_name }}{% endif %}</span>
{% if resource_url %}</a>{% else %}</span>{% endif %}
{% else %}
{% if resource_url %}<a href="{{ resource_url }}" class="resource-label {{ resource_type }} {{ css_size_class }} no-breadcrumb">{% else %}<span class="resource-label {{ resource_type }} {{ css_size_class }} no-breadcrumb">{% endif %}{% if display_icon %}<span class="resource-label-name{% if resource_retired %} retired{% endif %}"><span class="glyphicon glyphicon-{{ resource_icon }}"></span>&nbsp;&nbsp;{% endif %}{{ resource_id }}</span>{% if resource_url %}</a>{% else %}</span>{% endif %}
{% endif %}