{% if mapping.owner_type == 'Organization' %}
	{% url 'mapping-home' org=mapping.owner source=mapping.source mapping=mapping.id as mapping_url %}
{% else %}
	{% url 'mapping-home' user=mapping.owner source=mapping.source mapping=mapping.id as mapping_url %}
{% endif %}
<a href="{{ mapping_url }}" style="text-decoration:none;">
	<span class="resource-label {% if label_size == 'small' %}small{% elif label_size == 'large' %}large{% endif %} mapping {% if mapping.retired %}label-retired{% endif %}">
		<span class="resource-label-id"><span class="resource-label-id-icon"><span class="glyphicon glyphicon-link"></span></span>&nbsp;&nbsp;{% if display_breadcrumb %}<span class="resource-label-id-breadcrumb">{{ mapping.owner }} / {{ mapping.source }} / </span>{% endif %}<span class="resource-label-id-code">{{ mapping.id }}</span></span><span class="resource-label-name">{{ mapping.map_type }}</span>
	</span>
</a>