{% load ocl_tags %}
{% if not mapping.to_concept_url %}
	{% generic_resource_label resource_type='concept' resource_id=mapping.to_concept_code resource_name=mapping.to_concept_name owner_type=mapping.to_source_owner_type owner_id=mapping.to_source_owner source_id=mapping.to_source_name label_size=label_size display_breadcrumb=True empty_name_text='-' %}&nbsp;&nbsp;&nbsp;<span class="text-muted small">EXTERNAL</span>
{% else %}
	{% if mapping.to_source_owner_type == 'Organization' %}
		{% url 'concept-home' org=mapping.to_source_owner source=mapping.to_source_name concept=mapping.to_concept_code as concept_url %}
	{% else %}
		{% url 'concept-home' user=mapping.to_source_owner source=mapping.to_source_name concept=mapping.to_concept_code as concept_url %}
	{% endif %}
	{% generic_resource_label resource_type='concept' resource_id=mapping.to_concept_code resource_name=mapping.to_concept_name resource_url=concept_url owner_type=mapping.to_source_owner_type owner_id=mapping.to_source_owner source_id=mapping.to_source_name label_size=label_size display_breadcrumb=True empty_name_text='-' %}
{% endif %}