{% load ocl_tags %}
{% if mapping.from_source_owner_type == 'Organization' %}
	{% url 'concept-home' org=mapping.from_source_owner source=mapping.from_source_name concept=mapping.from_concept_code as concept_url %}
{% else %}
	{% url 'concept-home' user=mapping.from_source_owner source=mapping.from_source_name concept=mapping.from_concept_code as concept_url %}
{% endif %}
{% generic_resource_label resource_type='concept' resource_id=mapping.from_concept_code resource_name=mapping.from_concept_name resource_url=concept_url owner_type=mapping.from_source_owner_type owner_id=mapping.from_source_owner source_id=mapping.from_source_name label_size=label_size display_breadcrumb=True %}