{% if mapping.owner_type == 'Organization' %}
<a href="{% url 'mapping-home' org=mapping.owner source=mapping.source mapping=mapping.id %}" class="label label-primary {% if mapping.retired %}label-retired{% endif %}">
{% else %}
<a href="{% url 'mapping-home' user=mapping.owner source=mapping.source mapping=mapping.id %}" class="label label-primary {% if mapping.retired %}label-retired{% endif %}">
{% endif %}
<span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{% if mapping.retired %}<s>&nbsp;&nbsp;{% endif %}{{ mapping.id }}{% if mapping.retired %}&nbsp;&nbsp;</s>{% endif %}</a>
