{% load staticfiles i18n %}<!DOCTYPE html>
<div class="header navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{% static 'images/ocl-logo.png' %}" height="40" /></a>
    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
         <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      </div>
    </form>
    <ul class="nav navbar-nav pull-right">
      <li><a href="{% url 'explore' %}">Explore</a></li>
      <li><a href="{% url 'features' %}">Features</a></li>
      <li><a href="http://maternalconceptlab.tumblr.com/" target="_new">Blog</a></li>
      <li><a href="{% url 'help' %}">Help</a></li>

      {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:detail' request.user.username  %}">{% trans user.username %}</a></li>
{#        <li><span class="caret"></span></li>#}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Create new Organization</a></li>
            <li><a href="#">Create new Collection</a></li>
            <li><a href="#">Create new Source</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> </a>
        <li><a hre="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        {% else %}
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
      {% endif %}
    </ul>
  </div>
</div>
