{% load staticfiles i18n %}<!DOCTYPE html>
<div class="header navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'images/ocl-logo.png' %}" height="40" /></a>
    <form class="navbar-form navbar-left" role="search" action="{% url 'search'%}" method="get">
      <div class="input-group input-group-sm">
        <input name="q" type="text" class="form-control" placeholder="Search OCL">
         <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
      </div>
    </form>
    <ul class="nav navbar-nav pull-right">
      <li><a href="{% url 'explore' %}">Explore</a></li>
      <li><a href="{% url 'features' %}">Features</a></li>
      <li><a href="http://maternalconceptlab.tumblr.com/" target="_new">Blog</a></li>
      <li><a href="{% url 'help' %}">Help</a></li>

      {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:detail' request.user.username  %}">{% trans user.username %}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'new_org' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;New Organization</a></li>
            <li><a href="{% url 'new_source' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;New Source</a></li>
            <li class="disabled"><a href="{% url 'new_collection' %}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;New Collection</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        {% else %}
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
      {% endif %}
    </ul>
  </div>
</div>
