<div class="btn-group">
    <div class="btn btn-sm btn-default">
        <input type="checkbox" id="toggle-select-references" style="margin-top:0">
    </div>
    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
            data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a id="select-all-references" class="btn">
                <div class="text-left">All</div>
            </a>
        </li>
        <li>
            <a id="unselect-all-references" class="btn">
                <div class="text-left">None</div>
            </a>
        </li>
    </ul>
</div>

<script>
    $(window).on("load", function () {
        var checkboxClassSelector = '{{ checkbox_css_selector }}';
        var toggleId = 'toggle-select-references';
        var toggleIdSelector = '#' + toggleId;
        var dataTableId = '{{ data_table_rows_id }}';

        function initMutationObserver() {
            var target = document.getElementById(dataTableId);
            var observer = new MutationObserver(function (mutations) {
                mutations.forEach(function (mutation) {
                    if (mutation.removedNodes.length != 0) {
                        document.getElementById(toggleId).checked = false;
                    }
                });
            });
            var config = {attributes: true, childList: true, characterData: true, subtree: true};

            observer.observe(target, config);
        }

        function setCheckboxes(checked) {
            return function () {
                $(toggleIdSelector).prop('checked', checked);
                $(checkboxClassSelector).prop('checked', checked);
                if (!checked) {
                    emit('allUnchecked');
                } else {
                    emit('someChecked');
                }
            }
        }

        function registerEventHandlers() {
            $(toggleIdSelector).on('click', function () {
                setCheckboxes($(this).prop('checked'))()
            });
            $('#select-all-references').on("click", setCheckboxes(true));
            $('#unselect-all-references').on("click", setCheckboxes(false));
            var checkBoxes = $(checkboxClassSelector);
            checkBoxes.on("click", function () {
                var isAllUnchecked = true;
                checkBoxes.each(function () {
                    if (this.checked) {
                        isAllUnchecked = false;
                    }
                });
                if (isAllUnchecked) {
                    emit('allUnchecked');
                } else {
                    emit('someChecked');
                }
            });
        }

        function emit(event) {
            $(document).trigger(event);
        }

        initMutationObserver();
        registerEventHandlers();
    });
</script>
