{% load humanize %}
{% with p_url=url|default:"?" %}
<div class="btn-group pull-right" style="margin-right:15px;">
  	<a href="{{ p_url }}{% if page.has_previous %}page={{ page.previous_page_number }}{% else %}#{% endif %}" class="btn btn-default btn-sm {% if not page.has_previous %}disabled{% endif %}"><strong>&lt;</strong></a>
  	<a href="{{ p_url }}{% if page.has_next %}page={{ page.next_page_number }}{% else %}#{% endif %}" class="btn btn-default btn-sm {% if not page.has_next %}disabled{% endif %}"><strong>&gt;</strong></a>
</div>
<div class="pull-right" style="margin-right:15px;padding-top:6px;">
  	<strong>{{ page.start_index|intcomma }}&ndash;{{ page.end_index|intcomma }}</strong> of <strong>{{ page.paginator.count|intcomma }}</strong> {{ name }}{{ page.paginator.count|pluralize }}
</div>
{% endwith %}