{% extends "base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block title %}{{ source.owner }} / {{ source.id }} / {% trans "New Mapping" %} - Open Concept Lab{% endblock title %}


{% block content %}
{% if source.owner_type == 'Organization' %}
	{% url 'source-mappings' org=source.owner source=source.id as source_mappings_url %}
{% else %}
	{% url 'source-mappings' user=source.owner source=source.id as source_mappings_url %}
{% endif %}

<h3>
	{% resource_owner_label source %} / {% source_label source %}&nbsp;/&nbsp;
	<span style="color:#e5e5e5"><span class="glyphicon glyphicon-link"></span></span>&nbsp;&nbsp;{% trans 'New Mapping' %}
</h3>

<div class="container">
	<div class="row" style="padding-top:15px;">

		<!-- New Mapping Form -->
		<div class="col-md-8">
			<form class="form" name="mapping_form" autocomplete="off" method="post">
				{% csrf_token %}

				<div class="form-group">
					<label class="small">Save Mapping In</label>
					<div style="margin-bottom:14px;">{% generic_resource_label resource_type='source' resource_id=source.id resource_name=source.name owner_type=source.owner_type owner_id=source.owner label_size='small' display_breadcrumb=True %}</div>
				</div>

				<div class="form-group required">
					{{ form.from_concept_url.errors }}
					{{ form.from_concept_url.label_tag }}
					{{ form.from_concept_url }}
				</div>

				<div class="form-group required">
					{{ form.map_type.errors }}
					{{ form.map_type.label_tag }}
					{{ form.map_type }}
				</div>

				<div class="form-group">
					{{ form.external_id.errors }}
					{{ form.external_id.label_tag }}
					{{ form.external_id }}
				</div>

				<div class="form-group required">
					{{ form.is_internal_or_external.errors }}
					{{ form.is_internal_or_external.label_tag }}<br />

					<label class="control-label" for="id_is_internal_or_external_0">{{ form.is_internal_or_external.label }}</label>&nbsp;
					<a href="#" data-toggle="tooltip" data-placement="right" title="Internal means the to-concept is stored in OCL. External means that the to-concept is not stored in OCL."><span class="glyphicon glyphicon-question-sign"></span></a>
					<div id="id_is_internal_or_external">
						<label for="id_is_internal_or_external_0" class="radio-inline" title="To Concept is stored in OCL"><input class="radio-inline" id="id_is_internal_or_external_0" name="is_internal_or_external" required="required" type="radio" checked="checked" value="Internal">&nbsp;Internal</label>
						<label for="id_is_internal_or_external_1" class="radio-inline" title="To Concept is not stored in OCL"><input id="id_is_internal_or_external_1" name="is_internal_or_external" required="required" type="radio" value="External" class="radio-inline">&nbsp;External</label>
					</div>
				</div>

				<div id="internal-mapping-form">

					<div class="form-group">
						{{ form.internal_to_concept_url.errors }}
						{{ form.internal_to_concept_url.label_tag }}
						{{ form.internal_to_concept_url }}
					</div>

				</div>

				<div id="external-mapping-form">

					<div class="form-group">
						{{ form.external_to_source_url.errors }}
						{{ form.external_to_source_url.label_tag }}
						{{ form.external_to_source_url }}
					</div>

					<div class="form-group">
						{{ form.external_to_concept_code.errors }}
						{{ form.external_to_concept_code.label_tag }}
						{{ form.external_to_concept_code }}
					</div>

					<div class="form-group">
						{{ form.external_to_concept_name.errors }}
						{{ form.external_to_concept_name.label_tag }}
						{{ form.external_to_concept_name }}
					</div>

				</div>

				{% buttons %}
					<button type="submit" class="btn btn-primary">{% trans "Create Mapping" %}</button>
					<a href="{{ source_mappings_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
				{% endbuttons %}
			</form>
		</div>

		<!-- Tip Panel -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Tip</h3></div>
				<div class="panel-body">
					<p class="small">Choose a <strong>Concept ID</strong> that is consistent across the source. Concept IDs cannot be changed after a concept is created.</p>
					<p class="small">Assign the first name and description now. Additional names and descriptions in any locale can be added later.</p>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock content %}


{% block extrajavascript %}
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	function show_hide_mapping_fields(){
		if($('input:radio[name="is_internal_or_external"]:checked').val() == "External") {
			$('div#internal-mapping-form div.form-group').hide();
			$('div#external-mapping-form div.form-group').show();
		} else if($('input:radio[name="is_internal_or_external"]:checked').val() == "Internal") {
			$('div#internal-mapping-form div.form-group').show();
			$('div#external-mapping-form div.form-group').hide();
		} else {
			$('div#internal-mapping-form div.form-group').hide();
			$('div#external-mapping-form div.form-group').hide();
		}
	}
	show_hide_mapping_fields();
	$('#id_is_internal_or_external input[type="radio"]').click(function (){ show_hide_mapping_fields(); });
});
</script>
{% endblock extrajavascript %}
