{% extends "mappings/mapping_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div ng-controller="MappingVersionsController">
<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Mapping Version History</h3></div>
				<div class="panel-body">

                    {% if mapping.owner_type == 'Organization' %}
                        {% url 'mapping-diff-version' org=mapping.owner source=mapping.source mapping=mapping.id as mapping_version_diff_url %}
                    {% else %}
                        {% url 'mapping-diff-version' user=mapping.owner source=mapping.source mapping=mapping.id as mapping_version_diff_url %}
                    {% endif %}

                    {{ mapping_version_diff_url }}

				{% for mapping_version in mapping_versions %}
					<div class="row">
						<div class="col-md-9">
                                <span class="text-muted small"><em>version : </em></span> {{ mapping_version.version }}
                            <br />
                            {% if mapping_version.update_comment %}{{ mapping_version.update_comment }}{% else %}<span class="text-muted small"><em>No update comment</em></span>{% endif %}<br />
							<span class="text-muted small">
								<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Updated by {{ mapping_version.created_by }}
								&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Updated on {{ mapping_version.created_at|smart_datetime }}
							</span>
						</div>
						<div class="col-md-3" style="text-align:right;">
							<a href="{{ mapping_version.url }}"><span class="glyphicon glyphicon-search"></span></a>
						</div>
					</div>
					{% if request.GET.debug %}<div class="row"><div class="col-md-12"><pre>{{ mapping_version|pprint }}</pre></div></div>{% endif %}
					{% if not forloop.last %}<hr />{% endif %}
				{% empty %}
					<h3><small>None</small></h3>
				{% endfor %}

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Tip</h3></div>
				<div class="panel-body">
					<p class="small">All changes to a mapping are automatically saved to its
						<strong>Mapping Version History</strong>.</p>
				</div>
			</div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Diff</h3></div>
                <div class="panel-body">
                    <form class="form" name="compare_mappings_diff_form"
                          ng-submit="submitCompareMappingsForm(compare_mappings_diff_form, '{{ mapping_version_diff_url }}')" method="get">

                        {{ form.non_field_errors }}

                        <div class="form-group">
                            <label class="small">{% trans 'The First Mapping' %}</label>
                            <div>{% generic_resource_label resource_type='mapping' resource_id=mapping.id resource_name=mapping.display_name resource_retired=mapping.retired owner_type=mapping.owner_type owner_id=mapping.owner source_id=mapping.source label_size='small' display_breadcrumb=True %}</div>
                        </div>

                        <div class="form-group required">
                            <label class="control-label required small">Version</label>
                            <select class="form-control" id="first_mapping_version" name="mapping_version"
                            ng-model="selectedFirstMappingVersion" ng-click="getSelectedFirstMappingVersion()">
                                {% for mapping_version in mapping_versions %}
                                    <option value="{{ mapping_version.url }}">{{ mapping_version.version }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <label class="small">{% trans 'The Second Mapping' %}</label>

                        <div class="form-group required">
                            <label class="control-label required small">Sources</label>
                            <select class="form-control" id="second_sources" ng-click="getMappings()"
                            ng-model="selected_source">
                                {% for source in all_sources %}
                                    <option value="{{ source.url }}">{{ source.id }}/{{ source.owner }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group required">
                            <!--{% verbatim %}-->
                            <label class="control-label required small">Mappings</label>
                            <select class="form-control" id="second_source_Mappings"
                                    ng-model="selected_Mapping" ng-click="getVersions()">
                                <option ng-repeat="mapping in source_mappings" value="[[ mapping.url ]]">[[ mapping.id ]]</option>
                            </select>
                            <!--{% endverbatim %}-->
                        </div>

                        <div class="form-group required">
                            <label class="control-label required small">Versions</label>
                            <select class="form-control" id="second_mapping_version" name="mapping_version"
                            ng-model="selectedSecondMappingVersion" ng-click="getSelectedSecondMappingVersion()">
                                <option ng-repeat="second_mapping_version in mapping_versions" value="[[ second_mapping_version.url ]]">
                                    [[ second_mapping_version.version ]]</option>
                            </select>
                        </div>

                        {% buttons %}
                            <button type="submit"  class="btn btn-primary btn-block">Compare</button>
                        {% endbuttons %}
                    </form>
                </div> <!-- /panel-body -->
			</div> <!-- /panel -->
		</div>

	</div>
</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL kwargs</h4><pre>{{ kwargs|pprint }}</pre>
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Mapping</h4><pre>{{ mapping|pprint }}</pre>
{% endblock resource-debug %}
