{% extends "mappings/mapping_base.html" %}
{% load i18n %}
{% load ocl_tags %}
{% load bootstrap3 %}


{% block tab-content %}
<div class="container" style="margin-top: 20px;">
	<div class="row">

		<!-- Mapipng Details -->
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title">Mapping Details</h3></div>
				<div class="panel-body">
					{% field_label 'ID' mapping.id %}
					{% field_label 'Retired' mapping.retired %}
					{% if mapping.external_id %}
						<hr />
						{% field_label 'External ID' mapping.external_id %}
					{% endif %}
					<hr />
					{% field_label 'Updated by' mapping.updated_by %}
					{% field_label 'Updated on' mapping.updated_at|smart_datetime %}
					{% field_label 'Created by' mapping.created_by %}
					{% field_label 'Created on' mapping.created_at|smart_datetime %}
                	{% if mapping.extras and mapping.extras.items %}
                		<hr />
                		{% for k, v in mapping.extras.items %}
                			{% field_label k v %}
                		{% endfor %}
                	{% endif %}
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock tab-content %}


{% block resource-debug %}
<h4>URL Parameters</h4><pre>{{ url_params|pprint }}</pre>
<h4>Mapping</h4><pre>{{ mapping|pprint }}</pre>
<h4>Source</h4><pre>{{ source|pprint }}</pre>
{% endblock resource-debug %}
